[2018-02-09 14:08] crapo commented on #284
I reverted the grammar and SadlValidator check but just modified the tests as they seemed useful.

[2018-02-09 14:57] kittaakos commented on #284
Thank you!

[2018-03-12 17:11] nbachman opened #286 "Configure the Xtext bindings to support customized hover for SADL resources - Implementation"
From [GH-276](https://github.com/crapo/sadlos2/issues/276): "If a SADL resource has additional RDF comments attached to it, show that in the pop-up when hovering over the AST node element in the editor."

This issue was created to implement the functionality mentioned in the previous issue.

[2018-03-12 17:16] kittaakos commented on #286
For the actual implementation, I would need the desired output format. Also, a way to get the RDF comments (if any) for a particular SADL resource. Do we already have such a utility/service method?

[2018-03-14 18:08] nbachman commented on #286
As it currently stands, if a comment is placed before the initial declaration of any element, a tooltip will appear for every instance of that element with the comment text. Our users indicated this would be sufficient.

I will close this issue now.

[2018-03-15 13:52] nbachman commented on #286
As per our discussion with @crapo today, we would like to utilize the "note" functionality of the grammar to populate the tooltips. This will allow the comment to be part of the OWL model and far more accessible.

![image](https://user-images.githubusercontent.com/3697739/37467309-3f633f62-2836-11e8-9611-ad292bbd62d6.png)

![image](https://user-images.githubusercontent.com/3697739/37467344-533430f

[2018-03-19 10:51] kittaakos commented on #286
PR: https://github.com/crapo/sadlos2/pull/287.

Please review.

[2018-03-19 10:58] kittaakos commented on #286
![gh-286](https://user-images.githubusercontent.com/1405703/37591738-bca2584e-2b6c-11e8-8603-5540deb7c656.gif)

[2018-03-19 16:39] crapo commented on #286
Looks good to me. Forwarded these to Nick, who is working the related Jira.
The animated gif is cool!! You'll have to tell us how you did that.

[2018-03-20 12:52] nbachman commented on #286
The implementation looks good. The functionality works as intended. All tests pass.

[2018-03-20 12:52] #286 closed

[2018-04-09 19:07] nbachman opened #288 "XText Validation causing user interface to "freeze""
Process to cause issue (taken from our user story):
- Import and open project provided below.
- Set “Build Automatically” off
- Clean output
- Open any sreq files and make several edits
- Within a 2-3 changes, ASSERT stops responding for 30 – 60 seconds
- “Xtext validation” is displayed in the progress pane

The objective here is that the "user-interface should not become unusable during Xtext Val

[2018-04-21 11:21] crapo opened #290 "Project-specific preferences not working in JenaBasedSadlInferenceProcessor"
The com.ge.research.sadl.ui class RunInference, execute method, calls getPreferences() in its superclass, SadlActionHandler. This creates a map of preferences for inference-related preference settings, e.g., Sadlpreferences.SHOW_TIMING_INFORMATION. The project-specific setting is not correctly retrieved while the workspace setting is.

To reproduce, use any project with a test or query or even a P

[2018-04-22 17:47] kittaakos commented on #290
PR: https://github.com/crapo/sadlos2/pull/291

[2018-05-02 07:22] kittaakos opened #292 "SADL Web"
This task is the umbrella task for the Web SADL.

The development is done on the [`sadl_theia`](https://github.com/crapo/sadlos2/tree/sadl_theia) branch.

[2018-05-02 07:31] kittaakos opened #293 "The CI builds do not run anymore for PRs"
We moved the development from the default `master` branch to the `development`. CIs do not run anymore when one creates a PR.

[2018-05-02 07:34] kittaakos opened #294 "Bump up the Xtext/Xtend and LSP4J dependencies in the target platform"
This is a subtask of #292.

[2018-05-02 07:34] kittaakos commented on #292
TODOs:
 - [ ] [Bump up the Xtext/Xtend and LSP4J dependencies in the target platform](https://github.com/crapo/sadlos2/issues/294)

[2018-05-02 09:29] kittaakos opened #295 "Create a project for the Theia-SADL backend and frontend contributions"
Belongs to #292.

[2018-05-02 09:32] kittaakos commented on #293
Belongs to #292.

[2018-05-02 09:39] kittaakos commented on #293
Fixed via https://github.com/crapo/sadlos2/commit/b375d54b7eff15c81ddad7867123767b8853ce93.

[2018-05-03 09:32] kittaakos opened #297 "Enable the semantic coloring in the editors"

[2018-05-09 07:58] kittaakos opened #298 "Listen on `.url` file changes and notify the LS from the Theia client"
So we can download and load the external OWL model files into the memory.

This task requires extracting the logic from the Eclipse-based wizard and editor.

[2018-05-09 08:01] kittaakos opened #299 "Refactor the `SadlConsole`."
- It should be possible to inject it.
 - It must have an interface that does not depend on Eclipse (and/or the UI) at all.

[2018-05-09 08:04] kittaakos opened #300 "Add Theia frontend contribution for running the inferencer"
- Add context menu contribution from `.sadl` files (**must**)
 - Add keybinding (not a must)
 - Add main menu contribution (not a must)
 - The inferencer should log any output to the `Output` widget.

Depends on #299.

[2018-05-09 08:05] kittaakos commented on #300
LS extensions must be enabled for SADL.

[2018-05-09 08:49] #290 closed

[2018-05-09 09:19] kittaakos commented on #299
Closed via 85a5847 and 765582a.

The first commit was the global renaming. The second is the refactoring.

[2018-05-09 14:45] kittaakos opened #301 "Multi-project support in Theia"
It should be possible to work with multiple SADL project within a single Theia workspace.

[2018-05-09 14:48] kittaakos commented on #298
It is implemented. The external model files are downloaded as expected - still, I would propose to have a manual command to download the external models.

File change listeners fire up instantly, while the file is being edited by the user. An explicit command (also a context menu from the editor and context menu from the navigator) that runs for the currently active model definition file would be

[2018-05-10 07:47] kittaakos opened #302 "Verify the copyright headers for all TS/JS/Xtend/Java/CSS sources"
[code]

@crapo, could you please confirm whether this is the desired copyright header or not? Thank you!

[2018-05-10 07:51] kittaakos opened #303 "Support SADL specific preferences in SADL"
- The Theia workspace specific preferences should be supported.
 - The SADL project specific preferences should be supported by the LS. For that, we need to have an injectable `IPreferenceValuesProvider` that considers any project-specific SADL preferences.

[2018-05-10 09:20] kittaakos opened #304 "The logic from the `com.ge.research.sadl.ui.handlers` package should be moved to the `ide`"
Otherwise, the logic cannot be reused. It must not depend on Eclipse/UI.

[2018-05-10 12:05] kittaakos commented on #304
An example would be [`SadlRunInferenceHandler `](https://github.com/crapo/sadlos2/blob/4394a42e6ff1fbc9199fab377bc0cbf49357be91/sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.ide/src/com/ge/research/sadl/ide/handlers/SadlRunInferenceHandler.java#L36).

[2018-05-10 13:37] kittaakos opened #305 "Add frontend contribution to run SADL/SPARQL queries"
This requires an input message dialog.

[2018-05-10 13:56] kittaakos commented on #305
First, I need to figure out what does the current (Eclipse-based dialog) logic supposed to do.

<img width="545" alt="screen shot 2018-05-10 at 15 56 00" src="https://user-images.githubusercontent.com/1405703/39873247-aabe355e-546a-11e8-8ea2-1a54cfab6460.png">

<img width="274" alt="screen shot 2018-05-10 at 15 51 47" src="https://user-images.githubusercontent.com/1405703/39873185-81eb1390-546a-11

[2018-05-10 14:00] crapo commented on #305
It's just to allow the user to enter an adhoc query. It could be in SADL grammar or SPARQL grammar, the processor will guess which. The Eclipse implementation also saves queries in the configuration.rdf file and makes them available as a dropdown list so that queries can easily be repeated without having to type or paste them in again.

[2018-05-10 14:04] kittaakos commented on #305
Thank you for the prompt reply! Great, I will simplify the current logic a bit.

[2018-05-10 14:45] kittaakos opened #306 "Inconsistency among preference keys and values"
We have a bunch of preferences defined in the `SadlPreferences`. These are the followings:
[code]

Sometimes the preference key is used as the value:
https://github.com/crapo/sadlos2/blob/4e6770045cc8d1b054c6f89198a4fd13ccaac0bc/sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.ui/src/com/ge/research/sadl/ui/preferences/SadlRootPreferencePage.java#L55-L62

That means, the following preference

[2018-05-11 11:25] kittaakos commented on #304
The run query and the test model handlers have been moved to the core.

[2018-05-11 11:28] kittaakos commented on #305
That was unnecessary. The `query` argument will be passed to the core implementation as a string. The current Eclipse-approach remains the same.

For the Theia part; we need a simple text input dialog.

[2018-05-14 15:35] kittaakos commented on #241
This will be fixed as part of #292.

[2018-05-14 15:35] #241 closed

[2018-05-15 15:52] crapo commented on #305
Project: [Test.zip](https://github.com/crapo/sadlos2/files/2005612/Test.zip)
Use the queries in test.sadl. When the model is run, all of the queries should return values. With timing turned on, the results look like this:
  *************************** start test model output **************************
Inference of '/TestSadl3Ide/Shapes/Test.sadl' requested.
Query: select ?v0 ?v1 where {?v0 <http:/

[2018-05-18 11:58] kittaakos opened #308 "[question] External EMF resources and their location in a SADL project"
Currently, we are checking whether the URI is already in use when we validate the SADL models:
https://github.com/crapo/sadlos2/blob/ec9f27f2c5c4f2d3669563a4c93b3198b43ba847/sadl3/com.ge.research.sadl.parent/com.ge.research.sadl/src/com/ge/research/sadl/validation/SADLValidator.xtend#L105-L108

The logic can conflict with the external EMF models:
https://github.com/crapo/sadlos2/blob/ec9f27f2c5c4f

[2018-05-22 09:35] kittaakos commented on #308
I am OK with pinning the number of external files per project, but then we need validation for that.

We need validation for that. So I am not saying one approach is better than the other, but if we restrict the file name, the location and the number of definition files, we need to validate them in the headless, the web, and the Eclipse case.

I would leave as is. I just wanted to be aware of the

[2018-05-22 11:36] kittaakos opened #309 "[question] Uniqueness of the model URLs, aliases, and model file names"
@crapo, are these unique globally (per workspace) or per project? Related code:

https://github.com/crapo/sadlos2/blob/ec9f27f2c5c4f2d3669563a4c93b3198b43ba847/sadl3/com.ge.research.sadl.parent/com.ge.research.sadl/src/com/ge/research/sadl/validation/SADLValidator.xtend#L105-L113

I would expect: per project. Thank you!

[2018-05-22 12:04] crapo commented on #309
Model file names, e.g., mymodel.sadl, would only theoretically need to unique per folder, as the file system would require, but I imagine are checked for uniqueness per project. Model identifiers, which are synonymous in SADL with namespace identifiers, must be unique across the scope of usage. If a project is independent, then per project, but if a project depends on other projects then a URI mus

[2018-05-22 12:11] crapo commented on #308
"3. External download folders are next to the external definition files." -- not sure what this means. Right now all external owl files are in the "externalmodels" folder in the root project folder, which seems reasonable to me. I don't think that external models should ever be placed in the OwlModels folder as that just makes sorting things out more complicated. Am I missing something?

[2018-05-22 15:06] kittaakos commented on #304
Done.

[2018-05-22 15:06] #304 closed

[2018-05-22 15:08] kittaakos commented on #299
This was done. One can inject the console but code that rely on Eclipse, can still acquire the shared singleton without injection.

[2018-05-22 15:08] #299 closed

[2018-05-22 15:11] kittaakos commented on #295
It is there with the example applications.

[2018-05-22 15:11] #295 closed

[2018-05-22 15:13] kittaakos commented on #305
It is supported with one single exception: we do not store previous queries for the web. So the user cannot reuse them.

[2018-05-22 15:13] #305 closed

[2018-05-22 15:20] kittaakos opened #310 "We need a customized workspace for the Xtext language server"
It blindly casts the resources to an XtextResource which does not work well with the external EMF resources:
[code]

[2018-05-22 15:29] kittaakos opened #311 "Rule name mismatch in the coloring for the web"
According to the coloring, it seems to be a variable.

[2018-05-22 15:30] kittaakos opened #312 "How to configure the (firewall) proxies at the Theia backend"
It is doable in Eclipse. We need this for the external model downloading.

[2018-05-22 15:31] kittaakos opened #313 "Adjust syntax coloring in the web"
So that it goes well with both the light and dark theme.

[2018-05-22 15:43] kittaakos opened #314 "Hover provider should extract the information from the model instead of the parse-tree"
See #286.

[2018-05-22 16:20] kittaakos commented on #310
Done.

[2018-05-22 16:20] #310 closed

[2018-05-22 16:32] kittaakos commented on #314
It is there, we need a service to be able to support both HTML and markdown.

[2018-05-22 17:30] kittaakos commented on #312
https://expressjs.com/en/guide/behind-proxies.html

[2018-05-23 07:55] kittaakos opened #315 "Merge the timing information changes for the inferencer to the SADL_Web branch"
https://github.com/crapo/sadlos2/commit/cfcecc87d9b994d0db187ca37cc38788d0dbfe8b#diff-9efebc7d3d3dee4baebb3dcdf963b819

Get rid of the Eclipse dependencies.

[2018-05-23 08:36] kittaakos commented on #315
Done.

[2018-05-23 08:36] #315 closed

[2018-05-23 08:41] kittaakos commented on #313
Light theme:
<img width="740" alt="screen shot 2018-05-23 at 10 41 05" src="https://user-images.githubusercontent.com/1405703/40413332-dedf3300-5e75-11e8-9bd7-883f5d7ebcef.png">

[2018-05-23 09:06] kittaakos commented on #313
This is done.

[2018-05-23 09:06] #313 closed

[2018-05-23 09:14] kittaakos commented on #293
It is enabled. See: https://github.com/crapo/sadlos2/pull/296

[2018-05-23 09:14] #293 closed

[2018-05-23 09:33] kittaakos opened #316 "NPE when processing expression"
The error manifests when running the content assist tests on the `development` branch.

[code]

The bug was introduced here:
https://github.com/crapo/sadlos2/commit/8a58ebd46945496497a0283e63e476d40a5b77e2#diff-00be580bebaf34917cfb6ac809e73015R5292

and here:
https://github.com/crapo/sadlos2/commit/8a58ebd46945496497a0283e63e476d40a5b77e2#diff-00be580bebaf34917cfb6ac809e73015R5300

With this commi

[2018-05-23 11:18] kittaakos opened #317 "[windows] Failing UI tests on the `development` branch"
As of the [`HEAD`](https://github.com/crapo/sadlos2/commit/06d412e2bb195292f861251d5b43cef2a0409455) of the `development` branch, I have failing UI tests on Windows. This does not happen on OS X. Although this is just a wild guess, some process or stream still uses the test model files and the test workspace cannot be cleaned up.

<img width="465" alt="screen shot 2018-05-23 at 13 15 40" src="http

[2018-05-23 11:48] kittaakos opened #318 "Build the SADL LS jar"

[2018-05-23 11:51] kittaakos commented on #317
[code]

[2018-05-23 11:54] kittaakos commented on #317
The `rules` files seem to remain there after the deletion.
[code]

[2018-05-23 12:20] crapo commented on #316
Fixed with commit: [https://github.com/crapo/sadlos2/commit/a8c88099a0212f06644c2a3f55c9aebe792947b0]

[2018-05-23 12:20] #316 closed

[2018-05-23 14:45] kittaakos commented on #317
I have tried to unset the read-only flag before the deletion. It did not work. Also, I have tried to create the rules files with `readonly` `false` flag, that did not work either. I would say, some process keeps the file open and that's the reason Windows does not allow deleting it.

[2018-05-23 16:13] kittaakos commented on #317
I got this when I ran the `com.ge.research.sadl.ui.test.inference.GH_275_CheckTranslatorAndInferencerPluginTest.checkTranslatorOutput()` test. I had the problem on my Windows 10 image, also on the Windows CI. The test is green on OS X.

[2018-05-23 20:00] crapo commented on #317
I do not get any errors running that test, development branch.

[2018-05-23 20:02] kittaakos commented on #317
Thanks for checking! I will try to reproduce it again on my Windows image.

[2018-05-24 07:53] kittaakos commented on #312
This item is invalid. The server downloads the externals, not the clients.

[2018-05-24 07:53] #312 closed

[2018-05-24 07:54] kittaakos opened #319 "Provide a docker image for Theia."

[2018-05-24 07:56] kittaakos opened #320 "The default preferences file should be generated when one creates a new SADL project in Theia"

[2018-05-24 08:27] kittaakos commented on #320
This is done. This content will be the following:
[code]

Note, comments are not allowed in JSON files, but we use the [`jsonc`](https://www.npmjs.com/package/jsonc-parser) parser in Theia.

[2018-05-24 08:27] #320 closed

[2018-05-25 11:16] kittaakos opened #321 "Exception in CA"
[code]

[code]

[2018-05-25 13:15] kittaakos commented on #318
It is done.

[2018-05-25 13:15] #318 closed

[2018-05-25 16:30] kittaakos commented on #319
Git integration seems to be broken: https://github.com/theia-ide/theia/issues/1964

[2018-05-25 17:09] kittaakos opened #322 "[theia] Expand the folder in the navigator after creating a new SADL project."

[2018-05-25 17:12] kittaakos opened #323 "[sadl-ls] Check why `OwlModels` folder is generated twice"
Happens when running the LS jar from the docker. Perhaps the SADL Server launcher has an incorrect binding and the NOOP SADL project helper is used at runtime.

[2018-05-25 20:07] kittaakos commented on #323
Fixed.

[2018-05-25 20:07] #323 closed

[2018-05-25 20:16] kittaakos commented on #319
This is done.

[2018-05-25 20:16] #319 closed

[2018-05-28 08:04] kittaakos commented on #322
Done.

[2018-05-28 08:04] #322 closed

[2018-05-28 11:00] kittaakos commented on #317
It does not happen on AppVeyor anymore. I am closing this. Please reopen if you see the same test failures.

[2018-05-28 11:00] #317 closed

[2018-05-29 12:47] kittaakos opened #324 "[scoping] Ambiguous name detection should respect SADL projects"
Currently, when the scope provider runs outside of the Eclipse environment, considers two different implicit models the same although they belong to different SADL projects.

[2018-05-29 13:14] kittaakos commented on #324
This seems to be invalid. Sorry for the false alarm. I am closing this.

[2018-05-29 13:14] #324 closed

[2018-05-30 18:19] kittaakos opened #325 "[theia] Cannot build multiple SADL projects imported from Git"
Steps to reproduce:
 - Open Theia with a fresh new WS. Start the LS in debug (`socket`) mode.
 - Open a new terminal and do: `git clone https://github.com/kittaakos/sadl-examples.git`.

The build order (extracted from the LS Log) was the following:

[code]

LS Log:
[code]

[2018-05-31 08:27] kittaakos commented on #325
This happens on the `development` branch too. One can reproduce it by disabling the auto-build, creating a new project and copying the files there from https://github.com/kittaakos/sadl-examples/tree/master/coloring.
Then open `Test.sadl` and enable auto-build. With this trick, it is ensured that the `Test.sadl` file will be the first one to build.

[code]

It seems, the build order does matter an

[2018-05-31 11:16] kittaakos commented on #325
`Circle.sadl` has the problem. If I remove the `as Shapes` and I change the QN from `Shapes:Circle` to `Circle`, it works.

[2018-05-31 15:02] crapo commented on #325
Sorry, I was trying to push a fix to a blocking issue and didn't see this sooner.
I will investigate. From an ontology perspective, order does matter. Not sure I understand the comment.
Using local as opposed to global aliases is mostly a carryover of old versions of SADL. I will try to reproduce and then comment.

[2018-05-31 15:18] crapo commented on #325
I have pushed a fix to the NPE to development. However, the issues with a local alias are more complex. Local alias are not needed for now. It is expected that .sadl files will have a global alias given in the "uri" statement. There used to be a warning if that was missing--not sure how it got broken.

[2018-05-31 15:20] crapo commented on #325
Shapes:Circle doesn't work because Circle isn't in the Shapes namespace. That is a correct error.

[2018-05-31 15:23] crapo commented on #325
Here's what I would think valid models in simplest form. The use of QNames is only needed if there are multiple imported concepts with the same name.

[2018-05-31 15:24] crapo commented on #325
[code]

[2018-05-31 15:24] crapo commented on #325
`uri "http://sadl.org/Rectangle.sadl" alias Rect.

import "http://sadl.org/Shapes.sadl".

Rectangle is a type of Shape,
    described by height with values of type float,
    described by width with values of type float.

Rule AreaOfRect: if x is a Rectangle then area of x is height of x * width of x.
`

[2018-06-29 08:04] kittaakos opened #326 "The Maven build fails due to Java SecurityException: signer information does not match"
I wiped my Maven repositories and ran `mvn -D clean verify` on the HEAD (`git rev-parse --short HEAD` -> 7973a05d) of the `master` branch. By the way, the same happens on the `development` (afea61af) branch too.

[code]

Full console log:
[sadl-mvn-clean-verify-master.txt](https://github.com/crapo/sadlos2/files/2148350/sadl-mvn-clean-verify-master.txt)

[2018-06-29 09:05] kittaakos commented on #326
This could be related: https://bugs.eclipse.org/bugs/show_bug.cgi?id=483338

[2018-06-29 09:54] kittaakos commented on #326
This: https://github.com/eclipse/xtext/issues/1231

[2018-06-29 14:20] zacharydavidr commented on #326
Used the workaround to mentioned by cdietrich that includes replacing the plugin definition in all our pom files with the definition he provided. Our builds pass with this workaround. Looks like it adds a  dependency for org.eclipse.equinox.common, at least that's the result after changing our pom files.

[2018-06-29 14:24] kittaakos commented on #326
I am still trying to get the build pass locally. It is failing with the following error.
[code]

@zacharydavidr, please confirm; can you proceed with the workaround? Thanks!

[2018-06-29 14:56] zacharydavidr commented on #326
I deleted my .m2 repository again and forced new downloads of everything. I'm still getting a passing build on saldos2. I'm running our project again just to make sure, but right now it looks like we can proceed.

[2018-07-02 09:07] kittaakos commented on #326
Awesome. Thanks for the verification.

I am closing this, please reopen if necessary.

[2018-07-02 09:07] #326 closed

[2018-07-18 15:46] kittaakos commented on #325
There were a few issues here.
 - First off, the syntax I wrote was incorrect. It has been corrected.
 - There was another issue with the global scope provider for the imports. Let assume, the Theia workspace contained two distinct `Shapes.sadl` files from two independent projects (`P1` and `P2`). When the `Circle.sadl` model file (from `P1`) imported `Shapes.sadl`, it was not ensured that `Shapes.

[2018-07-18 15:46] #325 closed

[2018-07-19 12:50] kittaakos opened #327 "IllegalArgumentException: Unhandled parameter types with broken AST"
Similar to #321.

[code]

The cursor is at `<|>`. Type any character:

[code]

[2018-07-19 12:58] kittaakos commented on #321
Fixed with #292.

[2018-07-19 12:58] #321 closed

[2018-07-19 12:58] kittaakos commented on #327
Fixed with #292.

[2018-07-19 12:58] #327 closed

[2018-08-20 16:55] crapo opened #328 "Error in ambiguous name detection, import of import"
Given this simple set of SADL files:
M1.sadl:
` uri "http://sadl.org/M1.sadl" alias M1.
  Rock is a class described by hardness with values of type decimal.`

M2.sadl:
` uri "http://sadl.org/M2.sadl" alias M2.
 Person is a class described by M2:hardness with values of type Character.
 Character is a class, must be one of {Soft, Moderate, Hard}.`

M3.sadl:
` uri "http://sadl.org/M3.sadl" alias M3.

[2018-08-23 19:11] crapo opened #329 "[T] Help linking TestSuite and Template references to SADL and OWL XtextResources"
Need interactive session to explain, discuss.

[2018-08-23 19:13] crapo opened #330 "Executing TestSuite .test file"
Need discussion, help to use JenaBasedSadlInferenceProcessor to run inference tests on each of the .sadl files referenced in a .test file.

[2018-08-27 08:35] kittaakos opened #331 "Cannot build from the HEAD of the `development` branch"
[code]

[2018-08-27 08:36] kittaakos commented on #328
I cannot build the project. See here: https://github.com/crapo/sadlos2/issues/331 Am I missing something?
Once that has been fixed, I can look into this issue.

[2018-08-27 12:27] crapo commented on #331
Can we have a Skype meeting to discuss? I've not seen this before and the class ReadFailureHandler is referenced in three different projects and has not changed, to my knowledge, any time recently. Is the lib jena-core-2.13.0.jar on your class path? This jar contains the class. And what's the significance of "invalid LOC header (bad signature)"? Sounds like you have it on the classpath but not the

[2018-08-27 12:32] kittaakos commented on #331
OK, thanks for the update. I wipe my local maven first and try to reproduce the issue. If it still does not work, let's have a call.

[2018-08-27 13:00] kittaakos commented on #331
I could build it with a fresh, local maven repository:
[code]

[2018-08-27 13:00] #331 closed

[2018-09-25 12:18] kittaakos opened #332 "[T] Broken tests in `c.g.r.sadl.jena-wrapper-for-sadl`"
I cannot run the tests. Same failure when working on #296. I will disable them. This GH issue is for fixing and enabling the tests.

![screen shot 2018-09-25 at 14 15 45](https://user-images.githubusercontent.com/1405703/46013879-cb832b80-c0cd-11e8-8bf2-dad2cc8eba36.jpg)

[2018-09-27 19:59] crapo opened #333 "json validation error?"
in the com.ge.research.sadl.parent project, .vscode folder, the file launch.json gets a validation error in my Eclipse, saying "Expected name at 2:4". Is this a real error? Should I be turning of json validation?

[2018-10-02 11:29] crapo commented on #333
per Akos, json file was deleted, not necessary

[2018-10-02 11:29] #333 closed

[2018-10-02 11:33] crapo opened #334 "Preference refactoring for type checking"
Currently preferences related to type checking are all at the top level. A new preference is needed to control whether it is an error for a property used in an expression to not have a specified domain. Clearly for some models one might wish to not specify a domain, which is fine from an OWL perspective, while other models might be better served by making sure that all properties have a specified

[2018-10-11 18:38] #292 closed

[2018-10-15 20:16] crapo opened #335 "Error I don't understand after changes to get grammar keywords"
With changes in branch AWC-Grammar-BasedReservedWords (commit https://github.com/crapo/sadlos2/commit/b55d0c3054088e344e510bc96c01995a3af90e5c) the UI test case GH_275_CheckTranslatorAndInferencePluginTest.checkTranslatorOutput fails with error that I don't understand.
`java.lang.IllegalStateException: Passed org.eclipse.xtext.builder.clustering.CurrentDescriptions is not based on a resource set

[2018-10-16 19:09] crapo opened #336 "External OWL models from file URL?"
When I edited an externalmodels.url and put in a file:/... URL, it failed with an error message about not being a platform URL. This was working. Maybe it got broken in the Web SADL work?

[2018-10-16 19:19] crapo opened #337 "External models in Web SADL"
This is probably a documentation question. My understanding is that Web SADL supports external models. I don't see it in the list of "Known Limitations". So I create an OWL file somewhere on the drive, say at "/DATA/externals/MyFile.owl" and add "file:/DATA/externals/MyFile.owl" to my.url file. How do I then cause the action equivalent of clicking on "Download External Models" to occur?

[2018-10-17 07:03] kittaakos commented on #335
You should try to inject the `SADLParser` instead of creating an injector in the [static scope](https://github.com/crapo/sadlos2/commit/b55d0c3054088e344e510bc96c01995a3af90e5c#diff-00be580bebaf34917cfb6ac809e73015R10645) and acquiring a parser instance.

[2018-10-17 07:03] kittaakos commented on #336
Yes. I was not aware of this feature. I will take care of it.

[2018-10-17 07:05] kittaakos commented on #337
It is the same as https://github.com/crapo/sadlos2/issues/336.

It does not handle URIs with the `file` scheme. I am closing this.

[2018-10-17 07:05] #337 closed

[2018-11-05 22:03] crapo commented on #335
Does that mean that the method can't be static? The problem is that getSadlKeywords() is called by createBuiltinFunctionImplicitModel(String projectRootPath), which is static and is called from several places including the headless processing. So these static calls should create an instance of the JenaBasedSadlModelProcessor? Not sure how to deal with the static calls...

[2018-11-06 07:05] kittaakos commented on #335
I am currently on
[code]
and the `GH_275_CheckTranslatorAndInferencerPluginTest` tests pass. Please give me a branch I can check out to reproduce the issue.

[2018-11-06 13:31] crapo commented on #335
This is on branch AWC-Grammar-BasedReservedWords as noted in the original issue post. I've pushed the partial update that I did to try to inject the SADLParser per you first comment, so the current code will have compile errors related to the static method calling a non-static method.

[2018-11-06 13:55] kittaakos commented on #335
Unfortunately, in this commit (d2705e4834306dd14f5ed36645956cc76c328816), the URI building is broken on OS X.

There is no such URI on UNIX: `file://Users/akos.kitta/dev/wss/junit-workspace/resource`.
It should be `file:///Users/akos.kitta/dev/wss/junit-workspace/resource` instead. The above-mentioned commit results in 35 UI test failures from the 55. Is this something you want to take care of or

[2018-11-06 15:17] crapo commented on #335
Since none of us have a Unix environment, if you are willing to fix this that would be great. Nick pushed the commit that broke the tests on Unix without knowing that it be an issue. My sense is that we already have code that converts platform URLs to file URLs in an OS-independent way, and that he could have used them. So it may just be replacing what he did with calls to existing functions or ex

[2018-11-06 16:23] kittaakos commented on #335
@crapo, I have created the PR with the changes: https://github.com/crapo/sadlos2/pull/338.

Could you please try this on your side too? All my tests, including the `GH_275_CheckTranslatorAndInferencePluginTest` were green locally.

It should be sufficient to push the `Merge pull request` button and the changes will be available on the `AWC-Grammar-BasedReservedWords` branch.

Let me know if you st

[2018-11-06 17:44] crapo commented on #335
Looks good. Thanks!!!

[2018-11-06 17:44] #335 closed

[2018-11-07 22:04] crapo opened #339 "Need to have process to build updated docker image for Web SADL"

[2018-11-15 15:11] crapo commented on #336
Humm... Now I'm seeing an error for http URIs.

Create a new project, create a .sadl file to give it the correct nature.
Add this content to an externalmodels.url file:

--This is a list of URLs of OWL model files to add to the external models directory for this project.
http://sadl.sourceforge.net/owl/apvf.owl
http://sadl.sourceforge.net/owl/aulo.owl
http://sadl.sourceforge.net/owl/time-entry.owl

[2018-11-15 15:18] crapo opened #340 "SadlBaseModel processing?"
The SadlBaseModel.owl file in the OwlModels folder is imported explicitly into every OWL model created from a .sadl file. However, the concepts defined in the SadlBaseModel.owl are not available in the .sadl file. What would be involved in making the SadlBaseModel.owl file an impllicit import in the .sadl files as well so that, for example, I could create a .sadl file containing:

 uri "http://sad

[2018-11-15 15:23] crapo commented on #340
This is probably related to Issue #248

[2018-11-16 10:03] kittaakos opened #341 "Make the CA more robust"

[2018-11-16 13:41] kittaakos commented on #336
I have fixed the download logic for both the `http` and the `file` URIs.

PR: https://github.com/crapo/sadlos2/pull/343

[2018-11-16 14:04] kittaakos commented on #340
We need to adjust the scoping and the `ExternalEmfResource` with the factories and the predicates. I cannot see any technical obstacles, but this requires further investigation and a bunch of test cases.

[2018-11-19 23:16] crapo opened #344 "Need help adjusting scoping for new grammar constructs"
I have extended the EquationStatement grammar to
1) have a "where" clause in which variables can be defined and in which assumptions can be stated, and
2) have a "return" statement that allows the values returned by an equation to be explicitly stated.
Note that a previous grammar change allows Equations to return multiple values, in which case a list syntax allows specifying to what variables the

[2018-11-20 18:29] crapo commented on #336
Now it appears to work correctly. Thanks!

[2018-11-20 18:29] #336 closed

[2018-11-20 18:48] crapo opened #345 "Grouped SADL preferences not working on project-specific settings"
Related to [https://github.com/crapo/sadlos2/issues/334](url)

I organized the SADL preferences using a org.eclipse.swt.widgets.Group but apparently that's incompatible with the org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage? It works for workspace preferences but if I try to go to project properties it chokes with message "The currently displayed page contains invalid values."

[2018-11-20 18:52] crapo commented on #334
implemented grouping but has glitch, see [https://github.com/crapo/sadlos2/issues/337](url)

[2018-11-27 10:40] kittaakos commented on #344
I have set up the [`GH-344`](https://github.com/crapo/sadlos2/tree/GH-344) branch for the development. It is a branch from the [`AWC-ServicesConfig`](
https://github.com/crapo/sadlos2/tree/AWC-ServicesConfig) branch. The branch base is f4ff6574.

[2018-11-27 11:51] kittaakos commented on #344
@crapo, the example you have provided has compiler errors. I created a new project with SADL (Eclipse) IDE, added a new `x.sadl` file and copied over the [example from above](
https://github.com/crapo/sadlos2/issues/344#issue-382432616).

[code]

[2018-11-27 14:10] crapo commented on #344
Not sure why it had compile errors. I've pushed all of my changes to AWC-ServicesConfig in case there was something not pushed.

[2018-11-27 14:11] kittaakos commented on #344
Thank you, I am trying it now.

[2018-11-27 14:17] crapo commented on #344
Ah, figured out what's probably the issue. I modified SadlImplicitModel.sadl:
uri "http://sadl.org/sadlimplicitmodel" alias sadlimplicitmodel.

impliedProperty is a type of annotation.
expandedProperty is a type of annotation.
ScientificConcept is a class.
UnittedQuantity is a type of ScientificConcept,
	described by ^value with values of type decimal,
	described by unit with values of type string

[2018-11-27 14:17] crapo commented on #344
sorry about that!

[2018-11-27 14:20] kittaakos commented on #344
Yes, it works now. 👍 Do you want me to update the `com.ge.research.sadl.processing.ISadlImplicitModelContentProvider.Default` to reflect your implicit model modifications or you take care of it?

[2018-11-27 14:21] crapo commented on #344
Actually, this modification is unique to this particular project and so should not be in the default. This is an example of why the implicit model is a SADL model that can be edited by the modeler as needed.

[2018-11-27 14:23] kittaakos commented on #344
Noted. I will figure out a way how to manifest your example as a test case without modifying the default implicit model content.

[2018-11-27 15:31] crapo commented on #344
The additional implicit model content could just appear in the current model for the test case. I put it in the implicit model so it would be everywhere automatically available.
ScientificConcept is a class.
UnittedQuantity is a type of ScientificConcept.

[2018-11-27 15:32] kittaakos commented on #344
Yeah, it makes sense, and it's straightforward; thanks for the hint.

[2018-11-28 09:45] kittaakos opened #346 "Jena model processor: NPE when Equation is broken in the AST"
[code]

[code]

[2018-11-28 12:44] kittaakos commented on #344
@crapo, I have transformed [the constraints](
https://github.com/crapo/sadlos2/issues/344#issue-382432616) into a test case. Can you please review whether it complies the requirements? Thank you!

The definitions are in `[]` and the references are in `<>`.

[code]

[2018-11-28 13:12] crapo commented on #344
Yes, that is correct.

[2018-11-28 15:06] kittaakos commented on #344
@crapo, I created a [PR](https://github.com/crapo/sadlos2/pull/347) for this issue. Could you please try it out locally? Thank you!

[2018-11-29 14:06] crapo commented on #344
Here's a slightly different Equation that doesn't quite work correctly. I've bolded the part that isn't right.
[code]

[2018-11-29 15:19] kittaakos commented on #344
What is a `PhysicalObject`?

[2018-11-30 14:43] kittaakos commented on #344
@crapo, in your [last example](https://github.com/crapo/sadlos2/issues/344#issuecomment-442845288), you have used the following:
[code]

Can you please explain where do we use `<fv>` and `<fu>`?

I would have expected the following:
[code]

or
[code]

but I do not understand how can `fv` and `fu` be a reference.

I have transformed your example into the following test. If you mean something else,

[2018-11-30 14:49] kittaakos commented on #344
I have created a PR with the fixes: https://github.com/crapo/sadlos2/pull/348

FYI: scoping for the equation statements is broken on the `development`. The PR should fix it.

[2018-11-30 15:11] GEGlobalResearch commented on #344
Sorry, my example was wrong. It was missing the definition of fv, fu.  I will create a Java test case, but won't get to it until Monday. To document, once I fixed the example I get cross linking between two equations (without latest PR):
************************************************************
Equation newtons2ndLaw
	(note "net Force on a physical object is equal to the derivative of the momen

[2018-12-03 08:40] kittaakos commented on #339
@crapo, do you have any preferences on this issue?
 - What service should we use? (Travis CI, AppVeyor, Azure, etc...)
 - Who should be the administrator of the services? (We have to generate, encrypt, and use GitHub and npmjs.org OAuth tokens on the CIs.)
 - When do you want to build a new language server?
 - When should we publish the Theia SADL extension
 - When do we want to build the new Dock

[2018-12-03 08:42] kittaakos commented on #345
I have set up [`GH-345`](https://github.com/crapo/sadlos2/tree/GH-345) from the [`AWC-ServicesConfig`](https://github.com/crapo/sadlos2/tree/AWC-ServicesConfig) branch for the development.

[2018-12-03 09:21] kittaakos commented on #345
Steps to reproduce:
 - Right-click on the project in the `Project Explorer` > `Properties` > `SADL` > Error.
 - It does **not** happen when opening the preferences from `Preferences` (<kbd>Cmd</kbd>+<kbd>,</kbd> on macOS)> `SADL`.

@crapo, do you want me to fix the layout in the SADL preferences page or is this the desired layout?

![screen shot 2018-12-03 at 10 19 22](https://user-images.githubus

[2018-12-03 09:21] kittaakos commented on #345
Corresponding change: https://github.com/crapo/sadlos2/commit/c68be1051e32e9feefbdce4744a540dce36dce45#diff-b6204f44f11a4a1f61c8634d5112922e

[2018-12-03 12:53] kittaakos commented on #345
This seems to be an Xtext issue. [Here](https://github.com/eclipse/xtext-eclipse/blob/f75a21470af2b3f6252a86adb7af74f2af5423d9/org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/editor/preferences/AbstractPreferencePage.java#L234) is the difference. I am trying to reproduce this outside of SADL.

[2018-12-03 13:38] GEGlobalResearch commented on #345
The layout isn't a desired layout. I was just trying to group the preferences and that layout was what came out. I don't understand how to make the layout better, but was first worried about the fact that it wasn't working at all for project-specific preferences.

[2018-12-03 13:39] kittaakos commented on #345
Here is the upstream issue: https://github.com/eclipse/xtext-eclipse/issues/916

[2018-12-03 13:52] kittaakos commented on #345
Xtext 2.16 does not support this use-case. We can implement this feature for Xtext, provide a PR and then we have to use 2.17 nightly. Let me know if this is what we want.

[2018-12-03 14:01] GEGlobalResearch commented on #345
Would the implementation in Xtext be charged to our PO? If so, what is the estimated effort? What is your assessment of risk using 2.17 nightly and what is the estimated time until it would make it into an Xtext release?

[2018-12-03 14:34] crapo commented on #344
I've updated the test case with the corrected equation and also a prior equation where I saw cross-linking of variables with a prior version of the code. Commit is [](https://github.com/crapo/sadlos2/commit/c5aeb08adc818b4719ae5022a2de8075218d0f1d)

[2018-12-03 20:50] kittaakos commented on #344
@crapo, I have fixed the tests and pushed my changes to your `AWC-ServicesConfig` branch: https://github.com/crapo/sadlos2/commit/f41940b3bceaa514b896a34df283b58b8d54ca39.

[2018-12-04 10:54] kittaakos commented on #345
@crapo, I managed to come up with an implementation that works for our needs without Xtext modifications. PR: https://github.com/crapo/sadlos2/pull/349

[2018-12-04 13:17] crapo commented on #345
Great!! Thank you. I'll test.

[2018-12-04 13:33] crapo commented on #345
Looks great!!

[2018-12-04 13:33] #345 closed

[2018-12-04 13:36] crapo commented on #344
This appears to all work properly now. Excellent!

[2018-12-04 13:36] #344 closed

[2018-12-04 13:58] crapo commented on #346
added checks, corrected extraction of arguments and argument types from EObjects.

[2018-12-04 13:58] #346 closed

[2018-12-04 19:18] #341 closed

[2018-12-17 16:04] crapo commented on #339
@kittaakos , I have created all the tokens, etc., per your instructions in email. Ready for next step as far as I know.

[2018-12-17 16:05] crapo commented on #334
Workaround suggested seems to have been successful. Thanks!

[2018-12-17 16:05] #334 closed

[2018-12-17 16:06] crapo commented on #329
This works as desired. Thanks for the help!

[2018-12-17 16:06] #329 closed

[2018-12-17 16:07] crapo commented on #309
Is this question resolved? Can this be closed?

[2018-12-18 14:51] kittaakos opened #353 "recent logger changes break the LS build"
Steps to reproduce:
[code]

[code]

This blocks #339.

[2018-12-18 14:54] crapo commented on #353
@tuxji , I believe you made the logger changes? Could you please look at this and see if you can resolve the issue? Thanks.

[2018-12-18 15:04] kittaakos commented on #353
Hint: we cannot use [`org.eclipse.xtext.builder.clustering.CurrentDescriptions`](https://github.com/eclipse/xtext-eclipse/blob/9961d23c5fcd513f8d83dc2e123acec1bf7f4430/org.eclipse.xtext.builder/src/org/eclipse/xtext/builder/clustering/CurrentDescriptions.java), it depends on Eclipse.

[2018-12-18 16:03] tuxji commented on #353
@crapo, this is a tough problem to fix (by the way, it has nothing to do with logging).  I indeed used org.eclipse.xtext.builder.clustering.CurrentDescriptions in /sadl3/com.ge.research.sadl.parent/com.ge.research.sadl/src/com/ge/research/sadl/SADLRuntimeModule.xtend to prevent an exception when ExecuteCommand was building SADL files in the project (caused by the fact that ExecuteCommand was calli

[2018-12-18 16:10] tuxji commented on #353
Alternatively, ExecuteCommand could keep calling SADLStandaloneSetup().createInjectorAndDoEMFRegistration() if it also bound MyResourceSetBasedAllContainersStateProvider itself.  How can we move MyResourceSetBasedAllContainersStateProvider and its bind call from SadlRuntimeModule.xtend to ExecuteCommand.java, @kittaakos?

[2018-12-18 16:15] kittaakos commented on #353
@tuxji, thanks for the info on this. I do not mind trying to fix the `CurrentDescriptions` issue but I need some input files and help to feed the CLI application. Otherwise, I cannot make sure I am not breaking it.

The bug you have referenced [also mentions](https://bugs.eclipse.org/bugs/show_bug.cgi?id=426212#c4) the following:
[code]

We cannot have a running Eclipse platform and call the Stand

[2018-12-19 09:49] kittaakos commented on #353
I have moved the customization into the CLI app. PR: https://github.com/crapo/sadlos2/pull/354

[2018-12-19 11:47] kittaakos opened #355 "NPE in Jena based model processor with broken AST"
[code]

Steps to reproduce:
 - Import the [`coloring`](https://github.com/crapo/sadlos2/tree/master/sadl3/com.ge.research.sadl.parent/theia-sadl-extension/sadl-extension/example-projects/coloring) example project.
 - Change `Shape` in the [`Shapes.sadl`](https://github.com/crapo/sadlos2/blob/1fb75682662792e87c563614d701a457380d37ff/sadl3/com.ge.research.sadl.parent/theia-sadl-extension/sadl-extens

[2018-12-19 13:54] crapo commented on #355
I followed the steps to reproduce but did not get the same error. Did discover dumb mistake in yesterday commit, JenaBasedSadlModelProcessor lines 7263, 7266, which I've fixed, but that was just passing in null argument. I do not go through the line of code in JenaBasedSadlModelValidator, line 3137. What's different?

[2018-12-19 15:27] crapo opened #356 "sadlimplicitmodel different in two projects with dependency creates errors"
Given two Eclipse SADL projects, PrjA and PrjB, and project PrjB has dependency on project PrjA, errors may result.
Case 1: PrjA has a modified sadlimplicitmodel defining a class ScientificConcept, of which UnittedQuantity is a subclass:
`ScientificConcept is a class.
UnittedQuantity is a type of ScientificConcept,
	described by ^value with values of type decimal,
	described by unit with values of

[2018-12-21 08:26] kittaakos opened #357 "[releng] Maven build fails with java.lang.NoSuchMethodError: org.eclipse.jdt.internal.compiler.batch.FileSystem.getClasspath"
Workaround: https://github.com/eclipse/xtext/issues/1373#issuecomment-449001543

[code]

I am going to provide the fix as part of #339.

[2018-12-21 09:18] kittaakos commented on #357
PR: https://github.com/crapo/sadlos2/pull/358

[2019-01-23 18:28] #357 closed, assigned to kittaakos

[2019-01-25 18:40] #339 closed

[2019-01-25 19:14] kittaakos commented on #340
I am not sure we can keep the `SadlBaseModel.owl` file in the `OwlModels` folder. The `OwlModels` folder is the gen folder and we [use the generator to create it](https://github.com/crapo/sadlos2/blob/847f26c7b5efb5b3ca4da0528824776524350eff/sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.jena/src/com/ge/research/sadl/jena/JenaBasedSadlModelProcessor.java#L521). It will be a derived resourc

[2019-01-25 19:37] GEGlobalResearch commented on #340
I think that would be fine, as long as that doesn't break the auto-importing into every model in the project. That leaves a couple of other OWL files that are automatically generated and put in the OwlModels folder that we do not want to index, but that should be fine I think--the ones in the ImplicitModel folder are indexed and the auto-generated in the OwlModels folder are not indexed.

[2019-01-28 08:05] kittaakos commented on #340
If we have to change the current implementation and the location of the `SadlBaseModel.owl` from `OwlModels` to `ImplicitModels` anyway, would it be possible to have a `SadlBaseModel.sadl` file instead and the generator would take care of generation. With this approach:
 - we do not have to customize the external EMF resource logic,
 - we would handle the built-in functions, the implicit model, an

[2019-01-28 12:21] kittaakos commented on #340
👍

Is there anything I need to do with this task?

[2019-01-28 12:38] GEGlobalResearch commented on #340
No, I think you've brought it to a successful conclusion. Ball is now in my court. Thanks!

[2019-01-28 12:40] #340 closed

[2019-02-07 15:33] kittaakos opened #360 "[ci] npm publishing fails with node-gyp issue"
[code]

[2019-02-07 21:06] kittaakos commented on #360
The build is green now: https://travis-ci.org/crapo/sadlos2/builds/490093078.

[2019-02-07 21:06] #360 closed

[2019-02-18 15:26] crapo opened #361 "pom error with Eclipse 2018-12"
@kittaakos After pulling the updates to change target to Eclipse 2018-12, I get this error in the com.ge.research.sadl pom.xml file (and in other pom files). Should I need to install this?

Multiple annotations found at this line:
	- Project configurator "org.eclipse.xtend.m2e.xtendConfigurator" required by plugin execution "org.eclipse.xtend:xtend-maven-plugin:2.15.0:testCompile (execution:
	 def

[2019-02-18 15:33] kittaakos commented on #361
I have no idea; one has to investigate it. If it's me, please assign the ticket.

[2019-02-19 09:10] kittaakos commented on #361
@crapo, did you figure out a solution? If no but the Maven build works from the terminal, you can try to adjust the Maven validation in the preferences; use `warnings` instead of `errors` for now. I did not try it though but bumping up to `Tycho 1.3.0` might have an impact on the POMs.

[2019-02-19 13:09] crapo commented on #361
I did not make progress on this. One effect of moving up to Tycho 1.3.0 is that the Maven proxy settings for firewalls must include https, but I don't see how that affects the poms. The error on plugins about missing "Project configurator 'org.eclipse.xtend.m2e.xtendConfigurator" isn't the only one. The pom for reasoner-api and reasoner-impl have the error:

Multiple annotations found at this line

[2019-02-21 10:51] kittaakos commented on #361
I have checked out the `development` branch, reloaded the new target platform; I have zero errors in the POMs. It could be some firewall related issue on your side.

[2019-02-21 12:51] kittaakos commented on #361
I did another check on my Windows 10 image, cloned the project, checked out the `development` branch, set the new target platform, ran the MWE2 workflow; no errors.

[2019-02-25 14:10] crapo commented on #361
I cloned repo sadlos2, installed Java 8, Eclipse DSL 2018-12, set target, cleaned and rebuilt on a Ubuntu machine over the weekend. I ended up with the same pom.xml error in the poms as I have a work on my Windows machine.

[2019-02-25 14:13] kittaakos commented on #361
I am using the following m2e and Tycho features in Eclipse:
![screen shot 2019-02-25 at 15 12 13](https://user-images.githubusercontent.com/1405703/53343089-d1e13200-390f-11e9-88ad-e4b31af29e1d.jpg)

[2019-02-25 14:56] crapo commented on #361
That's probably helpful. I have
M2E - Maven Integration for Eclipse 1.10.0.20181127-2120
m2e logback configuration 1.01.0.20181127-2120

I do not have
m2e slf4j
Tycho Project Configurators

Do you suggest installing from Eclipse Marketplace or?

[2019-02-25 15:21] kittaakos commented on #361
Eclipse offered me to install Tycho when I wanted to use the m2e feature for the first time. As I said, I never used the Oomph installer but [here are the steps](https://wiki.eclipse.org/Developing_Tycho#Using_the_Eclipse_Installer_.28Oomph.29) to get Tycho inside Eclipse. I hope it helps.

[2019-02-26 16:52] crapo opened #362 "JenaBasedSadlModelProcessor.onGenerate not called on save"
This crept in from I'm not sure where.... Can't seem to find the cause.

[2019-02-26 17:19] crapo commented on #361
That looks like installation of Tycho source code for Tycho developers. It seems to preclude downloading Eclipse DSL version.

[2019-02-26 18:01] kittaakos commented on #361
Can you try this p2 update site: http://repo1.maven.org/maven2/.m2e/connectors/m2eclipse-tycho/0.8.0/N/0.8.0.201409231215/

I have copied it from my Eclipse > Preferences > `Install/Update` > `Available Software Sites` > `org.sonatype.tycho.repository`.

[2019-02-27 13:20] crapo commented on #362
This might be the dumbest issue I've ever created! Build Automatically was unchecked and I didn't think to check it.

[2019-02-27 13:20] #362 closed

[2019-02-27 14:19] crapo commented on #361
I've made some observations. I inadvertently selected dsl-2018-09 as the Eclipse version when trying an install using Eclipse Installer. When I did a Maven import existing projects, I got a dialog that asked me if I'd like to setup Maven plugin connectors:
![image](https://user-images.githubusercontent.com/1186278/53496338-df153280-3a6f-11e9-8e35-80d30a8651f5.png)
followed by a dialog asking if I'

[2019-02-28 08:08] kittaakos commented on #361
I did the followings (on macOS):
- Download [Eclipse IDE for Java and DSL Developers](https://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/2018-12/R/eclipse-dsl-2018-12-R-macosx-cocoa-x86_64.dmg).
- `Import...` > `Maven` > `Existing Maven Projects`.
- Select `.sadl3/com.ge.research.sadl.parent/`.

![screen shot 2019-02-28 at 08 45 46](https://user-images.githubuser

[2019-02-28 17:20] crapo opened #363 "getting model folder path fails for projects imported into workspace but not copied"
I imported a project which was created by a git repo clone into a workspace without copying it. (I didn't want to copy it; I wanted changes to be in the local repo so I could push them back.) The call to getConfigMgr in JenaBasedSadlModelProcessor, line 11683, takes one to line 667, where the lWorkspaceRoot is the workspace folder. The value of "root" reutrned on line 672 is as if the project were

[2019-03-04 14:10] kittaakos commented on #363
I was unable to reproduce the problem with SADL. I did the followings:
 - Open the SADL IDE in Eclipse.
 - `New` > `Project` > `General` > `Project`.
 - Uncheck `Use default location`.
 - Create a project with a few model files.
 - Delete the project from the workspace but do **not** delete from the file system.
 - Initialize your project as a Git repository. (Navigate to your project and execute

[2019-03-05 18:46] crapo opened #364 "Build is broken, change to jflex zip?"
@tuxji could not do a Maven build with an error on extracting jflex zip. I don't run into it because I already have the jflex jar I guess. However, the AppVeyor build failed on the last push to development on the same error.
 [Build sadlos2 1.0.217 failed](https://ci.appveyor.com/project/crapo/sadlos2/builds/22844513)
Commit 788e632d0b by Andy Crapo on 3/5/2019 5:43 PM:
Merge branch 'AWC-FinishSad

[2019-03-06 09:22] kittaakos commented on #364
I am looking into this...

[2019-03-06 09:44] kittaakos opened #365 "[releng] The build badges in the main README should show the build from the `development` branch and not from the `master`"
One has to update the references [here](https://github.com/crapo/sadlos2/commit/a446d4dcbe7521ca9caed9daf6e744539dcb9f55#diff-04c6e90faac2675aa89e2176d2eec7d8R4) and [here](https://github.com/crapo/sadlos2/commit/a446d4dcbe7521ca9caed9daf6e744539dcb9f55#diff-04c6e90faac2675aa89e2176d2eec7d8R5).

[2019-03-06 09:53] kittaakos commented on #364
The local Maven build was successful with 788e632d: ` mvn -Dmaven.repo.local=~/Desktop/local-sadl-maven clean verify`. The cause of the problem must be somewhere else...

[2019-03-06 10:04] kittaakos commented on #364
I have managed to reproduce it locally after wiping the https://github.com/crapo/sadlos2/blob/development/sadl3/com.ge.research.sadl.parent/.jflex.jar from the FS.

[2019-03-06 10:50] kittaakos commented on #364
I can see the following when sniffing into the response message of the download code:
[code]

[2019-03-06 15:08] #364 closed

[2019-03-06 15:08] #365 closed

[2019-04-08 06:43] kittaakos opened #367 "Get rid of the multiple inference processor support per resource type"
This required change is similar we did for the module processors in https://github.com/crapo/sadlos2/pull/259.

[2019-04-08 07:31] kittaakos opened #369 "Revisit how we collect and use the SADL keywords"
This [commit](https://github.com/crapo/sadlos2/commit/72387abaa8c6720725a162ec7f44e62e09732d31) should not get into the `development` branch.

We have to figure a way to retrieve the SADL keywords without using the standalone setup.

// cc: @crapo

Edit: fixed the link to the commit.

[2019-04-08 07:35] kittaakos opened #370 "[test][releng] We should not run the headless test with a running Eclipse platform"
The headless tests should be run without a running Eclipse platform. Otherwise, the `com.ge.research.sadl.tests` tests run in a different environment from Eclipse and the command line. Long story short, we have to use `maven-surefire-plugin` instead of `tycho-surefire-plugin`.

This change affects the `AugmentedTypes` branch.

// cc: @crapo

[2019-04-08 12:29] crapo commented on #370
I've lost track--does this issue address the failing tests in ValidationTest?

[2019-04-08 12:49] kittaakos commented on #370
Yes, this. Thank you!

[2019-04-08 13:34] crapo opened #371 "CRule variables with named variables"
Consider the rule:
 Rule DTData:
 	if dt is a DataTransform and dt has inputData dsi
 	   and dsi is a TabularDataSet and dsi has column col
 	then there exists a TabularDataSet and
 		 there exists a Column and the TabularDataSet has column the Column
 		 and the Column has derivedFrom col.
One might reasonably expect that the conclusions should read
        then there exists a second TabularData

[2019-04-10 18:32] #367 closed

[2019-04-15 12:32] crapo commented on #363
@kittaakos , I have a reproducible case of this. Can we look at it together?

[2019-04-15 15:18] kittaakos commented on #369
For the record, we decided to leave the SADL keywords in a static list of the `OwlToSadl.getSadlKeywords()` but we add a pure JUnit test which checks whether this list is in sync with the grammar and if no, proposes the list of keywords to the user, so it can be updated with a simple copy-paste.

Something like this:
[code]

[2019-04-16 06:42] kittaakos opened #372 "Failing test OWL 2 SADL test on the `AugmentedTypes` branch"
The [`OwlToSadlTest#test04()`](https://github.com/crapo/sadlos2/blob/f75c8706f7734c6e14e3cee739f3097a8eaadf3a/sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.tests/src/com/ge/research/sadl/tests/owl2sadl/OwlToSadlTest.java#L230-L248) is failing on the AugmentedTypes branch.

[code]

I found this when I was working on #370. I am going to `@Ignore` this test, @crapo, can you please check if t

[2019-04-16 12:14] crapo commented on #372
Test needed to be updated. The "as <alias>" is only added now if the OWL file does not have a prefix specified for the namespace.

[2019-04-16 12:14] #372 closed

[2019-04-16 12:15] crapo commented on #363
This was related to getting the SADL keywords. They are now static in this branch (and other branches) and this issue is resolved.

[2019-04-16 12:15] #363 closed

[2019-06-06 12:02] #369 closed

[2019-06-06 12:02] #370 closed

[2019-06-10 14:58] crapo opened #374 "Test suite doesn't find resources"
@kittaakos , there is an issue in test suite execution that it doesn't find any of the Resources. The example SADL project to reproduce is in the repo [here](https://github.com/crapo/sadlos2/tree/development/sadl3/Examples/TestSadl3Ide). Open the file TestSuite1.test. From the SADL menu, select "Test Model". The issue is that SadlRunInferenceHandler, line 123 (AugmentedTypes branch), the ResourceS

[2019-07-15 18:50] crapo opened #376 "constraints on External Equation arguments"
@kittaakos , can you help me with this? This issue is on branch AugmentedTypes. Charge to ASKE.
Given this example:
[SemanticConstraintsExample.sadl.txt](https://github.com/crapo/sadlos2/files/3393729/SemanticConstraintsExample.sadl.txt)

![image](https://user-images.githubusercontent.com/1186278/61240447-3ceca300-a70f-11e9-978b-15217bfdfa4b.png)

the use of the name of an argument, e.g., "smaller

[2019-07-16 12:12] crapo commented on #376
Works now. @kittaakos , if you have time please add as test case.

[2019-07-16 12:36] kittaakos commented on #376
Can you please this to `com.ge.research.sadl.tests.scoping.SadlLinkingTest` as a test case?
[code]

[2019-07-16 13:19] crapo commented on #376
Done! Thanks for providing the test.

[2019-07-16 13:19] #376 closed

[2019-08-26 19:07] crapo opened #379 "How to tell if a statement is completed with an EOS"
@kittaakos , when processing statements I want to be able to tell if the statement is complete, that is, ends with an EOS. Do I need to put "eos=EOS" in the grammar for each statement and then test if getEos() is null or is there a simpler way?

[2019-08-27 09:22] kittaakos commented on #379
You can use the `NodeModelUtils` service to map AST nodes to parse tree nodes. The parse tree contains the information whether it ends with the `EOS` or not. Here is an example:

[code]

[2019-08-27 13:31] kittaakos commented on #379
Please note, this is not a test. This was the easiest way to demonstrate the `NodeModelUtils` API.

If a statement is incomplete, usually the AST is broken hence it cannot be traversed. I do not really understand what is the problem or requirement here. Can you please explain? Thank you!

I would have expected, you will create a service:
[code]

which you can inject into the your call-site.

[2019-08-27 14:55] kittaakos commented on #379
OK, I will work on this.

Please provide me you incomplete statement so that I can convert the above code into a real test case.

[2019-08-28 12:58] #379 closed, assigned to nobody

[2019-09-05 13:42] crapo commented on #379
I believe this is resolved satisfactorly.

[2019-09-26 15:27] crapo opened #384 "Error in "<prop> of <subj> is not <value> in rule"
this pattern does not translate correctly. The correct triple inside the is created but then removed from patterns and the original is placed in. Can be reproduced with single rule (Vul-CAPEC-25-1) from Abha and also rulevars2.sadl in TestSadl3Ide project.

[2019-10-10 13:38] crapo commented on #384
This is now resolved.

[2019-10-10 13:38] #384 closed

[2019-12-17 14:32] crapo opened #391 "Run query on ExternalEmfResource"
@kittaakos , I got queries on ExternalEmfResources working again (it got broken in refatoring a while back) but preferences aren't being passed in. In SadlRunQueryHander, I added method runEER, similar to run but for ExternalEmfResource rather than XtextResource. Line 59 asks if there's a way to get preferences. This will be in development branch eventually, currently not pushed.

[2019-12-18 16:41] crapo commented on #391
It's a little broader than this. In order to run a named query we need the equivalent of what works for an XtextResource resourceSupplier and method perpareResource, called on line 147 of SadlRunQueryHandler, in order to get an ISadlInferenceProcessor, in order to call runNamedQuery (line 148).

[2020-01-27 07:36] kittaakos opened #394 "Duplicate quick-fix proposal for aliases"
This is a follow-up of #393.

https://github.com/crapo/sadlos2/pull/393#issue-365237610:

https://github.com/crapo/sadlos2/pull/393#issuecomment-577744687:

[2020-02-04 08:57] miklossy opened #396 "Updating the Xtext Community Website"
Hello Sadlos2 team,

The Xtext team would like to update the [Xtext community website](https://www.eclipse.org/Xtext/community.html) listing all the cool projects people are building around Xtext/Xtend.

See also the corresponding [GitHub issue](https://github.com/eclipse/xtext/issues/1541) and [Bugzilla ticket](https://bugs.eclipse.org/bugs/show_bug.cgi?id=328477).

If you are interested that the

[2020-02-10 13:36] kittaakos commented on #394
@crapo, can you please review and decide on #395?

[2020-02-10 18:33] #394 closed, assigned to crapo

[2020-02-11 11:47] crapo commented on #396
<tr>
	<td><a href="https://github.com/crapo/sadlos2/wiki">Semantic Application Design Language (SADL)</a></td>
	<td>SADL is a controlled-English ontology language and an IDE for building models in that language. SADL models are translated directly into OWL plus rules plus other constructs for model testing and maintenance.</td>
	<td>Eclipse Public License</td>
	<td>Semantic Modeling</td>
	<td>GE R

[2020-02-11 11:49] miklossy commented on #396
Thank you @crapo !

[2020-02-13 12:25] kittaakos opened #398 "Update Web SADL"
The development is on the [`web-sadl-semtk`](https://github.com/crapo/sadlos2/tree/web-sadl-semtk) branch.
The WIP PR is [here](https://github.com/crapo/sadlos2/pull/397).

TODOs:
  -  [ ] Move to Azure:
    - can build both Windows and Linux,
    - can share states between build stages without external storage. Travis CI [can't](https://docs.travis-ci.com/user/build-stages#data-persistence-betwee

[2020-02-13 14:50] crapo commented on #398
You mentioned that the Eclipse version needed to be the latest. What version exactly?

[2020-02-13 14:57] kittaakos commented on #398
I do not know yet. Most likely, the target platform update does not affect the Eclipse SDK version. I am still working on the build.

[2020-02-13 18:00] crapo commented on #398
As soon as you are ready, we'd like you to demo WebSADL to the SemTK folks here, answer questions about architecture and git integration, and discuss with us the general goals and approach to integration. Please let me know when that can happen.

[2020-02-17 09:05] kittaakos commented on #398
_WONTFIX_. I had to keep AppVeyor for the Windows build. The details are [here](https://github.com/crapo/sadlos2/pull/397#issuecomment-586870271).

Sure, please schedule a call for the demo via email.

It is very much limited. A working solution is documented [here](https://github.com/eclipse-theia/theia/issues/1037#issuecomment-376180725), but Theia does not support workspace-hosting, authenticat

[2020-02-17 09:05] #398 closed, assigned to kittaakos

[2020-02-17 13:40] #396 closed, assigned to nobody

[2020-02-17 13:44] crapo opened #400 "Demo and Integration Planning"
@kittaakos , I thought I posted or emailed this last week but can't seem to find it. As soon as you are ready with updated WebSADL, we'd like to schedule a demo where you show WebSADL capability to the SemTK folks, including and of special interest the git integration possibilities. Then we can discuss the integration goals and how best to architect the integrated system. Please let me know when y

[2020-02-17 14:02] kittaakos commented on #400
Yes, you did. https://github.com/crapo/sadlos2/issues/398#issuecomment-586887490

Please schedule a call via email. Thank you!

[2020-02-24 21:05] nbachman opened #401 "SRL Build - EMF NoClassDefFoundError"
@kittaakos
Attempting to build (mvn install) the SRL project and encountered the following exception:
INFO: Registered GenModel 'http://www.ge.com/research/sadl/requirements/Requirements' from 'platform:/resource/com.ge.research.sadl.requirements/model/generated/Requirements.genmodel'
3499 [org.eclipse.emf.mwe2.launch.runtime.Mwe2Launcher.main()] ERROR mf.mwe2.launch.runtime.Mwe2Launcher  - org/ec

[2020-02-24 21:25] nbachman commented on #401
The project in question would be the "com.ge.research.sadl.requirements" project. The pom.xml file refers to org.eclipse.emf 2.11.0.

[2020-02-25 07:58] kittaakos commented on #401
@nbachman, the [repository](https://github.com/GEGlobalResearch/requirements/) I have access to, has not been updated since Oct 25, 2017. This is on the default, [`master`](https://github.com/GEGlobalResearch/requirements/tree/master) branch. Please update the repo, ping me, and I can fix your build. Thank you!

[2020-02-25 14:09] nbachman commented on #401
@kittaakos I have pushed this code to this branch: https://github.com/GEGlobalResearch/requirements/tree/GH-401.

Thanks for the quick response. Let me know if you need any further information.

[2020-02-25 14:44] kittaakos commented on #401
@nbachman, it's done. You will see the PR in the SRL repo. Please ping me if you have any questions, remarks. Otherwise, please close this GH issue. Thank you!

[2020-02-25 14:48] #400 closed, assigned to nobody

[2020-02-25 17:06] crapo opened #402 "Failing test in SadlImportManagerProviderTest"
@kittaakos , not sure what might have changed, but this test now fails with this exception:

4    [main] ERROR org.eclipse.xtext.validation.CompositeEValidator  - Error executing EValidator
java.lang.IllegalArgumentException: Expected a `platform:/resource/` URI. Got instead: __synthetic0.sadl.
	at com.google.common.base.Preconditions.checkArgument(Preconditions.java:93)
	at com.ge.research.sadl.u

[2020-02-25 17:49] kittaakos commented on #402
What's the rest of the stacktrace?

[2020-02-25 18:01] nbachman commented on #401
Everything looks fine. Thanks!

[2020-02-25 18:01] #401 closed, assigned to nobody

[2020-02-26 10:25] miklossy commented on #396
The `SADL` project has been added to the [Xtext community website](https://www.eclipse.org/Xtext/community.html).

[2020-02-27 15:18] crapo commented on #402
Humm... this test now passes, both in Eclipse and during Maven install. Not sure what was going on. I don't think I'm crazy :-)

[2020-02-27 15:18] #402 closed, assigned to nobody

[2020-02-27 17:03] crapo opened #403 "Build isssues in Eclipse"
@kittaakos , I just merged development into MissingPatterns and while my Maven install is happy my Eclipse environment is not. When I load the target platform I get errors about "Unable to locate installable unit ..."
![Annotation 2020-02-27 124823](https://user-images.githubusercontent.com/1186278/75470988-8963b680-595f-11ea-8953-8690aa96929c.png)

[2020-02-27 17:47] crapo commented on #403
I talked with John Interrante. He has also had problems. He built SADL 3 today and tried to install it into DSL 2019-12, failed, then tried to install SADL into DSL 2018-12, failed, tried adding websocket, failed (due to another missing req), rhen gave up. His notes are as follows.
SADL Feature     3.2.1.202002262116          com.ge.research.sadl.feature.feature.group

*** 2019-12 ***

Cannot comp

[2020-02-27 17:49] crapo commented on #403
@nbachman , do you want to add your issues?

[2020-02-27 17:53] nbachman commented on #403
@crapo
We were able to resolve our issues by moving to Eclipse 2019-6/2019-12. This version was able to identify the m2e connectors immediately. I'm not entirely sure why it was resolved with this though. The embedded version of Maven for 2019-12 is 3.6.3, and my installed version of Maven was also 3.6.3 used with Eclipse 2018-12. I also attempted to install the exact versions of the plugins you h

[2020-02-27 17:54] tuxji commented on #403
I built the development branch, btw, not the MissingPatterns branch.  My git HEAD was 8ffd3c0a 2020-02-20 | Merge pull request #397 from crapo/web-sadl-semtk (HEAD -> development, origin/development, origin/HEAD) [Akos Kitta].

[2020-02-28 07:22] kittaakos commented on #403
@crapo, I had no issues building SADL and the downstream projects from the `MissingPatterns` branch. My Eclipse IDE is:
[code]
Try to bump up your Xtext version in Eclipse. The p2 update site is here: http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.20.0/

The target platform gives you the runtime dependencies only.

[2020-02-28 07:36] kittaakos commented on #403
You can find the target platform (TP) cache inside your workspace, more precisely under: `${Your_Workospace}/.metadata/.plugins/org.eclipse.pde.core/` (`.bundle_pool`, and `.p2`). When I have such a TP  issue, I wipe `org.eclipse.pde.core` and restart Eclipse. It complains but automatically downloads and reloads the missing dependencies. Of course,  it is up to you whether you do the same 😊

![scr

[2020-02-28 08:11] kittaakos commented on #403
Just wanted to confirm:
 - I have wiped my TP cache (`% rm -rf ~/dev/wss/sadl/ws/.metadata/.plugins/org.eclipse.pde.core`),
 - restarted Eclipse,
 - let Eclipse to reload the TP,
 - then in the `Package Explorer`, select all projects,
 - `Maven` > `Update Project...` > Check `Force Update Snapshots/Releases` > hit `OK`.
 - Wait for the update.

After these steps, I have the known error in a few PO

[2020-02-28 08:15] kittaakos commented on #403
@crapo, the screenshot [you have attached](https://github.com/crapo/sadlos2/issues/403#issue-572221952), shows `Problems Loading Repositories`. If you check the `Error Log`  view (<kbd>Ctrl</kbd>+<kbd>3</kbd> and type `Error Log`), what is the problem, can you please make sure it's not a proxy/firewall issue?

[2020-03-02 13:03] crapo commented on #403
Just to clarify, the issues I believe are with development branch, not MissingPatterns. Only the development branch has the newer versions required for WebSADL.

[2020-03-02 13:11] kittaakos commented on #403
OK; I try it again with the `development` branch.

[2020-03-02 13:23] kittaakos commented on #403
It works on the `development` branch too.

![Screen Shot 2020-03-02 at 14 16 27](https://user-images.githubusercontent.com/1405703/75680152-36586f00-5c91-11ea-8562-042b222b97e2.jpg)

![Screen Shot 2020-03-02 at 14 21 42](https://user-images.githubusercontent.com/1405703/75680161-39535f80-5c91-11ea-9ff1-574e531ef962.jpg)

You can try to clean the target platform pool: https://bugs.eclipse.org/bugs/

[2020-03-04 13:29] crapo commented on #403
Just curious, @kittaakos, what version of Eclipse are you using?

[2020-03-04 13:43] kittaakos commented on #403
From [here](https://github.com/crapo/sadlos2/issues/403#issuecomment-592384277):

I have updated the Xtext SDK features in my IDE, and it bumped up automatically the Eclipse Platform versions too.

[2020-03-04 13:45] crapo commented on #403
Humm... Don't understand that last sentence.

[2020-03-05 08:24] kittaakos commented on #403
I am going to verify whether we can build the project from the sources with two Eclipse installations:

Acceptance criteria:
 - be able to update the TP and build SADL `development` branch from the sources with the following reference Eclipse IDEs.

----
### References:

1. Windows:
![Screen Shot 2020-03-04 at 17 05 13](https://user-images.githubusercontent.com/1405703/75961588-97b35480-5ec2-11ea-

[2020-03-05 13:52] kittaakos commented on #403
@crapo, I can confirm, I cannot import the project from the `development` branch into a fresh new Eclipse DSL Tools Version: 2018-12 (4.10.0). However, I have noticed after half of the day, it is not possible to import the `MissingPatterns` branch either. Can you please verify it? Please make a fresh clone of SADL, check out the `MissingPatterns` branch, run `mvn clean && mvn verify` and try to im

[2020-03-05 13:56] kittaakos commented on #403
When I try to manually install the m2e connectors, Eclipse complains I am offline:

![screencast 2020-03-05 14-53-04](https://user-images.githubusercontent.com/1405703/75988101-5c7c4a00-5ef1-11ea-9004-5756ac5e0a6d.gif)

And I see the following error in the Error Log:
[code]

[code]

[2020-03-05 14:15] kittaakos commented on #403
The fundamental difference I see between my original Eclipse DSL Tools and the two references is the `Tycho Project Configurator`.

[2020-03-05 14:17] crapo commented on #403
As previously noted, I'm not opposed to updating to a newer version of Eclipse. That's what Nick did.

[2020-03-05 14:33] crapo commented on #403
I cloned the MissingPatterns branch, did a mvn clean, mvn verify. Then in a fresh install of Eclipse DSL tools 2018-12 (4.10.0) I imported maven projects. I get a slightly shorter list:

![Annotation 2020-02-27 124823](https://user-images.githubusercontent.com/1186278/75991315-4efc9b00-5ec4-11ea-9089-e4204fac3166.png)

[2020-03-05 14:36] kittaakos commented on #403
Thank you for checking, so it is broken. I have no idea what's causing it. I found an ancient [SO thread](https://stackoverflow.com/questions/60261179/cannot-download-bundle-at-http-repo1-maven-org-maven2-oss-catalog-1-6-jar); people say Maven central support HTTPS only.

[2020-03-05 15:03] tuxji commented on #403
I think it's important to be clear which action you/Andy/Nick/I were trying to do with Eclipse.  There are two different actions that matter:

1) Check out the SADL git tree and import SADL into Eclipse as existing Maven projects.  Goal: End up with SADL projects that only have warnings in the Problems tab (except for 1 or 2 known errors).

2) Install the SADL feature from updates/target/repositor

[2020-03-06 13:07] kittaakos commented on #403
I've downloaded the latest Eclipse DSL Tools M3 release from here: https://www.eclipse.org/downloads/packages/release/2020-03/m3

Cloned the project and built it with Maven:
[code]

My Eclipse on macOS:
![Screen Shot 2020-03-06 at 14 01 51](https://user-images.githubusercontent.com/1405703/76085942-5babec80-5fb3-11ea-90e2-ba91b11112a9.jpg)

Without installing anything, I did `Import...` > `Maven`

[2020-03-06 13:26] tuxji commented on #403
I'm glad 2020-03 works so well for action 1, Akos!  For action 2, I still want anyone to be able to install SADL into a newer Eclipse platform than the target Eclipse platform specified in its target/com.ge.research.sadl.target.target file.  Akos and Andy, do you agree we should edit target/com.ge.research.sadl.target.target and change all the version="x.x.x" attributes to version="0.0.0"? That sh

[2020-03-06 13:28] kittaakos commented on #403
Yes, I do. It's a good idea.

[2020-03-06 13:37] tuxji commented on #403
OK, I will not make that change myself since making only that one change and testing it is an inefficient use of project funding.  I hope one of you (Andy or Akos) will make that change when you are changing something else in SADL anyway, so that making an additional change like this one will be more efficient for project funding.

[2020-03-06 13:45] kittaakos commented on #403
Windows:
Download the Eclipse DSL Tools: https://www.eclipse.org/downloads/packages/release/2020-03/m3

![image](https://user-images.githubusercontent.com/1405703/76088311-0de5b300-5fb8-11ea-9d74-a8d031594907.png)

 - Clone the repo and build the project with Maven,
 - Import the project as existing Maven projects,
 - See the m2e connector-wizard during the import
![image](https://user-images.gith

[2020-03-09 12:26] crapo commented on #403
@nbachman , do you want to weigh in here for the needs of ASSERT? Any issues doing what John suggests?

[2020-03-09 13:12] crapo commented on #403
@kittaakos , did something change that would cause the error below? I can no longer do a mvn install on sadlos2/sadl3/com.ge.research.sadl.parent.

![image](https://user-images.githubusercontent.com/1186278/76215936-19b6bc80-61e6-11ea-8963-326e34029ef4.png)

[2020-03-09 13:18] kittaakos commented on #403
No.

Which branch?

[2020-03-09 14:32] crapo commented on #403
MissingPatterns. Can't do the initial maven install to even try with Eclipse 2020-3, nor on existing repos that I'm using with Eclipse 2018-12, so it's not an Eclipse-related issue I wouldn't think...

[2020-03-09 14:33] crapo commented on #403
Looks to me like the desired download is gone:
![image](https://user-images.githubusercontent.com/1186278/76222756-6a7fe280-61f1-11ea-9a0f-380af9e6d9b3.png)

[2020-03-09 14:36] kittaakos commented on #403
It says: _you are close!_ It is an existing p2. Otherwise, you would get an HTTP 404 from the browser.

[2020-03-09 14:39] crapo commented on #403
yes, but it's looking for S201804241303, which doesn't apparently exist in this repo.

[2020-03-09 14:45] kittaakos commented on #403
I can confirm. The old p2 was moved apparently. It works from the `development` branch.

[code]

[2020-03-09 14:47] crapo commented on #403
Isn't this a little abrupt to remove everything except 2020 (I assume the initial numbers after the "S" are the date) items from the repo?

[2020-03-09 15:03] kittaakos commented on #403
Perhaps the p2 was moved, I do not know. I will figure out if there is an alternative if you want me.

[2020-03-09 15:21] kittaakos commented on #403
Let's see: https://gitter.im/eclipse/xtext?at=5e665ebccc10be22a0760598

[2020-03-09 16:37] kittaakos commented on #403
@crapo, it was removed. As an alternative workaround, you can update the target platform on  this branch:
[code]

[2020-03-10 19:12] agabaldon commented on #403
This workaround work for me.

[2020-03-11 07:26] kittaakos opened #406 "Content assist improvements"
Originally from here: https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/issues/80

@crapo [wrote](https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/issues/80#issuecomment-597094071):

[2020-03-11 12:43] crapo commented on #406
`Artefact is a class.`
`Aircraft is `
With cursor at end of 2nd line, there is no content assist available. Why isn't "a" there?

[2020-03-11 12:47] kittaakos commented on #406
Here is a simplified version
[code]

[2020-03-11 12:48] kittaakos commented on #406
[code]

[2020-03-11 12:53] crapo commented on #406
Continuing above,
`Artefact is a class.`
`part describes Artefact with values of type Artefact.`
`Aircraft is a type of Artefact.`
`Engine is a type of Artefact.`
With cursor on new line below last statement, content assist is missing "part". Since statements can begin with a property, it should be. (e.g.,
`part of Aircraft has at least one value of type Engine.`

Also, if cursor is at end of `par

[2020-03-11 13:09] crapo commented on #406
Having the ontology above, if I type
`MyAircraft is an Aircraft `
and then ask for content assist, "with" is in the list. But, if I type "w" and then ask for content assist, shouldn't only items starting with "w" be included?

[2020-03-11 13:20] kittaakos opened #407 "Inconsistency in model processor when checking property domain"
@crapo, while working on #406 I ran into some inconsistency.

If I have the following in one SADL file:
[code]

Then I can see only `Rectangle` as a possible CA, as the property domain check is correct for the `Circle`: `:Circle is not in domain of property :width`.

However, when I split the models into individual files, `Circle` is considered to be valid.
`Shape.sadl`:
[code]

`Circle.sadl`:
[co

[2020-03-11 13:23] crapo commented on #406
This is not content assist, but I'm going to put it here. Having defined concepts as above, I type
`part of Engine has at least one value of type Compressor.`
where Compressor is not defined. Now if I mouse over "Compressor" and select "Create class definition" as a quick fix: a) if I'm at the end of the line and it is also the end of the file, nothing happens in the window, or b) if there is a ne

[2020-03-11 13:24] crapo commented on #407
I can look into it.

[2020-03-11 13:43] kittaakos commented on #406
:+1: Fixed.

[2020-03-11 13:50] kittaakos commented on #406
@crapo did you mean this?
[code]

Update: `part` is not a keyword but a SADL resource. Do you want to allow all SADL resources from the scope to be proposed besides the valid keywords?

[2020-03-11 13:53] crapo commented on #406
Yes, sorry. The stuff after was just to show an example of a line starting with "part".

[2020-03-11 13:53] kittaakos commented on #406
`part` is not a keyword but a SADL resource. Do you want to allow all SADL resources from the scope to be proposed besides the valid keywords?

[2020-03-11 13:57] crapo commented on #406
humm... There are statements that can start with SadlResource. I guess this is similar to the previous question about whether the implicit model concepts, if to be included, can be a second sublist. Is it possible to display the keywords first, followed by an alphabetized list of SadlResources? The keywords are much more likely to be what is wanted, so it would be a shame to bury them in a long li

[2020-03-11 13:58] kittaakos commented on #406
Yes. Thank you for the clarification. Consider it done 👍

[2020-03-11 14:52] kittaakos commented on #406
Done 👍

[2020-03-11 14:55] kittaakos opened #408 "NPE from the SADL model processor when working on broken AST"
I got this when I wanted to finetune the content assist. Originally from [here](https://github.com/crapo/sadlos2/issues/406#issuecomment-597614539):

`MyModel.sadl`:
[code]

Exception:
[code]

[2020-03-11 15:23] crapo commented on #408
Fixed in my local copy. You can add this (line #'s different)
![image](https://user-images.githubusercontent.com/1186278/76433489-c92c9400-638a-11ea-9b2c-e25f103396c1.png)

[2020-03-11 15:28] crapo commented on #407
I see Circle in the first instance where everything is in one file. Have you made changes that would affect this? I don't recall where to set a breakpt to see what's happening here...

[2020-03-11 15:29] #408 closed, assigned to nobody

[2020-03-11 15:32] kittaakos commented on #406
After `at least` comes a `CardinalityValue` which is neither a cross-reference nor a keyword? What do you expect? Shall we propose:
[code]
?

Otherwise, it won't fix.

[2020-03-11 15:32] kittaakos commented on #407
No.

[2020-03-11 15:35] kittaakos commented on #407
Here: https://github.com/crapo/sadlos2/blob/development/sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.jena/src/com/ge/research/sadl/jena/JenaBasedSadlModelProcessor.java#L903

[2020-03-11 18:04] crapo commented on #407
The reason Circle is included for me in the single model case is because I have the preference set for type checking errors are warnings only and so in ProposalProviderValidationacceptor, none meet the Severity.ERROR filter criteria so Circle gets added.

[2020-03-11 18:21] crapo commented on #407
When the model is spread across 4 files, and the validate call is for Circle was failing for a strange reason that I've fixed locally. I think you can go forward assuming for the moment that the multiple will behave, when fix is merged, like the single model. Even with the fix it doesn't work for the reason above--it's only a warning when preference says make warnings.

[2020-03-12 09:38] kittaakos commented on #406
In action:

![screencast 2020-03-12 10-36-51](https://user-images.githubusercontent.com/1405703/76507764-9eefda80-644d-11ea-85ee-aae73abaf303.gif)

[2020-03-12 09:46] kittaakos commented on #406
Done 👍

[2020-03-12 09:48] kittaakos opened #409 "Adjust quick fix provider for SADL resource creation"
@crapo [wrote](https://github.com/crapo/sadlos2/issues/406#issuecomment-597630739):

[2020-03-12 09:48] kittaakos commented on #406
Moved to #409

[2020-03-12 12:18] kittaakos commented on #406
It is done 👍

[2020-03-12 13:24] kittaakos commented on #409
[code]

[2020-03-12 13:43] kittaakos commented on #409
@crapo, why do we have a hard-coded `Shape is` in the quick fixes? Can you please describe what was the intention here?

https://github.com/crapo/sadlos2/blob/8ffd3c0a9d06af604227e416afdf05ad05c3ea46/sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.ui/src/com/ge/research/sadl/ui/quickfix/SADLQuickfixProvider.xtend#L142-L151

I am happy to adjust the quick fix provider for missing SADL resurc

[2020-03-17 22:04] crapo commented on #403
In the process of following the instructions above for Eclipse 2020-03, DSL, at the point when I edited the target platform, I got this error:
![image](https://user-images.githubusercontent.com/1186278/76906065-98ac9480-6879-11ea-90ba-e456bc6325db.png)
I didn't any immediate subsequent errors.

[2020-03-17 22:10] crapo commented on #403
When I import as existing Maven projects, I get nested projects under com.ge.research.sadl.parent, as opposed to parent and the others being sibling projects. I don't see how to control that during import... I deleted the workspace and started over with the import and then it behaved as expected. Not sure what caused the issue.

[2020-03-17 22:20] crapo commented on #403
After the auto build completes, I have these errors (development branch):
![image](https://user-images.githubusercontent.com/1186278/76907166-ec1fe200-687b-11ea-97ff-32ed738e6e0c.png)

[2020-03-18 08:03] kittaakos commented on #403
You can ignore that. It does not cause any issues.

As far as I remember you tend to use the `Project Explorer` instead of the Java `Package Explorer`, can you please confirm?

You have to set the target platform. The `Bundle 'org.jsoup' cannot be resolved` error shows you have not done that yet.

[2020-03-18 11:32] crapo commented on #403
Ah, setting the target platform. I did that on the previous two attempts :-) Thanks.
And you're right, the Project Explorer  came up by default and I didn't notice the difference. So it seems to be working fine.

[2020-03-18 11:39] crapo commented on #403
Should I be merging the bot-generated PR to bump acorn version?

[2020-03-18 11:44] crapo commented on #406
Create a new model.
Add line "area is a property with values of type float."
Add a line "Shape is a class described by "
With cursor at the end of this line, ask for content assist; none is available.
Arguably "area" should be on the list as adding "area" to this statement would be a reasonable thing to do and would put "Shape" in its domain.
The filter would be properties that do not have "Shape"

[2020-03-18 12:05] kittaakos opened #412 "Further CA improvements"
@crapo wrote [here](https://github.com/crapo/sadlos2/issues/406#issuecomment-600576005):

[2020-03-18 12:05] kittaakos commented on #406
Moved to https://github.com/crapo/sadlos2/issues/412.

[2020-03-18 12:05] #406 closed, assigned to kittaakos

[2020-03-18 12:07] kittaakos commented on #403
No, please do not merge bot PRs. You can close them.

[2020-03-18 13:25] crapo commented on #403
Here's a new one, and it's fatal. Suddenly Eclipse crashes when I try to run the Dialog IDE. Here's the log.
[hs_err_pid31924.log](https://github.com/crapo/sadlos2/files/4349171/hs_err_pid31924.log)

@kittaakos , any ideas?

[2020-03-18 13:54] kittaakos commented on #403
No, I don't. Probably some JDK bug, you can try to install another Java 8 version.

[2020-03-18 14:24] crapo commented on #403
I've reinstalled Eclipse 2018-12. I've installed a new Java 8 (241). I've wiped the TP cashe at ws/.metadata/.plugins/org.eclipse.pde.core. Still same issue.

[2020-03-18 14:26] kittaakos commented on #403
Did I get this correctly, you have switched back to your previous Eclipse dev-env state and now it crashes all the time?

[2020-03-18 14:38] crapo commented on #403
I did a clone and install of Eclipse 2020-03 in an entirely separate location. This is my 2018-12 development environment on MissingPatterns branch. It just started crashing this morning.

[2020-03-18 14:43] kittaakos commented on #403
Does the dev Eclipse or the SADL IDE Eclipse crash?

[2020-03-18 14:49] crapo commented on #403
SADL IDE Eclipse

[2020-03-18 15:07] kittaakos commented on #403
Does it also crash if you create a new `Eclipse Application` launch configuration and in the `Plugins` tab (it is on the right-hand side, 3rd tab) you set `Launch With` `all workspace and enabled target plug-ins`?

![Screen Shot 2020-03-18 at 16 05 13](https://user-images.githubusercontent.com/1405703/76975221-8b9fac00-6932-11ea-80cf-0987dd311b3c.jpg)

[2020-03-18 15:52] crapo commented on #403
Now I can't build the Eclipse 2010-03 version. I have target errors. Can we do a quick tcon if you are still around?

[2020-03-18 15:53] kittaakos commented on #403
Yes. Please send the link.

[2020-03-18 20:54] crapo commented on #403
I've spent the whole day trying to get Eclipse environment to work. Here's step by step results for Eclipse 2020-03.

1. Have downloaded and installed Java JDK 1.8.0_242. It is the Java on the path.
java -version
java version "1.8.0_241"
Java(TM) SE Runtime Environment (build 1.8.0_241-b07)
Java HotSpot(TM) 64-Bit Server VM (build 25.241-b07, mixed mode)
2. Have downloaded Eclipse eclipse-dsl-2020

[2020-03-18 20:55] crapo commented on #403
Note that this was on my desktop Windows 10 machine. It worked yesterday after 2 or 3 tries.

[2020-03-18 21:10] crapo commented on #403
Deleted all projects, pulled some changes Alfredo made in MissingPatterns, and merged MissingPatterns into development. (Using Git Desktop--to my surprise it automatically pusded the merged changes to development on github.)
Reimported as existing maven projects, got same error.
Chose resolve later and went to target platform, chose sadl.target, clicked on Edit.
![image](https://user-images.github

[2020-03-19 01:03] crapo commented on #403
Tried the same on laptop not connected to GE network.
1. Used EGit to clone repo. Cancelled when it wanted to import projects but didn't offer Existing Maven Projects as option. Folder structure is a bit unexpected--C:\sadl\git\sadl3
2. Edited sadl.target TP, got same innocuous error as noted above. Was SUCCESSFUL!
3. Hadn't yet done mvn install on project. That failed. probably need to turn off p

[2020-03-19 08:26] kittaakos commented on #403
Great. Is there anything you want me to do with this issue?

[2020-03-19 11:02] crapo commented on #403
I'm going to try to import Dialog projects next. Everything actually worked on my desktop behind the firewall on Tuesday, until I tried the Dialog import. Should I delete the dialog target file before attempting?

[2020-03-19 12:04] kittaakos commented on #403
I hope it will work, but Dialog does not belong here.

As we discussed it yesterday during the tcon; it does not matter. It's not used. See the downstream issue: https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/issues/13

[2020-03-26 14:36] crapo commented on #403
@kittaakos , I'm trying once again to get the MissingPatterns branch running on my desktop machine. The problem that I ran into last time we worked on this, when I upgraded Java from 1.8.0_211 to 1.8.0_241, was that I forgot to put be cacerts files into the security folders. With that fixed, I started with a clean Eclipse 2020-03, set the Java preferences, and set the target platform without error

[2020-03-26 15:01] kittaakos commented on #403
Yes, please send the tcon link.

[2020-03-26 16:00] kittaakos commented on #403
@crapo, ping? I am still available for half an hour or so.

[2020-03-26 16:21] crapo commented on #403
@kittaakos , setting up meeting, sending invite

[2020-03-28 11:01] crapo commented on #412
@kittaakos , given that I can't merge MissingPatterns with development now, for the reasons we discussed, how difficult would it be for you to create a PR for MissingPatterns that would pull all of the improvements to CA that you have done into MissingPatterns?

[2020-03-30 07:21] kittaakos commented on #412
Here is the PR: https://github.com/crapo/sadlos2/pull/413

[2020-03-31 21:38] crapo opened #414 "Missing a plugin"
@kittaakos , when I try to run a JUnit Plugin Test in Eclipse, I get this error (including all of console output):

!SESSION 2020-03-31 17:36:39.952 -----------------------------------------------
eclipse.buildId=unknown
java.version=1.8.0_241
java.vendor=Oracle Corporation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=en_US
Framework arguments:  -version 3 -port 52617 -testLoaderClass

[2020-04-01 08:22] kittaakos commented on #414
You have an incorrect launch config configured somewhere. The `com.ge.research.sadl.ui.tests.SadlModelArticleUITest.testCRule_02()` runs without any problem.
 - You can check what's wrong with your  launch config:
![screencast 2020-04-01 10-15-20](https://user-images.githubusercontent.com/1405703/78114845-2d7aca80-7402-11ea-9ea2-0ad09303d559.gif)

 - You can also delete the launch config for the t

[2020-04-01 11:01] crapo commented on #414
@kittaakos , I had just created that debug configuration, and deleting it and running again does not change anything. Verify plugins says everything is fine. The error message says:

Unresolved requirement: Require-Bundle: org.eclipse.jdt.junit.runtime; bundle-version="[3.5.0,4.0.0)"

This is specified on the command line for the test, according to the console output:

Command-line arguments:  -os

[2020-04-01 11:01] crapo commented on #414
Didn't mean to close it, wrong button.

[2020-04-01 11:05] crapo commented on #414
If I look at installation details, org.eclipse.pde.junit.runtime 3.5.7 is listed on the plugins tab.

[2020-04-01 11:13] kittaakos commented on #414
Please check the `Main` tab too. Do you see the same as I have? If no, can you please alter your launch config to run the test as a product instead of an application?

![Screen Shot 2020-04-01 at 13 10 56](https://user-images.githubusercontent.com/1405703/78130914-72126000-741a-11ea-833d-8b5c65d88c6a.jpg)

[2020-04-01 11:16] crapo commented on #414
Looks identical except my Execution environment is "JavaSE-1.8 (jdk1.8.0_241)"

[2020-04-01 11:21] crapo commented on #414
If I click on Show Command Line on that tab I have this:
C:\Program Files\Java\jdk1.8.0_241\bin\javaw.exe -ea -Declipse.pde.launch=true "-Declipse.p2.data.area=@config.dir\p2" -Dfile.encoding=UTF-8 -classpath "C:\sadl\ws\.metadata\.plugins\org.eclipse.pde.core\.bundle_pool\plugins\org.eclipse.equinox.launcher_1.5.200.v20180922-1751.jar" org.eclipse.equinox.launcher.Main -os win32 -ws win32 -arch x

[2020-04-01 11:22] crapo commented on #414
If I look at the path specified in this command line, I see this:
![image](https://user-images.githubusercontent.com/1186278/78131691-796d4580-73e9-11ea-995e-ffe476eb0caf.png)

[2020-04-01 11:23] kittaakos commented on #414
Sorry, I have no idea what's causing the problem on your side, but I am available for a call if you want to figure it out via a remote-debug session.

[2020-04-01 11:31] crapo commented on #414
Yes, please! I'll set up a Skype meeting. Is now a good time?

[2020-04-01 11:32] kittaakos commented on #414
Sure, please send the link.

[2020-04-01 11:34] crapo commented on #414
https://meet.lync.com/gecompany/crapo/LDRG7CL6

[2020-04-01 13:20] crapo commented on #414
I get the same behavior on my laptop. I conclude that I have not tried to run a UI test since moving to Eclipse 2020-03.

[2020-04-01 14:20] kittaakos commented on #414
Same error here with the latest Eclipse; I will figure out something.

[2020-04-01 14:44] kittaakos commented on #414
So it turned out, the JDT feature we use in the target platform is quite old.

https://github.com/crapo/sadlos2/blob/ff4d4767b21dbbf547b89ac6cfa3bf4da9e8e57d/sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.target/com.ge.research.sadl.target.target#L24

The `org.eclipse.jdt.junit.runtime` plug-in has a version of `3.4.900.v20181012-1045`. This does not satisfy the `Require-Bundle: org.eclips

[2020-04-01 14:52] crapo commented on #414
fabulous!! Thank you. I'll make that change.

[2020-04-01 14:53] kittaakos commented on #414
@crapo, please let me know if the proposed workaround does not work either. Thank you!

[2020-04-01 14:54] kittaakos commented on #414
We posted at the same time. Great! I was not aware of this limitation of 2020-03 😕

[2020-04-01 15:06] crapo commented on #414
That fixes the issue. Will this have any affect on the update created and the versions of Eclipse with which it is compatible?

[2020-04-01 15:16] kittaakos commented on #414
I assume you're referring to p2.

Very good point; I or someone else has to verify it. If it is me, let me know.

[2020-04-16 09:39] kittaakos opened #415 "Support rename/refactoring of SADL resources"
Originally from [here](https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/issues/104#issue-600329396):

[2020-04-20 12:48] kittaakos commented on #414
@crapo, have you pushed the [proposed TP changes](https://github.com/crapo/sadlos2/issues/414#issuecomment-607291911) to the remote branch? My JUnit plug-in tests fail locally.

[2020-04-20 12:54] kittaakos commented on #414
It seems no. I am going to include it in #416.

[2020-04-20 12:54] #414 closed, assigned to nobody

[2020-04-22 12:53] kittaakos commented on #412
The changes are part of https://github.com/crapo/sadlos2/pull/416.

[2020-04-22 13:51] kittaakos commented on #409
In action:
![screencast 2020-04-22 15-31-53](https://user-images.githubusercontent.com/1405703/79990203-0cf9d980-84b1-11ea-9f13-8626bc621c0c.gif)

The changeset is part of https://github.com/crapo/sadlos2/pull/416.

[2020-04-28 12:42] crapo commented on #403
@kittaakos , moving this conversation from [requirements/issues/73](https://github.com/GEGlobalResearch/requirements/issues/73) to here. I would like to achieve the merge of MissingPatterns into development in the very near future, while there is still an active project (DARPA) to pay for it and to facilitate a new real release. We need to separate any effort to make RCE compatible as we may not d

[2020-04-28 12:46] kittaakos commented on #403
👍 Good idea.

Understood.

2-3 workdays should be enough.

Starting from tomorrow.

You still need to pick an Eclipse version for the development, then I can start working on the issue.

[2020-04-28 12:49] crapo commented on #403
Are you asking what version of Eclipse we target for people to download when they install the SADL and ASKE updates? I think it can be Eclipse 2020-03 if that's a good choice. Is there some reason to prefer something else?

[2020-04-28 12:50] crapo commented on #403
oh, and where are we on WebSadl's docker image being built automatically when code is updated? I think that was being worked on at some point. WebSadl isn't actually running anywhere, right?

[2020-04-28 13:09] kittaakos commented on #403
Yes.

OK. Thank you!

No, I am not aware of anything. I was just wondering whether it is a good time for you to switch.

Yes. But it works only against the `development` branch. See the CI here: https://travis-ci.org/github/crapo/sadlos2

Correct, it isn't running anywhere. Nobody hosts it currently.

[2020-04-28 13:32] crapo commented on #403
How much work would it be to bump the version from 3.2 to 3.3 at the same time?

[2020-04-28 13:35] crapo commented on #403
And to completely expose my ignorance, is the docker image for WebSadl build somewhere where I can download it or do I have to build it manually on my machine?

[2020-04-28 13:43] kittaakos commented on #403
If you mean bumping up the versions in SADL; it's probably a zero-overhead work. I have to change things anyway.

Yes, you can download it. Here is the Docker image: https://hub.docker.com/r/theiaide/sadl

[2020-04-28 13:47] crapo commented on #403
great! Let's bump the version to 3.3 then. There have been a lot of changes over the last 2+ years since it was bumpted to 3.2.

[2020-04-28 15:21] crapo commented on #403
When you are done with this will the  Xtext version be 2.20.0? That's what's in development right now, right?

[2020-04-28 15:54] kittaakos commented on #403
Yes, that's the plan.

Correct, we have `2.20.0.v20191202-1256` on the `development` branch.

FYI: we can also switch to `2.21.0.v20200302-1509`.

[2020-04-28 17:46] glguy opened #418 "Current prerelease incompatible with Eclipse 2020-03"
My goal is to use a new version of SADL that accounts for the changes since the released version in 2013. I tried installing one of the pre-release versions but it depends on a version of the eclipse text editor that doesn't appear to be available any more. Could you recommend instructions for building a version of this package that works with Eclipse today or perhaps upload a new prerelease, or h

[2020-04-28 17:54] glguy commented on #418
With `com.ge.research.sadl.update-3.2.0.201910281908.zip` I get

[code]

With `com.ge.research.sadl.update-3.2.1.202004011621.zip` I get

[code]

[2020-04-28 22:05] crapo commented on #403
I might need a little help in the morning. I changed workspaces to look at a documentation in another workspace and when I tried to go back I could not get the projects to build. This has been the case now since Monday.

[2020-04-29 09:07] kittaakos commented on #403
~We have to switch to `2.21.0.v20200302-1509`. Otherwise, the p2 update cannot be installed into `Eclipse DSL Tools Version: 2020-03 (4.15.0)`~

Edit: I have just verified it, and we are fine with `2.20.0.v20191202-1256` 👍

[2020-04-29 14:13] kittaakos commented on #418
@glguy, you will be able to install the most recent SADL p2 into `Eclipse 2020-03 (4.15.0)` once #419 is merged.

See the details here: https://github.com/crapo/sadlos2/pull/419#issuecomment-621177733

[2020-04-29 14:17] #409 closed, assigned to kittaakos

[2020-04-29 14:17] #412 closed, assigned to nobody

[2020-04-29 14:19] crapo commented on #418
@glguy, I think your are just looking for the SADL release that you can install and use. We are working on a new release of SADL 3.3. It should be available soon.

[2020-04-29 14:20] kittaakos commented on #403
Resolved: https://github.com/crapo/sadlos2/pull/419#issuecomment-621229970

The [required Eclipse version](https://github.com/crapo/sadlos2/pull/419#issuecomment-621177733) is:
[code]

[2020-04-29 14:20] #403 closed, assigned to nobody

[2020-04-29 14:21] kittaakos commented on #415
It was merged via #419.

[2020-04-29 14:21] #415 closed, assigned to kittaakos

[2020-04-29 14:23] crapo commented on #403
@kittaakos , just for clarification, this is for developers. For those who just want to install the latest release (one it is made available), they should download Eclipse IDE for Java Developers 2020-03, is that correct? See [Installation Instructions](https://github.com/crapo/sadlos2/wiki/Installation-Instructions-for-SADL-IDE,-Version-3.2), is that correct?

[2020-04-29 14:29] kittaakos commented on #403
I tried it with DSL Eclipse. I do not know if it works with the Jave Developer IDE, probably yes.

[2020-04-29 14:31] crapo commented on #403
Oh, OK. So I think either works. I will verify Java version

[2020-04-30 19:57] crapo opened #422 "CSV data with header"
If the header row isn't checked in the import wizard, CSV data with header throws an exception that isn't very helpful.

[2020-05-01 12:00] crapo opened #423 "Erroneous validation error"
@kittaakos , one of our applications has an error that seems erroneous. Attached is a project with a very reduced instance of the problem and another case which seems to me to be very similar which does not have the error.
The error occurs in ScnBusBindings.sadl. The subjects of both statements are found in the first imported model. I believe that this should be a valid statement.
The similar case

[2020-05-02 13:25] kittaakos opened #424 "The builds are broken, check what's causing the mwe2 runtime issue"
- https://github.com/crapo/sadlos2/commit/13b55010bfba4515dd3df640227b4ed587ceeac2
 - https://travis-ci.org/github/crapo/sadlos2/builds/681640744
 - https://ci.appveyor.com/project/crapo/sadlos2/builds/32564930

Downstream ref: https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/pull/120#issuecomment-622053566

[2020-05-04 09:08] kittaakos opened #426 "[web] Built-in functions are broken with the LS version."
Open the SADL built-in functions in an editor, see the errors:

[code]

![Screen Shot 2020-05-04 at 11 06 35](https://user-images.githubusercontent.com/1405703/80951048-6211e580-8df7-11ea-8671-47d3c2a82169.jpg)
![Screen Shot 2020-05-04 at 11 06 40](https://user-images.githubusercontent.com/1405703/80951058-663e0300-8df7-11ea-9845-20c25b93d6ab.jpg)

[2020-05-04 12:19] kittaakos commented on #426
I have fixed it locally, the PR is on the way...

[2020-05-04 12:44] #424 closed, assigned to kittaakos

[2020-05-04 12:58] crapo commented on #423
@kittaakos , as far as I know this issue is the only thing preventing me from releasing SADL 3.3.0 on github, for which we have some people waiting. If you could take a look I would appreciate it.

[2020-05-04 13:13] #426 closed, assigned to kittaakos

[2020-05-04 13:42] kittaakos opened #428 "[web-sadl] The LS does not start, it fails with a security exception"
Steps to reproduce:
[code]

[code]

[2020-05-04 13:45] kittaakos commented on #423
I was still busy with the version updates, web-sadl does not work currently: https://github.com/crapo/sadlos2/issues/428

[2020-05-05 08:04] kittaakos commented on #361
I think we can close this; we have already switched to Eclipse 2020-03.

[2020-05-05 09:37] kittaakos commented on #423
Fortunately, it is not a scooping issue. The validation error is caused by our custom logic from the SADL validator. The commit is [here](https://github.com/crapo/sadlos2/commit/424ac0d969bea4ca67335a0a52d8588213a799ae), do you remember why you have added it?

If I comment out the following part in the SADL validator and run all the core and UI tests, all of them pass. And the problem is also reso

[2020-05-05 12:18] crapo commented on #361
agreed

[2020-05-05 12:18] #361 closed

[2020-05-05 12:30] crapo commented on #423
@kittaakos , I think it isn't quite that simple. True that commenting out the code in SADLValidator makes the error go away, but the concept is still not linked to the correct location. The subject of the statement "scn:c1DeliveryDroneSystem.ImplDeliveryDroneSystem has base:binding ethernet." should be hyperlinked to the declaration of "c1DeliveryDroneSystem.ImplDeliveryDroneSystem" in the import

[2020-05-05 12:47] kittaakos commented on #423
I see what you mean. Then I was wrong, and this is a scooping issue 😊 I am looking into it. Thank you for the clarification.

[2020-05-05 13:14] kittaakos commented on #428
It was resolved with  #429.

[2020-05-05 13:14] #428 closed, assigned to kittaakos

[2020-05-05 13:27] crapo commented on #423
More detail: in JenaBasedSadlModelProcessor, line  9720, this line:
		`	instUri = getDeclarationExtensions().getConceptUri(sr);`
returns
`http://sadl.org/STEM/Scenario3#scn:c1DeliveryDroneSystem.ImplDeliveryDroneSystem`
so it has the right namespace for the imported concept but not the right local fragment (concrete name) as it put the prefix into the local fragment.

[2020-05-06 07:33] kittaakos opened #430 "IAE in scope provider when working with a broken AST"
`base.sadl`:
[code]

`sub.sadl`:
[code]

[code]

[2020-05-06 08:55] kittaakos commented on #423
I have fixed the scoping/linking issue and added your example as a test. PR: https://github.com/crapo/sadlos2/pull/431

I did not do anything with the validation.

[2020-05-06 11:14] #423 closed, assigned to kittaakos

[2020-05-06 17:06] crapo commented on #418
@glguy, SADL 3.3.0 has now been released and is available for download. See instructions for installation at https://github.com/crapo/sadlos2/wiki/Installation-Instructions-for-SADL-IDE,-Version-3.3.

[2020-05-06 17:06] #418 closed, assigned to nobody

[2020-05-06 18:27] crapo opened #433 "Cross-project confusion about SadlImplicitModel"
With two projects open and different SadlImplicitModels, one project is linked to the SadlImplicitmodel of the other project. Unable to reproduce in simple case.

[2020-05-07 00:58] crapo opened #434 "docker details and options link broken"
@kittaakos , at [https://hub.docker.com/r/theiaide/sadl](https://hub.docker.com/r/theiaide/sadl) there is a link
[here](https://github.com/theia-ide/theia-apps/blob/master/theia-sadl-docker/README.md) that is broken. Do you know where this should point?

[2020-05-07 07:02] kittaakos commented on #434
Now it points to here: https://github.com/crapo/sadlos2/blob/development/sadl3/com.ge.research.sadl.parent/theia-sadl-extension/sadl-extension/README.md

[2020-05-07 07:02] #434 closed, assigned to nobody

[2020-05-07 08:28] kittaakos opened #435 "[docker] Check why the CI still fails with node-gyp error"
Related:
 - https://github.com/eclipse-theia/theia/issues/5168
 - https://github.com/nodejs/node-gyp/issues/1780#issuecomment-503976718

[2020-05-07 09:45] kittaakos commented on #435
It's back now. The CI is green on the `development` branch. I hope `node-gyp install` is a persistent solution.
Closed via #436.

[2020-05-07 09:45] #435 closed, assigned to kittaakos

[2020-05-08 11:57] crapo opened #437 "Improper semantic coloration of property"
if a property is defined using "relationship of <domain> to <range> is <property>." then the property is colored as an rdf:Property rather than an owl:ObjectProperty even though the generated OWL is correct.

Given this model:
` AnatomicalPart is a class.
 Hand is a type of AnatomicalPart.
 Digit is a type of AnatomicalPart.
 {Finger, Thumb} are types of Digit.

 The relationship of Hand to Digit

[2020-05-11 17:42] crapo opened #438 "Invalid Rule Name Collision Error"
If there are two .sadl files open at the same time with a rule of the same name in each, the SADLValidator will incorrectly detect duplicate rule name in same namespace even thought they are in different namespaces. Seems like it might be a thread issue where some synchronization is needed.

[2020-05-18 14:06] crapo opened #439 "Graph Generation issue (GraphViz implementation?)"
I am trying to add tooltip properties to links in a graph, and it is giving an error. I looked into the .dot file and realized that it is not putting quotes around the tooltip for the links. I seem to remember that we had this issue a while back when I was doing tooltip on nodes (now I am doing it for links as well). So, this may not be too involved a thing to address.

The graph file generated wh

[2020-05-19 12:08] crapo commented on #439
fixed.

[2020-05-19 12:08] #439 closed, assigned to crapo

[2020-05-19 12:10] crapo opened #440 "implied properties in tests"
The test evaluation mechanism doesn't support implied properties in tests. See PeopleDataUQ2.sadl in SemanticsSeminar project. An implied property is applied during type checking so that type checking is OK, but then the test evaluation doesn't use it.

[2020-05-19 13:54] crapo opened #441 "changing OWL format breaks inferencing"
In the SemanticsSeminar project, switch from RDF/XML-ABBREV to N3. Inference is broken.

[2020-05-19 14:24] crapo opened #442 ""not known" translation error"
"Ask: select p where age of p is not known." does not translate correctly to SPARQL.

[2020-05-20 19:04] crapo opened #443 "configuration.rdf file missing on new install"
Until the reasoner preferences are set, there is no configuration file so the reasoner doesn't do anything.

[2020-05-20 19:42] crapo opened #444 "Syntax issues"
Cain is child of Adam.   // generates wrong OWL
Cain is a child of Adam.    // generates error

[2020-05-20 20:07] crapo opened #445 "property is a property of property"
should create error.

[2020-05-20 20:35] crapo opened #446 "Type checking deficiency"
spouse describes Person with values of type Person.

A Marriage with spouse George.   // does not create an error

[2020-05-21 18:15] glguy opened #447 ""All Different" statement loses instance relationship"
I'm finding that if I use a *are not the same* statement that the resulting OWL files lose the relationship between {I,J} and C. The behavior changes when I switch to `I is not the same as J.` Removing the distinctness statement altogether seems to give a different encoding.

[code]

Is this the intended behavior?

[2020-05-21 21:11] crapo opened #448 "Test with not test/query/explain (etc.) statements causes unexpected error"
`Inference of 'C:\sadl\git\sadlos2\sadl3\Examples\SemanticsSeminar\PredicateLogic7.sadl' requested.
Unexpected inference result is not a SadlCommandResult (nulljava.lang.NullPointerException
	at com.ge.research.sadl.ide.handlers.SadlRunInferenceHandler.displayInferenceResults(SadlRunInferenceHandler.java:174)
	at com.ge.research.sadl.ide.handlers.SadlRunInferenceHandler.run(SadlRunInferenceHandler

[2020-05-21 21:11] glguy opened #449 "(Inverse) Functional properties no longer supported?"
I can't get functional or inverse functional properties to work in the latest release of SADL. I thought this syntax was accepted in a previous version I'd used. Now I get Unhandled SadlProperty expression*.

Is this working as intended?

[code]

[2020-05-21 21:13] crapo opened #450 "Test model with no statements to execute gives unexpected error"
`Inference of 'C:\sadl\git\sadlos2\sadl3\Examples\SemanticsSeminar\PredicateLogic7.sadl' requested.
Unexpected inference result is not a SadlCommandResult (nulljava.lang.NullPointerException
	at com.ge.research.sadl.ide.handlers.SadlRunInferenceHandler.displayInferenceResults(SadlRunInferenceHandler.java:174)
	at com.ge.research.sadl.ide.handlers.SadlRunInferenceHandler.run(SadlRunInferenceHandler

[2020-05-21 21:13] crapo commented on #450
duplicate

[2020-05-21 21:13] #450 closed, assigned to crapo

[2020-05-21 21:19] crapo commented on #449
@glguy, you are right. Those have fallen through a crack. The statement "p describes C with a single value of type D." does make "p" a functional property in the OWL translation, but of course doesn't allow this to be stated without a range. Will add processing of the last two statements. Is there any urgency WRT to this omission?

[2020-05-21 21:29] glguy commented on #449
@crapo No, this issue isn't urgent for my use-case. I'll just stick to using `with a single value` for the functional case and avoid inverse functional properties by defining functional ones in the other direction.

My goal is to learn as much about SADL and its syntax and capabilities as it is the language we're using to express an ontology of software systems, and in the course of developing my

[2020-05-22 10:12] crapo commented on #449
@glguy , I was wrong in what I said above. In SADL Version 2 it used to be (I'm still going by memory here) that "p ... with a single value of ..." translated to p being an owl:FunctionalProperty as sell as a cardinality restriction. That didn't seem to be defensible so in SADL Version 3 it just creates the cardinality restriction and if you want to make it an owl:FunctionalProperty you have to sa

[2020-05-22 10:52] crapo commented on #448
Fixed, will be in next release.

[2020-05-22 10:57] crapo commented on #447
@glguy, no, not the intended behavior. This is a bug that is caused by an incorrect identification of the declaration and type in the Xtext. "{I,J} are not the same." should give the exact same model as "I is not the same as J." Thanks for finding it!

[2020-05-22 13:48] crapo commented on #447
@kittaakos , this is an error in that the definition of "I", "J" are on the lines that specify the class to which they belong, not the last line. The call to declaration extensions incorrectly returns that "I" and "J" are classes rather than individuals. If this is hard to fix we may not be able to fix it right away due to funding limits. Please proffer an opinion about how easily/quickly it might

[2020-05-23 11:25] crapo commented on #447
An addendum to this issue. The Jena documentation ([https://jena.apache.org/documentation/javadoc/jena/org/apache/jena/ontology/OntModel.html](https://jena.apache.org/documentation/javadoc/jena/org/apache/jena/ontology/OntModel.html), search for allDifferent)seems to be at odds with the W3C documentation ([https://www.w3.org/TR/owl-ref/#differentFrom-def](https://www.w3.org/TR/owl-ref/#differentFr

[2020-05-23 12:13] crapo commented on #443
I have concluded that the only issue here is that the default Jena reasoner ModelSpec, OWL_MEM, was not the default option displayed when editing reasoner preferences (it was OWL_DL_MEM_RDFS). I have made both OWL_MEM, meaning no OWL reasoning. As soon as reasoner preferences are even looked at and saved, the configuration.rdf file is created. Until then one isn't really needed. (What about any bu

[2020-05-23 13:07] crapo commented on #444
Fixed the first to generate correct OWL. Not ready to try to change grammar to support second. Will include in next release.

[2020-05-25 07:21] kittaakos commented on #447
If I understood this issue correctly, there are two different problems here:

1. **Linking** (where `[]` represents the declaration of a SADL resource and `<>` is a ref only):

Expected:
[code]

Actual:
[code]

----

 2. **Incorrect [concept type](https://github.com/crapo/sadlos2/blob/0aea0756404e02d831a6ba47a85fc0852c0a99eb/sadl3/com.ge.research.sadl.parent/com.ge.research.sadl/src/com/ge/researc

[2020-05-26 11:18] crapo commented on #447
#1's expected linking is the correct linnking.
WRT #2, I thought that if #1 were fixed #2 would be automatically fixed. I imagined that the confusion is in the logic of DeclarationExtensions, where similar constructs such as "`{<I>,<J>} are types of [C].`" or "`{<A>,<B>} are instances of [C].`" were not being differentiated properly from this current case.

[2020-05-26 12:28] crapo commented on #445
This isn't so straightforward. in a property chain, property of property is perfectly fine. And there is the issue of implied and expanded properties. So this will require some care to figure out when it is an issue that should be reported.

[2020-05-26 12:37] crapo commented on #446
It appears that currently the type checking only checks the range of the property (spouse), not the domain so no mismatch is detected.

[2020-05-26 13:13] kittaakos commented on #447
I looked into it; the fix is not trivial. We have a list of rules to pick up definitions first before the references:

https://github.com/crapo/sadlos2/blob/238bcd4d63841e390c5037baf5d16d541b1b65be/sadl3/com.ge.research.sadl.parent/com.ge.research.sadl/src/com/ge/research/sadl/scoping/SADLScopeProvider.xtend#L329-L338

The order list defines the precedence of the SADL resource definitions. If I mo

[2020-05-26 14:39] crapo commented on #447
Why wouldn't this be a satisfactory solution?
'	val LocalScopeProvider localScope_01 = namedScopeProvider([resource, namespace, parentScope, importScope |
		return internalGetLocalResourceScope(resource, namespace, parentScope, importScope, true) [
			if (it instanceof SadlResource) {
				return (eContainer instanceof SadlClassOrPropertyDeclaration && eContainingFeature == SADL_CLASS_OR_PROPERTY_D

[2020-05-27 07:49] kittaakos commented on #447
I am not sure if I understand this part, but I created a [PR](https://github.com/crapo/sadlos2/pull/451) with your proposed change. I added a linking and an ontology concept type test.

[2020-05-27 12:03] #447 closed, assigned to nobody

[2020-05-27 12:15] crapo commented on #447
Thanks Akos! Fix in next release.

[2020-05-27 12:18] kittaakos commented on #447
You've [fixed](https://github.com/crapo/sadlos2/issues/447#issuecomment-634067653) the issue, I just converted into two test cases. 😊

👍

[2020-05-27 13:05] crapo commented on #449
fixed in today's release.

[2020-05-27 13:05] #449 closed, assigned to crapo

[2020-05-27 13:05] crapo commented on #448
fixed in today's release

[2020-05-27 13:05] #448 closed, assigned to crapo

[2020-05-27 13:06] crapo commented on #444
fix in today's release.

[2020-05-27 13:06] #444 closed, assigned to crapo

[2020-05-27 13:06] crapo commented on #443
fixed in today's release.

[2020-05-27 13:06] #443 closed, assigned to crapo

[2020-05-27 14:12] crapo commented on #441
Preferences weren't getting set soon enough in JenaBasedSadlModelInferenceProcessor.runInference. Fixed in today's release.

[2020-05-27 14:12] #441 closed, assigned to crapo

[2020-05-27 17:50] crapo opened #452 "should be able to graph an external OWL file"

[2020-05-27 18:49] crapo opened #453 "NPE on " Cain has sister (a Woman age ).""
java.lang.NullPointerException
	at com.ge.research.sadl.jena.JenaBasedSadlModelProcessor.assignInstancePropertyValue(JenaBasedSadlModelProcessor.java:10430)
	at com.ge.research.sadl.jena.JenaBasedSadlModelProcessor.processSadlInstance(JenaBasedSadlModelProcessor.java:10053)
	at com.ge.research.sadl.jena.JenaBasedSadlModelProcessor.processModelElement(JenaBasedSadlModelProcessor.java:1311)
	at com.

[2020-05-28 11:46] Ptival opened #454 "What is the SADL syntax for durations?"
It appears SADL supports a primitive `duration` type, mapped to `xsd:duration`.

However, I have not been able to instantiate such a duration, as I have not found where the concrete syntax for those is defined.

Failed attempts:
* `... with cookingTime 20 minutes.`
* `... with cookingTime 20 mins.`
* `... with cookingTime PT20M.` (XML's XSD syntax for duration)
* `... with cookingTime "PT20M".` (i

[2020-05-28 17:42] crapo opened #455 "Test: Dan is a Person with age 30."
Also error if is a Person is repeated, presumably because of CRule variable not reset. Also, doesn't translate correctly into test triples.

[2020-05-28 18:55] crapo opened #456 "Relationship"
Since "relationship" as a keyword occurs at the beginning of a statement, "Relationship" should also be accepted.

[2020-05-28 22:04] crapo commented on #454
I'm assuming that you are using the latest release of SADL V3.3.
The SADL grammar supports units on numbers, so  the number followed by the units should not be a grammar problem. (Units with spaces or characters like "/" must be quoted.) So I assume you're getting a type checking error due to the mismatch between the range (duration) and the value, which will be a UnittedQuantity. You can cause un

[2020-05-29 11:50] crapo commented on #455
Can't reproduce the first issue. Maybe that was with an older version?

[2020-05-29 12:01] Ptival commented on #454
Ah, this makes sense! I understand the errors I was getting better now.

With the option you pointed me to, I can define `cookingTime` as an `int`, and type in `20 minutes` and it works as you described.

What I still don't know is, if I define `cookingTime` as a single value of type `duration`, is there anything I can write in SADL that will be translated to an appropriate `xsd:duration`?

[2020-05-29 12:41] crapo commented on #455
This is fixed, will be in next release.

[2020-05-29 12:41] #455 closed, assigned to crapo

[2020-05-29 12:45] crapo commented on #453
fixed in next release.

[2020-05-29 12:45] #453 closed, assigned to crapo

[2020-06-01 12:47] crapo commented on #454
Now I understand your question better. I hadn't considered this before. SADL handles xsd:date and xsd:dateTime values as strings which are then converted to Jena TypedLiterals in the method "getLiteralMatchingDataPropertyRange" in the SadlUtils class. This class uses the POJava package to convert the string to a POJava DateTime instance, which is then converted to a string which is passed to Jena

[2020-06-01 17:24] crapo commented on #454
This piqued my curiosity and I couldn't resist so I did some work on it. This model:

[code]
now yields this OWL (which is wrong, and causes errors when processed by Jena):
`  <Issue454:CookedFood rdf:ID="Browies">
    <Issue454:cookingTime rdf:datatype="http://www.w3.org/2001/XMLSchema#duration"

  </Issue454:CookedFood>
`
Inputs could be "20 minutes", "20 min", ""PT23M"", etc.

What this doesn't

[2020-06-02 12:05] crapo commented on #454
Well, POJava Duration doesn't parse years so using this class would only work for durations of less than 1 year, expressed in smaller units than year. Also, the output of Duration.toString() isn't XSD syntax for duration--it's missing the leading "P" and the units are lowercase. Not finding existing code to solve this problem.

[2020-06-02 17:27] crapo commented on #454
OK, so years and months in durations are hard and I don't find any software to do it. Checking for years or months, giving error. W, D, H, M S work. Tests added. Type checking fixed.
Note that duration will be processed with units even when ignore units in translation is checked in preferences as this isn't a UnittedQuantity related issue.
Will be in next release.

[2020-06-02 17:27] #454 closed, assigned to nobody

[2020-06-09 15:38] crapo opened #457 "Need SadlAnnotation "see" to be able to refer to concepts in the current or imported models"
On the ASKE program we needed to have links to graph displays, URLs in Wikidata, etc., so we added “see” to the SadlAnnotation (see line 30 in SADL.xtext, development branch). The “see” annotation is mapped by the model processor to the rdfs:seeAlso property in OWL.

In importing some OWL ontologies into SADL for the a new project, we find that some rdfs:seeAlso object values are URIs of concepts

[2020-06-09 18:42] crapo commented on #457
Similar issue has come to light WRT rdfs:isDefinedBy. In an OWL model, this property will typically have an "RDF Vocabulary in which a resource (the subject) is described. In other words, the value of annotation property for rdfs:isDefinedBy (not yet in annotation vocabulary) would be a SadlModel or the URI of an OWL model, which in turn may be imported into the project or not.

[2020-06-10 07:30] kittaakos commented on #457
Please add sample snippets with the desired syntax and I will look into whether it is possible or not. Thank you!

[2020-06-10 07:43] kittaakos commented on #457
Related: https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/issues/63

[2020-06-10 12:13] crapo commented on #457
Here is a simple model that illustrates the current "see" annotation and an unsupported form that would support the translation of rdfs:seeAlso that references a concept in the model instead of an external URL.

` uri "http://sadl.org/SeeExamples.sadl" alias SeeExamples.

 PhysicalThing is a class.

 Agent is a class.

 Rock (see "https://www.wikidata.org/wiki/Q22731") is a type of PhysicalThing.

[2020-06-10 12:21] kittaakos commented on #457
Thank you! I see, OK, so you want a (real Xtext) cross-ref. How about such a grammar change?

[code]

Obviously, we need a dedicated property for the cross-ref, we cannot collect `Strings` and cross-ref `QNAMEs` in the same `EList`.

In the DSL it would look something like this:
[code]

[2020-06-10 12:21] crapo commented on #457
I think that the rdfs:isDefinedBy usage in the target OWL file to import is a bit strange and maybe a not a good idea to pursue. It's usage is in an OWL file which defines two ontologies, "http://www.w3.org/ns/prov" and "http://www.w3.org/ns/prov-o". What is strange to me is that the snippet below IS THE DEFINITION and the namespace identifies the first ontology and the isDefinedBy property says i

[2020-06-10 12:25] crapo commented on #457
OK, if "we cannot collect Strings and cross-ref QNAMEs in the same EList" then that's why I couldn't get it to work :-)
So we could have a different SadlAnnotation keyword that accepted QNAMEs as values? Like maybe "ref"?

[2020-06-10 12:29] kittaakos commented on #457
👍

Let's check if I got this correctly, so you want to:
 - allow only strings if the annotation keyword is `alias`, `note`, and `see`, AND
 - allow only SADL resource cross-refs if the annotation keyword is `accepted`.

Note, the generated `SADLAnnotation` EClass will still have two EList declared on it:
[code]

[2020-06-10 12:32] crapo commented on #457
That's the thought, yes. What the keyword would be is uncertain.

[2020-06-10 12:33] crapo commented on #457
Maybe the Annotation with SadlResource could be "'refer' 'to'"?

[2020-06-10 12:35] crapo commented on #457
or "'related' 'to'"

[2020-06-10 12:51] kittaakos commented on #457
Sure, it is possible. Here is one of the possible solutions:
[code]

And in your DSL:
[code]

In general, it is better to make the parser more relaxed, and allow both in the grammar, and add a custom Xtext validation:
 - If `related to` is not followed by SADL resource refs only, add an error
 - If the annotation is not `related to` but is followed by any SADL resource refs, add an error.

So inva

[2020-06-10 12:57] crapo commented on #457
I understand the concept of making the parser more relaxed and let validation pick up things you don't want to allow. I don't see how it applies to this situation. We are only creating the alternate "related to" because we CAN'T make the parser more relaxed to allow either STRING or (SadlResource or QNAME). So what are the two alternatives you have in mind when you say "Both works..."?

[2020-06-10 13:11] kittaakos commented on #457
You can use the proposed grammar changes from above, this:
[code]
If you type a string after `related to` you will see a parser error, eg.: `no viable alternative at input '"https://www.wikidata.org/wiki/Q22731"'`

OR

You can allow all in the grammar, and add a custom Xtext validation. The grammar will be something like this:
[code]

Note: we have to show an error if we reference a non-existing S

[2020-06-10 13:44] crapo commented on #457
Oh, OK. Now I understand. Will think about it. You have given me the information needed. Thanks!!

[2020-06-10 14:14] crapo opened #458 "Debugging backend using WebSADL"
@kittaakos , I presume that when you are debugging WebSADL that you connect a debugger to the process that is running the backend and then can set breakpoints in, for example, the model processor. Can you please outline how one might go about debugging WebSADL?

[2020-06-10 14:39] kittaakos commented on #458
I never debugged it in a docker container, so I do not know the exact steps for that. Probably it does not work out of the box. Additional ports have to be exported, such as `5007` at least. See [here](https://github.com/crapo/sadlos2/blob/958995dd7f8f420354830a7511630ac0e70394be/sadl3/com.ge.research.sadl.parent/theia-sadl-extension/browser-app/Dockerfile#L22).

If you want to develop it actively

[2020-06-10 15:45] crapo opened #459 "Downloading external models in WebSADL"
@kittaakos , I'm trying to download external OWL models in WebSADL. I'm using the TestSadl3Ide sample project, which is at ...sadlos2/sadl3/Examples. TestSadl3Ide contains the file "externalmodels.url" with a couple of URLs in it. I thought that selecting SADL -> Download External Models would cause the download to occur but instead I get the notification "Only external model definitions can be us

[2020-06-10 19:27] crapo opened #460 "Rename Symbol in WebSADL does not appear to work"
@kittaakos , given model A.sadl defining Shape and B.sadl defining Circle (Circle is a type of Shape.), if I select Shape and ask to "Rename Symbol" on the popup menu, nothing happens. In the console window where the docker image was started "root Info NoResult." is displayed.

BTW, what does "Change All Occurrences" on the popup menu mean?

[2020-06-11 07:02] kittaakos commented on #460
Rename/refactoring [was implemented](https://github.com/crapo/sadlos2/issues/415) for the Eclipse IDE only with [an old, `2.14` version of Xtext](https://github.com/crapo/sadlos2/blob/0af9f6369421322700a4574d4a5b56b8d8d6d41a/sadl3/com.ge.research.sadl.parent/pom.xml#L11).

[2020-06-11 07:46] kittaakos commented on #459
PR: https://github.com/crapo/sadlos2/pull/461

[2020-06-11 12:11] crapo commented on #460
So "Rename Symbol" would normally be the right menu item for the renaming, but the implementation you reference was Eclipse-specific, if I understand. Implementing renaming of resources in WebSADL would be an entirely independent effort? How much effort would it take? And what is the "Change All Occurrences" on the menu mean?

[2020-06-11 12:24] #459 closed, assigned to nobody

[2020-06-11 14:26] kittaakos commented on #460
Yes.

Normally, no. It should be the same but we had to highly customize the rename/refactoring for ASKE to not insert conversation during the refactoring. (https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/issues/68#issuecomment-589028359)

I have to spend an hour or so to be able to give a better estimate.

It's pure free-text replace. It has nothing to do with the SADL-specific language featur

[2020-06-11 18:22] crapo opened #462 "WebSADL: what is meaning of coloring in Explorer?"
@kittaakos , I created a new Workspace. Created new Project. Created new .sadl file in project. Uploaded a different .sadl file using "Upload Files..." from the context menu. Result shows WS, project, and the uploaded file in yellow font. What does this mean?
![image](https://user-images.githubusercontent.com/1186278/84424986-d9a11480-abee-11ea-8b36-da67cb6b0ffd.png)

[2020-06-12 06:56] kittaakos commented on #462
It means there is a validation warning in that file. The validation decorator is propagated up to the container folder just as in the Eclipse IDE. For instance, if the file `/path/to/file.sadl` has a warning, you will see a marker on `path` and  `to` folders, plus on the `file.sadl`. Same for an error:

![screencast 2020-06-12 08-38-02](https://user-images.githubusercontent.com/1405703/84473837-06

[2020-06-12 06:56] #462 closed, assigned to nobody

[2020-06-12 06:59] kittaakos commented on #460
@crapo, let me know if I should investigate it.

[2020-06-12 10:17] crapo commented on #460
Yes, please investigate and let me know how much effort it would take to have renaming of concepts in WebSADL.

[2020-06-15 07:03] kittaakos commented on #460
I've looked into the required changes; it does not seem to be a trivial task. In a nutshell; the LSP-based rename refactoring works with the change-serializer under the hood. It converts EMF attribute changes to text changes. The default Xtext implementation relies on the `name` attribute of the EObject. For the SADL resources, we have a completely different construct. The definition of the SADL r

[2020-06-15 08:48] kittaakos commented on #460
I have pushed a prototype to https://github.com/crapo/sadlos2/pull/463

![screencast 2020-06-15 10-43-12](https://user-images.githubusercontent.com/1405703/84637149-a5cb3500-aef5-11ea-8b60-81ed5f5e5b32.gif)

[2020-06-15 12:23] crapo commented on #460
@kittaakos , I've looked at the PR. I'm a little confused. Does this prototype refactoring work for both Eclipse and Web SADL? You said it could easily take 2 or 3 days, so there's lots more to do or it is mostly done and took less time than you expected?

[2020-06-15 12:29] kittaakos commented on #460
No, it is for the web only. It's a messy prototype.

----

😃 Well, I said one or two days. See [my comment](https://github.com/crapo/sadlos2/issues/460#issuecomment-643943481):

----

It is just a prototype to show it works. As I said, it takes a day or two to support it. The followings are missing:
 - handle name collision,
 - escape identifiers,
 - single-source the web and Eclipse, and
 - add t

[2020-06-15 12:37] crapo commented on #460
Then let's go for it! Thanks for a quick prototype. Do I understand correctly that the results will be code common to the Ecllipse-based and Web SADL?

[2020-06-15 12:42] kittaakos commented on #460
👍 I believe I can deliver the PR by the begging of the next week.

Yes. I do my best to reuse most of the code between the web and the Eclipse version. The only issue I can see is the Eclipse version for ASKE; we had to disable the conversation during the validation phase. I am going to test this first, and if there is a technical obstacle, I'll let you know.

[2020-06-15 14:15] crapo opened #464 "Understanding WebSADL git capabilities"
@kittaakos , you have previously pointed me to this eclipse-theia issue (https://github.com/eclipse-theia/theia/issues/1037#issuecomment-376180725/) starting where you wrote "Alternatively, here is a complete guide to support multiple GitHub accounts with a single Theia backend....". I have been trying to understand this and follow the instructions to demonstrate the approach with WebSADL but have

[2020-06-15 14:21] kittaakos commented on #464
Yes, the example has been verified, I went through the steps when I was writing the doc. It should work.

They are the same. If you access the terminal from the web-app (webSADL from the browser), you are accessing the server's terminal.

What's wrong with the instructions, do you see an error when you execute them, or does it work incorrectly?

[2020-06-15 19:32] GEGlobalResearch commented on #464
John Interrante and I spent some time this morning going through these instructions and I think we understand better. Just to confirm:
1. Each user ends up with their own folder under the workspace folder. Their personal clone of arepo is under this folder.
2. Their generated RSA keys will be stored in their personal folder.
3. All uses will be able to see and access files in other users' folders.

[2020-06-16 07:27] kittaakos commented on #464
Excellent!

Yes, each user has her own folder containing a local git repository cloned with SSH.

I put the keys to the user's home folder (`~/.ssh`). I have not tried putting it into the user's Theia workspace folder, if you want that way and it works it's great.

Yes. In fact, users can access anything on the server from the terminal.

[2020-06-18 10:09] Ptival opened #465 "How to configure log4j?"
When I start Eclipse and a SADL file, I get the following message in my Eclipse console:

[code]

Reading the linked FAQ, it appears I would need some log4j configuration file in the classpath. I have no idea how to do so for something that comes as an Eclipse plug-in.

[2020-06-18 12:38] crapo commented on #465
This message has been around for years and a number of people have tried to fix it. It appears to be a fairly illusive goal. I think the issue comes from the multiple loggers that are used by different Open Source libraries that are used in SADL. To answer your question more directly, I believe that you can set VM arguments in the eclipse.ini file, and the form of the argument you want is, for exa

[2020-06-18 12:45] Ptival commented on #465
Thanks, at least it's good to know that this message is not a source of concern.

I started paying attention to it because I started getting those (awful) error messages:

[code]

And have so far been unsuccessful at finding where this error log may be.

[2020-06-18 12:45] #465 closed, assigned to nobody

[2020-06-18 12:49] crapo commented on #465
Are you using Jena TDB for persistence? I don't know if that works in Version 3; it hasn't been tested.

[2020-06-18 12:52] Ptival commented on #465
Oh, this was likely the issue, I must have changed this at some point. Back to the RDF/XML-ABBREV now and those errors are gone, thanks!

[2020-06-19 08:14] Ptival opened #466 "NullPointerException in ModelCom.add, in JenaBasedSadlModelProcessor.processSadlDifferentFrom"
Sorry for all the tickets!

Whenever I save a SADL file, some time through the processing (I do get OWL files generated), the following exception is raised:

[code]

The issue seems to arise from this call:

https://github.com/crapo/sadlos2/blob/a8d34102e1940212fde0ebdc86eb4a4db2b84ffa/sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.jena/src/com/ge/research/sadl/jena/JenaBasedSadlModelProce

[2020-06-19 13:50] crapo commented on #466
Can you please provide me with a minimal .sadl file that produces this error? Presumably you have a different from construct of some kind in the model.

[2020-06-19 13:55] crapo opened #467 "Debug and test Jena TDB persistence"
Jena TDB persistence option worked in V2 but hasn't been tested and validated in V3. Appears to not be functional currently.

[2020-06-19 14:04] crapo opened #468 "WebSADL User Feedback"
A WebSADL user noted that they had difficulty detecting what was indented in the Explorer pane as the amount of indent is so small.

[2020-06-19 14:36] Ptival commented on #466
Figured it out, it happens on this minimal example:

[code]

It is solved by moving the declaration of `SomeModel` as an `Entity` above the `are not the same` line that mentions it.

[2020-06-22 13:27] crapo commented on #466
Thank you for the excellent example. The order should not matter. This is fixed and will be in the next release.

[2020-06-22 13:27] #466 closed, assigned to nobody

[2020-06-23 17:02] amarbanerjee23 opened #469 "Getting left recursion errors while running the mwe2 workflow - Xtext 2.20"
Dear team,
I am trying to update the grammar in the source code by modifying some keywords. However, I am getting left recursion error when In run the .xtext file. I am using xtext 2.20. I need to understand the source code and hence, starting with first understanding the grammar.
The error log is

`error(211): ../com.ip2.cnl.sadl/src-gen/com/ip2/cnl/parser/antlr/internal/InternalSADL.g:456:2: [fa

[2020-06-25 12:16] crapo opened #470 "null prefix in ontology graphs"
Use of prefixes in ontology graphing is erratic in some respects. "null" appears before concept name in model graphs. Use of prefixes instead of URI in project graph seems random. "oneOf" is empty.

[2020-07-02 14:45] crapo opened #471 "Incomplete Translation of subproperty"
In a statement such as "sister is a type of sibling with values of type Woman." the range part isn't being translated to OWL.

[2020-07-02 15:24] crapo commented on #471
Ready for regression testing.

[2020-07-02 18:56] crapo opened #472 "Unable to get ResourceSet unless menu is opened"
@kittaakos , this is an issue with the SADL Gear icon and dropdown menu. If I mouse over the icon it says "Test Model". However, if I click on the icon rather than getting the dropdown mneu and selecting "Test Model" the resourceSetProvider at line 387 in SadlActionHandler is null. I don't know how to resolve this. This is work to PO for ARCOS.

[2020-07-02 19:54] kittaakos commented on #472
I see; the plug-in configuration was incomplete. We have to prefix the default handler with the class that will do the dependency injection. Otherwise, the fields will be `null`. Here is the PR: https://github.com/crapo/sadlos2/pull/473

[2020-07-02 21:02] #472 closed, assigned to nobody

[2020-07-02 21:05] #460 closed, assigned to nobody

[2020-07-02 21:09] crapo opened #474 "Failures when project path has folder name repeating beginning of project name"
@kittaakos , a user has reported that when the path of a project is, for example, ".../Rack/RackOntology" exceptions occur. The user tracked it down to EclipseSadlProjectHelper line 59, "path.startsWith(key)". I haven't reproduced this problem, so if this doesn't make sense I'll get move info. I vaguely remember that this was a known limitation resulting from WebSADL implementation, but maybe I'm

[2020-07-02 21:48] crapo opened #475 "testRenameDecl_MultiFile test failure"
@kittaakos , after merging the renaming PR (but I don't know if it is the cause, testRenameDecl_MultiFile in SadlRenameTest fails. It looks to me like the renaming succeeded but the output has the files in a different order than expected, but I'm not sure I understand the test. I've ignored the test for the moment.

[2020-07-03 06:52] kittaakos commented on #474
I am sorry, I do not understand this bug-report. What's the error? Do you have a stack trace?

WebSADL does not use `EclipseSadlProjectHelper`.

 Can you please zip a test project that I can use to reproduce the issue.

[2020-07-03 06:57] kittaakos commented on #475
OK, I see the issue. Thank you for letting me no. Fortunately, it's a problem with the test assertion and not the behavior. See the error message from the CI:
[code]
The changeset is correct, the changed ranges also look good, but the order of the changed resources is the difference. I will adjust the assertions.

[2020-07-03 07:14] kittaakos commented on #475
PR: https://github.com/crapo/sadlos2/pull/476

[2020-07-06 12:33] #475 closed, assigned to kittaakos

[2020-07-06 12:48] crapo commented on #474
@glguy, can you provide Akos with a simple project and path to reproduce? I have what I thought was a scenario to reproduce the error but not seeing it. Maybe I didn't understand/don't remember what the error was and how to reproduce it even given the right context of something like ....RACK/RACK_Ontology...

[2020-07-06 12:52] crapo commented on #471
Regression tests pass.

[2020-07-06 12:52] #471 closed, assigned to crapo

[2020-07-06 12:55] crapo commented on #469
@amarbanerjee23 , I believe, based on our email exchange, that this is no longer an issue. If that is true please kindly close the issue. Thanks!

[2020-07-06 13:08] amarbanerjee23 commented on #469
Yes, it is resolved.. Thanks a lot for your help !!

[2020-07-06 13:08] #469 closed, assigned to nobody

[2020-07-06 17:00] glguy commented on #474
[eclipse-reproduction.zip](https://github.com/crapo/sadlos2/files/4880278/eclipse-reproduction.zip)

Here's an archive of a project that exhibits the bug along with a screenshot of the error message when *Test Model* is run on the open file.

Note that it's important that the *Base* project is closed to get this particular error.

[2020-07-06 18:38] crapo commented on #474
Maybe it's a Mac thing? On Windows the only message I get is a parser error on the invalid SPARQL query.
Nested projects are not intended to be supported. Perhaps we need to detect this and explicitly call it out as an error?

[2020-07-07 06:49] kittaakos commented on #474
The problem here is that we will end up multiple built-in functions and SADL implicit models when working on nested projects. URIs must be unique per project.

We can handle this gracefully, but we will still have to resolve the duplicate built-ins.

@crapo, let me know if you want me to enhance the nested project support; first, we need to figure out how this supposed to work.

[2020-07-07 12:06] crapo commented on #474
I don't think nested project support makes sense for the very reason that the entire design is for a single SADL implicit model and built-in functions model, a single OwlModels folder. I think it would be much more useful, and perhaps easier, to detect and report nesting as an error. Note that there's already some weird behavior relative to SADL implicit model when one project depends upon another

[2020-07-07 14:59] glguy commented on #474
In my case I didn't want nested projects. I got into that situation when
the root folder of the SADL project changed. I don't think this is a high
priority fix but it affect two of us on the project independently.

On Tue, Jul 7, 2020 at 5:06 AM Andrew Crapo <notifications@github.com>
wrote:

--
Eric Mertens

[2020-07-07 15:06] crapo commented on #474
@kittaakos , is there an easy way to detect nesting and report the error--maybe not allow model processing for nested projects?

[2020-07-07 15:20] kittaakos commented on #474
I do not think so, at least not for the attached project setup. I have downloaded and checked the content of `.project` files;

`Base`:
[code]

`Nest`:
[code]

The projects do not reference each other so we cannot use any Eclipse APIs to figure out such parentage between the projects. If we want to change the behavior and handle such setups gracefully, we have to rely on the filesystem and check t

[2020-07-07 15:31] crapo commented on #470
fixed all of the errors I'm aware of. Made it so if showing implicit is off the implicit model still gets graphed.

[2020-07-07 15:31] #470 closed, assigned to crapo

[2020-07-07 15:35] kittaakos opened #477 "[WebSADL] Clean up the unused dependencies."
For instance, `electron`. It's unused.

[2020-07-08 12:20] #477 closed, assigned to kittaakos

[2020-07-16 20:34] crapo opened #479 "Incrementing SADL Version"
@kittaakos , it isn't clear to us how to update the SADL version. The parent version is in every project pom under parent. I'm not sure where else an update is required. Would you be so kind as to write a set of instructions for incrementing the SADL Version number? I've just updated to Jena 3.16.0 and that opens a lot of new functionality so a version bump seems appropriate.

[2020-07-17 06:58] kittaakos commented on #479
Can you please use [this](https://github.com/crapo/sadlos2/pull/419/commits/1416537ae063902d1f519caaa86350c2b70ac754) commit as a reference?

One has to update the version:
 - in the parent POM,
 - each POM per project,
 - `MANIFEST.MF` per project,
 - and in the SADL feature.

Note, updating the `category.xml` for the p2 is not required as it is set to `0.0.0`.

If it's not clear how to proceed,

[2020-07-21 11:40] crapo commented on #479
This is done on the Jena3.16 branch.

[2020-07-21 11:40] #479 closed, assigned to nobody

[2020-07-21 12:00] crapo commented on #456
fixed grammar and added test. Will be in 3.4.

[2020-07-21 12:00] #456 closed, assigned to nobody

[2020-07-21 12:59] crapo commented on #355
I have tried again to reproduce in Eclipse-sadl and WebSADL without success. Closing as I think it is OBE.

[2020-07-21 12:59] #355 closed

[2020-07-21 13:24] crapo commented on #332
which model to use was incorrect. fixed.

[2020-07-21 13:24] #332 closed

[2020-07-22 14:46] AbhaMoitra opened #482 "Flag warning when "note" added at point other than in declaration"
If a "note" is added at a point other than in a declaration then the "note" text does not appear in tooltip when hovering over a reference to that entity / property.

[2020-07-22 14:53] AbhaMoitra opened #483 "Incorrect error marking in SADL query"
In a SADL query like:

    Ask: select distinct rq, sid where rq is a REQUIREMENT and rq Rq:satisfies sid.

where there are imports with 2 definitions of "satisfies" using "Rq:satisfies" to identify which one is meant. However the following error message is shown:

    Unexpected error finding property 'Rq:Rq:satisfies' in ontology, cannot validate

[2020-07-22 15:04] AbhaMoitra opened #484 "Flag use of ambiguous properties in a SPARQL query"
Consider the SPARQL query

  Ask: "select distinct ?rq ?sId  where
       {  ?rq <rdf:type> <REQUIREMENT>
        . ?REQUIREMENT <satisfies> ?sId
       }".
where there are definitions of "satisfies" that are imported, so the use of "<satisfies>" is ambiguous. Can we flag such ambiguous usage with a warning.

[2020-07-22 16:46] crapo commented on #482
@AbhaMoitra , one could relax the constraint so that annotations (notes, alias) could be specified on references as long as they are in the same namespace (in the same .sadl file). Thoughts?

[2020-07-22 20:48] AbhaMoitra commented on #482
I will leave that up to you. For RACK, all the "note"have been moved to declaration.

[2020-07-22 21:05] crapo commented on #482
Leaving at simpler solution of allowing only in definitions. Available in V3.4.0.

[2020-07-22 21:05] #482 closed, assigned to crapo

[2020-07-23 16:36] crapo opened #485 "Implicit models should not appear in import content assist"

[2020-07-23 17:18] crapo opened #486 "Content Assist not working when 3.4.0 update is installed in Eclipse for Java Developers"
@kittaakos , this one has me stumped. The development branch has jena3.16 merged with it, updating Apache Jena from a 5+ year-old version and updating the SADL version to 3.4.0. The Jena logging changed, which required some tweaks. But now when run from the development environment everything seems to work OK but when I install the update zip file into an Eclipse 2020-03, content assist does not wo

[2020-07-23 21:42] crapo commented on #482
Actually, it's an error. And it occurs only if the annotation is in different namespace (another .sadl file) than the definition, since it is hard for people to tell sometimes which is the definition.

[2020-07-23 21:47] crapo opened #487 "log4j usage in activators"
@kittaakos , Jena has changed how it does its logging between 2.x and 3.x. It used to use slf4j with a log4j12 backend, now it does slf4j with a log4j2 backend. Consequently we have removed org.apache.log4j.Logger from our code. However, it appears automatically in the generated activators, e.g., SadlActivator. We are wondering if we should add log4j to the ui Bundle-ClassPath or add it to the thi

[2020-07-23 21:53] crapo commented on #486
This was apparently due to the logger issues. Once that got sorted out a bit CA started working.

[2020-07-27 09:12] kittaakos commented on #487
Why is it required to change anything wrt the logging? Did the Jena update break anything?

How do you want to add `log4j` to the classpath? Do you already have a branch with such changes?

As far as I know, the preferred Xtext logging way is to contribute a fragment to `org.apache.log4j` and make sure that no other (logger) fragments exist in the application. Then you can have `org.apache.log4j`

[2020-07-27 12:16] crapo commented on #487
The Jena update seemed to break a couple of things. It was difficult to resolve all of the compiler issues. JenaBasedSadlModelProcessor failed to be resolve even though other classes in the same package did resolve. That proved to be related to logging issues. Everything has been merged to development as all tests pass. However, the current situation is that while content assist works when running

[2020-07-27 12:17] crapo commented on #486
Has stopped working again.

[2020-07-27 12:27] crapo commented on #487
@kittaakos , to be more specific, in order to get JenaBasedSadlModelProcessor to resolve, I had to comment out the line "private static final Logger logger = Logger.getLogger(SadlmodelProcessor.class)" in SadlModelProcessor.java, along with the associated import of org.apache.log4j.Logger. These changes were replaced by using org.slf4j classes for logging. @tuxji made some changes to loggin in #48

[2020-07-27 12:31] kittaakos commented on #486
I need to know what did you change. Do you have a branch or a PR with the changeset? I can look into the issue this week.

[2020-07-27 12:34] crapo commented on #487
There was an update build in there in which content assist worked, which lead me to close #486. Then it stopped. Maybe that coincides with replacing rather than commenting out the logging in SadlModelProcessor. Investigating now.

[2020-07-27 12:37] crapo commented on #486
The branch on which the update occurred was "jena3.16". When it appeared that all was well (all tests passed) it was merged into development.

[2020-07-27 12:42] kittaakos commented on #487
Do you know which one was the last commit that worked after installing the SADL p2 into 2020-03?

OK, please ping me if I have to take it over.

[2020-07-27 14:04] crapo commented on #486
@kittaakos , I went through the warnings and fixed a) easy ones, e.g., unused imports, and b) ones that looked like they might have significant consequences. I didn't know how to fix the first 3.
![image](https://user-images.githubusercontent.com/1186278/88551030-6150b000-cff0-11ea-9bb3-ce70c33d76d1.png). Would you like me to push these or would that just cloud the water? I would appreciate your h

[2020-07-27 14:13] kittaakos commented on #486
I will look into it tomorrow, please commit your changeset to somewhere.

[2020-07-27 14:17] kittaakos commented on #486
Here is the changeset so far: https://github.com/crapo/sadlos2/compare/6af2b082d27b598bcb6316a900d1041faa40654f...85fad7cbd9075cc7e63ac44a790f07f374157b0c

[2020-07-27 15:55] crapo commented on #486
As all tests pass, I have pushed my changes to resolve warnings to development branch.

[2020-07-27 21:23] crapo opened #488 "RuntimeException org.eclipse.jface.viewers.ColumnViewer.checkBusy(ColumnViewer.java:764)"
@kittaakos , this has appeared recently and I'm not sure why. Here's the stack trace:
`java.lang.RuntimeException
	at org.eclipse.jface.viewers.ColumnViewer.checkBusy(ColumnViewer.java:764)
	at org.eclipse.jface.viewers.ColumnViewer.update(ColumnViewer.java:543)
	at org.eclipse.ui.navigator.CommonViewer.update(CommonViewer.java:515)
	at org.eclipse.jface.viewers.StructuredViewer.update(StructuredV

[2020-07-27 21:33] crapo opened #489 "Error generating .svg files from .dot files (GraphViz visualization)"
Certain .sadl files failed to generate ontology graphs. Failure is in converting .dot files to .svg files using GraphViz' dot executable.

[2020-07-27 21:49] crapo commented on #489
Issue was that the "ID" following the "digraph" keyword  in the .dot file had hyphens in it. Fix was to escape any double quotes in the graph name passed in and then put the ID in double quotes. (See https://graphviz.org/doc/info/lang.html)

[2020-07-27 21:49] #489 closed, assigned to crapo

[2020-07-27 22:09] crapo opened #490 "Prefixes not showing up in graphs"
Under certain conditions, the nodes in the project import graph do not get the prefix, or even the publicUri. To reproduce, delete the ont-policy file in a project, clean/build, and then graph ontology. After another clean/build the file names in nodes change to publicUris, but never to prefixes (aliases).

[2020-07-27 22:25] crapo commented on #490
The problem was that addMapping in the ConfigurationManagerForEditing did not add the prefix to the global prefixes and so it was never showing up until Eclipse was closed or the project closed.

[2020-07-27 22:25] #490 closed, assigned to crapo

[2020-07-28 06:19] kittaakos commented on #488
It's not a new issue: https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/issues/122#issue-612727417

[2020-07-28 07:15] kittaakos commented on #486
I could not reproduce the problem. It worked for me.

I did the following:
 - Download Eclipse for DSL developers 2020-03.
 - Pull and build SADL from the`development` branch with commit ea95d792. I used `git clean -ffxqd && mvn clean && mvn install -U`.
 - Install the p2 into the brand new Eclipse 2020-03.
 - Verified it.

![Screen Shot 2020-07-28 at 09 09 41](https://user-images.githubuserconten

[2020-07-28 07:20] kittaakos commented on #487
It works for me. See https://github.com/crapo/sadlos2/issues/486#issuecomment-664823231

What is missing for this issue?

[2020-07-28 12:51] crapo opened #491 "Finish implementation of SADL Metrics generation"
The SADL preference EnableMetricsGeneration has been added with default false and which controls whether a MetricsProcessor is created and a .sadl.metrics.owl file is generated for each .sadl file. This allows the generation of metrics files to be turned off. The remaining work is to add to the content of the metrics files and aggregate them to generate a metrics report when such action is specifi

[2020-07-28 13:16] crapo commented on #486
@kittaakos , if I do what you outline above it works for me as well. However, if I install the SADL p2 into a brand new Eclipse for Java Developers 2020-03 it does not work. This is a change. In the past I could install the SADL p2 into either Eclipse for DSL Developers OR Eclipse for Java Developers and it worked equally well. So has something dropped out of the SADL p2 that is in the DSL version

[2020-07-28 13:33] kittaakos commented on #486
I do not know what you mean, but I did exactly that. Built the SADL p2 from the sources and installed it into a 2020-03 Eclipse for DSL developers: https://github.com/crapo/sadlos2/issues/486#issuecomment-664823231.

[2020-07-28 13:35] crapo commented on #486
If I install into a brand new Eclipse for **DSL** Developers 2020-03 it works.
If I install into a brand new Eclipse for **Java** Developers 2020-03 it does not work.

[2020-07-28 13:36] crapo commented on #486
BTW, what does `git clean -ffxqd` do?

[2020-07-28 13:42] kittaakos commented on #486
Thank you!

Resets the repository to a fresh-clone state.

[2020-07-28 13:52] kittaakos commented on #486
This is the error I see when I install the p2 into Eclipse 2020-03 for Java developers.

[code]

I am checking why...

[2020-07-28 14:00] kittaakos commented on #486
@crapo, I downloaded the latest 3.3 SADL release from here: https://github.com/crapo/sadlos2/releases/latest
Installed it into a 2020-03 Eclipse for Java developers based on the [wiki](https://github.com/crapo/sadlos2/wiki/Installation-Instructions-for-SADL-IDE,-Version-3.3), and the content assist does not work. It seems it's not a regression but rather a new feature request. Do you want me to wo

[2020-07-28 14:12] kittaakos commented on #486
The problem here is that we pull Xtext 2.22 although we develop against 2.21. I'll try to set an upper bound for Xtext: `[2.21.0, 2.22.0)`.

[2020-07-28 14:17] crapo commented on #486
I don't fully understand. I think that you're saying that the previous release also did not work if installed on the Java Developer Eclipse and I just didn't notice.

not sure what pulls... the Installation of the SADL p2?

Should we be developing against 2.22? I think you're saying that you'll try to make it pull 2..21, correct?

[2020-07-28 14:33] kittaakos commented on #486
Do you want me to update Xtext to 2.22?

[2020-07-28 14:35] crapo commented on #486
I'm asking what you recommend. I don't have enough information to have an informed opinion... Unless there's a good reason, we should do what takes the least effort.

[2020-07-28 15:12] kittaakos commented on #486
I have pinned the versions. The PR is here: https://github.com/crapo/sadlos2/pull/492

As a verification:
 - I built a SADL p2 update from the sources,
 - Installed it into Eclipse 2020-03 DSL **and** Java developers,
 - The content assist worked in both Eclipse installations.

[2020-07-28 15:15] #486 closed, assigned to nobody

[2020-07-28 16:12] crapo commented on #485
Fixed by adding SadlConstants.SADL_BUILTIN_FUNCTIONS_FILENAME to those names removed from import in SadlIdeContentProposalProvider.xtend, line 138.

[2020-07-28 16:12] #485 closed, assigned to nobody

[2020-07-28 19:13] crapo commented on #484
SPARQL queries are now "prepared" by expanding incomplete concept references (either just name of qname) and ambiguous names are detected and reported. Test case added.

[2020-07-28 19:13] #484 closed, assigned to nobody

[2020-07-28 19:47] crapo commented on #483
@kittaakos , I think I might need some help with this as it appears to be in the name returned by the DeclationExtensions. The attached project illustrates this. Import, open the test.sadl file. The property 'weight' is ambiguous here. The first query has the error about ambiguity. The 3rd query is the new functionality I was working on that shows an error for an opaque SPARQL query string. The 2n

[2020-07-28 20:27] crapo commented on #487
@kittaakos , the content assist issue is resolved. I can install the latest SADL p2 into an Eclipse IDE for Java Developers 2020-03 and CA works.
The only outstanding question is have we done something with the various logging systems what looks like it might be an issue with the Xtext logging. As soon as you give your approval of the logging I'll close this.

[2020-07-28 20:29] crapo commented on #467
This seems to work with the upgrade to Jena 3.16. Work was done and some testing to make sure it works. Note that Jena TDB2 format appears to offer advantages over TDB and is supported in Jena 3.16 so we could move to include TDB2 as a format in the future.

[2020-07-28 20:29] #467 closed, assigned to nobody

[2020-07-29 07:59] kittaakos opened #493 "Cannot import source code into Eclipse"
I cannot get rid of the compiler errors in Eclipse. I did the same as always:
 - Clone the repo,
 - `mvn clean`,
 - `mvn install -U`,
 - Import SADL as an existing Maven project,
 - Set the target platform,
 - Do `Maven` > `Update Projects...` > `Force Update Snapshots/Releases`,
 - Clean all projects.

Related https://github.com/crapo/sadlos2/commit/06fca89483f656f3f8480ad7c7ac3ddf07b022df?

CC:

[2020-07-29 08:02] kittaakos commented on #483
I am blocked by https://github.com/crapo/sadlos2/issues/493.

[2020-07-29 09:26] kittaakos commented on #493
Lesson learned: the project has to be exported as `General` > `Existing Projects into Workspace` and **not** an existing Maven project.

[2020-07-29 09:26] #493 closed, assigned to nobody

[2020-07-29 11:17] kittaakos commented on #483
What is the expected concrete name? Is it `weight`? I am not sure if we need to change anything in the declaration extensions. However, you can make this work on the model processor part, and use the declarations instead of the refs to acquire the concrete name.

Here is a diff that fixes the issue without changing the underlying logic all over the application:
[code]

Let me know what you think.

[2020-07-29 11:33] crapo commented on #483
I had wondered about doing that. The reason I hesitated was because the call down in the innards of getConcreteName seemed to be returning the name with a prefix even thought the flag trimPrefix (or something like that) was true.
I'm all for not giving the system a big jolt so will go with your suggestion.

I do still wonder under what circumstance should a call to getConcreteName return the quali

[2020-07-29 11:37] kittaakos commented on #483
You're right. Let me check once more.

[2020-07-29 11:40] crapo commented on #493
@kittaakos , I don't understand the lesson learned. We're talking about exporting the parent project? one of the children projects? I guess I wasn't aware that they got exported as I've only seen it from the perspective of cloning the repo and importing as Maven projects.

[2020-07-29 11:44] kittaakos commented on #483
I have checked it, `trimPrefix` is currently implemented to work with aliases as described here:

https://github.com/crapo/sadlos2/blob/d1f960caaca17bbb15d284e64155f12909a6bda8/sadl3/com.ge.research.sadl.parent/com.ge.research.sadl/src/com/ge/research/sadl/model/DeclarationExtensions.xtend#L80-L92

[2020-07-29 16:04] crapo commented on #483
What this Javadoc does not specify is what should happen with an imported name, which is the subject of this issue.
`uri "http://sadl.org/M1" alias m1.
Foo is a class.`
and
`uri "http://sadl.org/M2" alias m2.
p1 describes m1:Foo with values of type int.`

For this example, if there were a call to processExpression(SadlResource expr (as happens in the QueryStatement example provided above) what sho

[2020-07-29 16:04] #483 closed, assigned to nobody

[2020-07-29 17:21] crapo commented on #452
Issues had to do with the altURL, publicURI, and prefix for external models. Graphing now seems to work reasonably well.

[2020-07-29 17:21] #452 closed, assigned to nobody

[2020-07-29 17:41] crapo commented on #438
This was easily fixed by using the Rules' URIs (rule names are now SadlResources) instead of just their local name.

[2020-07-29 17:41] #438 closed, assigned to nobody

[2020-07-29 19:00] crapo commented on #446
added domain checking just before the property and value are added to the subject

[2020-07-29 19:00] #446 closed, assigned to crapo

[2020-07-30 09:49] kittaakos commented on #483
PR: https://github.com/crapo/sadlos2/pull/494

[2020-07-30 14:28] crapo commented on #493
@kittaakos , I'm thinking that the confusion is because you mean "the project has to be **imported** as ...", not "... has to be **exported** as...". Is that correct?

[2020-07-30 14:31] kittaakos commented on #493
Oh, yes you're right. 😄 Sorry for the confusion.

[2020-07-30 20:24] crapo commented on #493
I am doubtful of the correctness of this lesson learned. I just tried importing as regular projects and it didn't ask about the Maven plugin connectors and it didn't ask about installing Tycho Project Configurators. I ended up with all kinds of errors when I was done. I deleted the projects and the WS .metadata and tried it importing as Maven projects and it worked perfectly.

[2020-07-30 20:25] crapo opened #495 "there exists with non-primary key triples"
Verify that there exists with additional statements not part of the there exists works as expected.

[2020-07-30 20:34] foleycw opened #496 "strConcat - original signature errors"
str1 = strConcat("CoatDiffer: Coating is not the same. Source: ",sourceCoating,", Destination: ", destCoating)

Getting wrong error for number of arguments even after changing function signature to "--" to accept any number of arguments. Signature should be "(string X, ...)"

Original signature "(string X, string Y)"  was incorrect.

[2020-07-30 21:23] crapo opened #498 "OWL files imported by CSVImporter aren't indexed and so can't be imported by SADL models"
The logic in EclipseExternalEmfResourcePredicate.xtend filters out the OWL file that was just created by CsvImporter and so isn't indexed. We could

- require import to a particular folder
- use the ont-policy.rdf file to identify that the file was imported and should be indexed
- other?

[2020-08-03 15:55] crapo commented on #496
Fixed signature content from JenaReasonerPlugin, added test case to ExtendedIFTests and corrected content in SadlTestHelper for building functions.

[2020-08-03 15:55] #496 closed, assigned to nobody

[2020-08-03 21:02] crapo commented on #498
I have modified EclipseExternalEmfResourcePredicate to return true in the apply method (allowing an OWL file to be indexed by Xtext) if the OWL file is NOT in the OwlModels folder and it appears in the ConfigurationManager's mappings. OWL files from external resources identified in a .url file have mappings. OWL files created by the CsvImporter have mappings.

It was also necessary to add some cod

[2020-08-03 21:02] #498 closed, assigned to nobody

[2020-08-10 08:12] amarbanerjee23 opened #500 "How to generate Prolog files of a given ontology ?"
I am trying to find a way to generate the Prolog files for a given ontology.
Did not find any hooks for that.

When I directly use the Prolog Translator API

`translator = new SWIPrologTranslatorPlugin();
translator.setConfigurationManager(getConfigMgr(resource, _repoType));
List<ModelError> plresults = translator.translateAndSaveModel(getTheJenaModel(), getRules(),
modelFolderPathname, getModelNa

[2020-08-10 08:19] amarbanerjee23 opened #501 "Execption while generating building OWL files for Rules"
Hey guys,

I am trying to build an OWL ontology from an sadl file which has the following rules

`External avg_over_last_5_mins(decimal s-data) returns  decimal: "".
External average(decimal s-data1, decimal s-data2) returns decimal:"".`

[code]

I get the following exception while during building

`com.ge.research.sadl.reasoner.TranslationException: Unexpected error: the object of the triple is n

[2020-08-10 13:04] crapo commented on #500
Wow! That's a long stack trace. The error suggests that there are "other knowledge structures'. Do you have equations in you model? A minimal use case would be useful.
Your title suggests that you are expecting the ontology to be translated to Prolog. SWI Prolog uses RDF files directly to load the ontology. Only the rules would be translated to Prolog.

[2020-08-10 13:17] crapo commented on #501
Again, a minimal example would help. Some observations.

1. You're defining an external equation "average" but there is already a built-in "average" if you're using the JenaReasonerPlugin. If you are, then there should probably be a check and an error generated for an ambiguous reference.
2. Unfortunately, there is not a complete closure between defining an equation and using it in a rule. The two

[2020-08-10 13:51] amarbanerjee23 commented on #501
Thanks a lot for your reply.

The error is being generated for when I create a complex/nested Rule using boolean OR and AND.  The error shows up whenever I have such Rule created in the sadl file. The actual example with the exact Rule description is :

[code]

This is like

`IF ( (cond1 OR cond2) AND (cond3 AND cond4) AND (con5 OR cond6) ) THEN .......`

The problem seems to be in the OR conditio

[2020-08-10 14:01] crapo commented on #501
This may be an error which has been fixed in the current code base. When I take your rule and create some supporting class and instance definitions, I get this:

Encountered unhandled OR in rule 'FM2_RC2'

which comes out of the JenaTranslatorPlugin and is expected as Jena rules do not support disjunction.

We are about to create a new release. Please check to see if this is reproducible with the

[2020-08-10 14:09] amarbanerjee23 commented on #501
Update.

The usecase can be simplified to

[code]
Interestingly, the error now is just

`Encountered unhandled OR in rule 'example'`

The same example, if I replace all the ORs by ANDs, then there is no error. However, if the rule has any OR, the error is generated. Hope this helps.

Cheers,
Amar

[2020-08-10 14:11] amarbanerjee23 commented on #501
Thanks, sorry, I posted the above msg while I guess you were reverting to the initial one. I am waiting for the new release and excited to use it. :)

[2020-08-10 14:14] amarbanerjee23 commented on #500
Thanks again for your reply.
Yes, I do have equations and rules in my model and I want to generate Prolog files for them. Is there a way to do it.
Please find a small example of a SADL file below:-

[code]

The error is

`com.ge.research.sadl.jena.translator.JenaTranslatorPlugin does not currently translate equations`

I guess as you answered in the other issue, this might have been addressed in t

[2020-08-10 14:25] crapo commented on #500
If you want to generate Prolog, you will need to use the SWI-Prolog-Reasoner/SWI-Prolog-Translator. Whether the Prolog reasoner/translator or the Jena-based ones, average is already defined and you don't need to redefine it. For the Jena choice, the defined functions are in SadlBuiltinFunctions.sadl. @agabaldon , can you address off the top of your head the Prolog instance?

[2020-08-10 14:32] amarbanerjee23 opened #502 "Can we import types using the CSV Importer ?"
Hi again,

Sorry, if I am creating to many issues, but I am really liking the SADL and would like to know all possible strengths of the language.
This time, I want to import a csv file. I am creating the following import specification in tmpl file:-

[code]

The error stack is below:-

[code]

I have a csv file which has the different sub-types as well as the instances in the same csv sheet, where

[2020-08-10 14:36] amarbanerjee23 commented on #500
Thanks Andrew,

But I was wondering how to use the SWI-Prolog-Reasoner/SWI-Prolog-Translator ?
Is there a hook in the SADL or we need to manually change the default translator in the code ?

Cheers,
Amar

[2020-08-10 14:40] crapo commented on #502
The template grammar isn't exactly like the sadl grammar. Use "rdf:type" and "rdfs:subClassOf" rather than "is a" and "is a type of".
Put strings in quotes, e.g.,

<A> has nodeName "<B>" .

I'll try to get the documentation out this week. I'm sure some documentation would help :-)

[2020-08-10 14:41] crapo commented on #500
Look under project properties, SADL.

[2020-08-10 14:44] amarbanerjee23 commented on #500
Thanks a lot !!
Can I please ask for another favour. Could you please suggest, if both of them could be used together ?
Or the language restricts the usage of only one reasoner ?

Thanks for your help.

Cheers,
Amar

[2020-08-10 14:48] amarbanerjee23 commented on #502
Thanks Again, Andrew !!

 I hope I haven't been a huge pain in the neck. :D

Cheers,
Amar

[2020-08-10 14:48] #502 closed, assigned to nobody

[2020-08-10 15:35] crapo commented on #500
They have been used together and yes, it is possible. How to do so isn't well documented. It would take a bit of time to make documentation available. Doing so generally involves some extension code that controls what each reasoner is responsible to do. Why would you want to use them together? Rules can be converted to Prolog and processed by the Prolog reasoner.

[2020-08-11 04:11] amarbanerjee23 commented on #500
Thanks Andrew.

I wanted to map the strengths of SADL to check what all is possible. I am interested to see, if the OWL ontologies and the prolog rules can be simultaneously used. But as you say, it is possible, I would like to try it out with your help. Can you please give some pointers towards this ??

Cheers,
Amar

[2020-08-11 12:34] amarbanerjee23 commented on #500
Update.

I tried using the Prolog reasoner and the Prolog translator.

The SADL spec is:-

[code]

[code]

I was interested to generate the Prolog file for Rules and OWL ontologies for the rest of the description. Hence, I wanted to use the OWL Translator and Prolog Translator Together. As OWL generator does not handle Rules and Equations, hence Prolog could have been useful for generating files f

[2020-08-11 14:02] crapo commented on #500
The SWI-Prolog-Translator generates OWL models for the ontology. There is no need to use a separate reasoner/translator pair.
Since Jena Rules do not support disjunction, I'm guessing that the error you are reporting is an oversight. I suggest for the moment you write two rules to implement your disjunction. I'll look at this error as soon as I get a chance.

[2020-08-12 17:01] crapo opened #503 "Regression error on checking property domain in instance statement"
#446 was fixed by adding a call to JBSMV.checkPropertyDomain. But this method's name is misleading as it should only be called when checking that nested triples or sequential triples with shared variables satisfy type checking.

[2020-08-17 18:50] Ptival opened #506 "Cannot update to SADL 3.4.0"
I'm getting the following error:

[code]

Is this a new dependency? Do I need Equinox framework?

[2020-08-17 19:28] tuxji commented on #506
Valentin, this is happening because you're trying to install SADL 3.4.0 in an Eclipse that's too old or too new.  According to <https://github.com/crapo/sadlos2/wiki/Installation-Instructions-for-SADL-IDE,-Version-3.4>, you should install SADL 3.4.0 in Eclipse IDE for Java and DSL Developers 2020-03.  I don't think older or newer Eclipse versions will work because of how tight SADL's acceptable Xt

[2020-08-18 07:19] amarbanerjee23 commented on #501
Hi Andrew, the above error is still there in a different form in the new release.

[code]

The error is :

`Unexpected error: the object of the triple is not a node of known type ('com.ge.research.sadl.model.gp.JunctionNode)`

Any guidance on this ?
(b.t.w. The new release is very good, especially the "their exists" statements, which helps a lot )

Thanks and Cheers,
Amar

[2020-08-18 11:39] Ptival commented on #506
Indeed I am on Eclipse 2019-12. Thanks for the information, sorry for the noise!

I'll let one of you close or repurpose as a xtext range issue.

[2020-08-18 12:52] Ptival commented on #506
Can also confirm that with Eclipse 2020-06 and I get the following error:

[code]

So indeed SADL 3.4.0 is only compatible with Eclipse 2020-03.

[2020-08-18 15:04] Ptival opened #507 "SADL 3.4.0 failing out of the box NoClassDefFoundError"
On a fresh installation of Eclipse 2020-03 and the SADL 3.4.0 Eclipse plug-in, creating an empty project with one SADL file:

[code]

It generates the OWL files, but in the console, I get the following exception:

[code]

Any idea what the problem is?

[2020-08-18 17:37] tuxji commented on #507
Valentin, which version of Java are you using?  Oracle unbundled some Java EE APIs like activation in Java 9 and later that had been bundled with Java 8.  I use Java 11 myself and I had been having no problem compiling and running SADL 3.3, but I got some javax.activation.DataSource compilation errors when I tried to build the SADL 3.4 source with Java 11.

This StackOverflow page (<https://stacko

[2020-08-18 17:59] Ptival commented on #507
The above error was using:
[code]

[2020-08-18 19:12] tuxji commented on #507
I've made the necessary changes to fix these activation API problems (both runtime exceptions in Java 8 and compilation/runtime problems in Java 11) and sent @crapo a pull request (#508).  Andy, if my PR passes all checks, you can merge it and close this bug when it is merged.

[2020-08-20 06:58] amarbanerjee23 commented on #501
Hi,
Any leads on if it is possible to have multiple boolean operations?

Cheers,
Amar

[2020-08-31 16:57] crapo commented on #506
@kittaakos , can you comment on whether the range could be safely opened up?

[2020-08-31 17:13] AbhaMoitra opened #509 "Need help with qualified cardinality syntax"
I am trying to redo the qualified cardinality test in SADL 3.4 syntax that was present in the openge project SadlModels/TestGeSadl/ValidateWithQualifiedCardinality.sadl. Could you help with getting the syntax correct for this SADL
file.
[ValidateWithQualifiedCardinality.sadl.txt](https://github.com/crapo/sadlos2/files/5151643/ValidateWithQualifiedCardinality.sadl.txt)

[2020-09-01 06:32] kittaakos commented on #506
It is safe to remove the Xtext restrictions once [this](https://github.com/crapo/sadlos2/issues/486#issuecomment-665053330) incompatibility issue is fixed.

[2020-09-01 12:06] crapo commented on #506
Ah, I had forgotten where the upper bound limit came from. So  fixing "this incompatibility issue" means upgrading to xtext 2.22? And how big of an effort is this @kittaakos ?

[2020-09-01 13:31] kittaakos commented on #506
Last time, Feb 17, it took three hours to bump up the Xtext version.

[2020-09-01 15:20] crapo commented on #501
Sorry Amar, I have been out-of-office. I will look at this in more detail when I get caught up. But for a quick response, if this is the ontology

AnyClass is a class.
{X,Y,Z} are instances of AnyClass.
OtherClass is a class described by anyclass with values of type AnyClass.
SomeClass is a class described by someclass with values of type AnyClass.
SomeClass1 is a SomeClass.

then the rule would n

[2020-09-01 18:08] crapo commented on #501
After a little thought, supporting the form you used,

`... <subj> has <prop> (<obj1> and <obj2>) ...`

wouldn't be too difficult. So maybe we'll do that instead of issuing a better error message.

[2020-09-01 19:38] crapo opened #510 "Incorrect translation of "not known" in SADL queries"
In the attached project, the last SADL query in IngestionRules.sadl should translate to one of the prior SPARQL queries but instead it translates to an incorrect combination of the two.
[MSDR.zip](https://github.com/crapo/sadlos2/files/5158412/MSDR.zip)

[2020-09-02 04:07] amarbanerjee23 commented on #501
Thanks, Andrew. That would be really nice. Even I feel that supporting the form `... <subj> has <prop> (<obj1> and <obj2>) ...`
should be a good option, as it also extends the expressiveness of the language. Please let us know if your team makes any changes in the source to include this change.

Cheers,
Amar

[2020-09-02 13:40] crapo opened #511 "Incorrect identification of instance declaration"
[code]
The second to the last line is incorrectly identified as the declaration of i2, which is declared in the last line.

There is also a type checking error on the second to the last line, which might go away if the declaration identification were correct.

[2020-09-02 14:47] crapo commented on #506
@kittaakos , would you be able to fix this in the near future, and is there enough left on the DARPA ARCOS PO? Is this something that will need to be done each time there's a new release of Eclipse  with a different Xtext version that people start working with or it is unique to Xtext 2.21 vs Xtext 2.22

[2020-09-02 14:51] kittaakos commented on #506
Sure. I can deliver it by next Monday.

I have never received such a PO, but we still have two other ones with sufficient workhours available (2,5 and 16 hours) so it's not a problem.

I think it was unique. They replaced all the Xtend code with Java.

[2020-09-02 15:12] kittaakos commented on #506
@crapo which Eclipse installations and versions do we target? DSL and Java, 2020-03 and 2020-06?

[2020-09-02 17:02] kittaakos commented on #506
@crapo, do you want me to increase the SADL version numbers?

[2020-09-02 17:07] crapo commented on #506
Targets 2020-03 and 2020-06 sounds right. Version should be 3.4.1. I have been working on a scoping issue for which I will make a PR and ask you to review.

[2020-09-02 18:39] crapo commented on #510
This is fixed and there was an incomplete test case covering the query that is now complete.

[2020-09-02 18:39] #510 closed, assigned to nobody

[2020-09-03 06:32] kittaakos commented on #506
@crapo, I started the update yesterday and noticed that the `IColoringService` service was removed from Xtext 2.22. (Maybe other services are also affected.) It's a non-trivial breaking change but doable. This means I have to reimplement the coloring for WebSadl and add a new theme for the Theia-based application. The overall work could take a few more additional hours. I believe it's time to move

[2020-09-03 10:58] crapo commented on #506
@kittaakos , thanks for informing me. With that magnitude of change I don't think we want to do that for the next point release, which we can just restrict to Eclipse 2020-03. I think the Java version dependency is fixed by @tuxji . I'll need to get approval from the project for the larger changes and will let you know when we can proceed with the more major changes.

[2020-09-03 11:00] crapo commented on #511
PR approved and merged.

[2020-09-03 11:00] #511 closed, assigned to nobody

[2020-09-03 11:04] crapo commented on #503
I believe this is fixed and 2 tests added.

[2020-09-03 11:04] #503 closed, assigned to crapo

[2020-09-03 11:05] crapo commented on #507
Tests pass, merged.

[2020-09-03 11:05] #507 closed, assigned to nobody

[2020-09-03 11:06] crapo commented on #495
There exists has been reworked with new grammar keyword "plus" to separate key triples from other triples to be added. Believed to be fixed.

[2020-09-03 11:06] #495 closed, assigned to crapo

[2020-09-03 11:11] crapo commented on #442
Same as #510.

[2020-09-03 11:11] #442 closed, assigned to crapo

[2020-09-03 13:36] crapo opened #513 "Document delayed evaluation query added in 3.4.1"
Added support for
`Ask: value of <expr>.`
to model processing and query evaluation. This causes the <expr> to be evaluated to obtain a query string which is then executed and the results of this query returned.

[2020-09-03 17:54] crapo opened #514 "Extend support for all OWL serializations in graph generation"
This is partially complete but there are still some hard-wired references to ".owl" extensions

[2020-09-04 19:04] crapo opened #515 "Writing RDF Binary format requires IFileSystemAccessExtension3"
@kittaakos , one of the new OWL formats supported by Jena is RDF Binary, which requires that the model processor onGenerate method write the file as binary, not text. (See https://lists.apache.org/list.html?users@jena.apache.org:lte=1M:crapo.) Is there a way to cause onGenerate to get an IFileSystemAccess that supports binary output? Other options?

[2020-09-05 00:55] kquick opened #516 "Datatype restrictions missing type on range values"
When creating a datatype restriction (e.g. https://github.com/ge-high-assurance/RACK/blob/31229b8803068d92c9b971647a7172f6611722f8/RACK-Ontology/OwlModels/CONFIDENCE.owl#L24-L25), the emitted OWL representation are lacking the `rdfs:datatype` on the range value specifications shown here: https://github.com/ge-high-assurance/RACK/blob/31229b8803068d92c9b971647a7172f6611722f8/RACK-Ontology/OwlModels

[2020-09-05 00:56] kquick commented on #516
Sorry, wrong link for the SADL source above, it should be: https://github.com/ge-high-assurance/RACK/blob/31229b8803068d92c9b971647a7172f6611722f8/RACK-Ontology/ontology/CONFIDENCE.sadl#L13

[2020-09-05 08:00] kittaakos commented on #515
`onGenerate` gets an `IFileSystemAccess2`:

https://github.com/crapo/sadlos2/blob/fa98426fa22fa3e868ad87009676d752afb7a522/sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.jena/src/com/ge/research/sadl/jena/JenaBasedSadlModelProcessor.java#L524

[`IFileSystemAccess2`](https://github.com/eclipse/xtext-core/blob/ee7cf5f1968bbd4400d878e4906eccda51ef03ef/org.eclipse.xtext/src/org/eclipse/xtext/g

[2020-09-07 13:15] amarbanerjee23 opened #517 "OWL to EMF APIs"
Dear Team,

I wanted to find some API's which could query OWL and produce results as EMF.
E.g.  **getInstancesofClass(ClassX) returns EList\<SadlResource\>**. Does the current code base support such APIs ?

Here the ClassX is an SADL Class and the expected outcome is a list of SadlResources which are instances of ClassX.
Could you please point me towards such a module ?

Cheers,
Amar

[2020-09-08 13:16] kittaakos commented on #515
Did this 👆 help, @crapo?

[2020-09-09 14:14] amarbanerjee23 commented on #502
Hi Andrew,

Hope you and your team are well. I am trying to see if we could query the
SADL models from externally.

I wanted to find some API's which could query OWL and produce results as
EMF.

E.g. getInstancesofClass(ClassX) returns EList<SadlResource>. Does the
current code base support such APIs ?

Here the ClassX is an SADL Class and the expected outcome is a list of
SadlResources which are

[2020-09-11 14:03] crapo commented on #515
@kittaakos , sorry to be slow. I've been out this week. Yes, looks like I just need to call the right onGenerate method to output binary. I should have looked more closely. Thanks!!! (I'll close this when I've proven that this solves my problem.)

[2020-09-11 14:08] crapo commented on #517
The APIs for querying OWL supported by SADL and SadlServer are SPARQL query APIs returning ResultSets. I'm a little fuzzy on the architecture... What would call this API? The Xtext AST, containing EMF objects, is exposed by Xtext and is passed to the model processor's onValidate, onGenerate methods. They do not persist the AST or provide an API to the AST.

[2020-09-11 14:11] crapo opened #518 "Integrate SADL Equations (SadlImplicitModel) with rule built-ins."
This is a gap that has come out of the DARPA ASKE work. Closing it would allow built-ins for use in rules to be generated within SADL with no special programming needed outside of the IDE.

[2020-09-11 14:34] crapo commented on #516
@kquick , where did you get the idea that that is the expected OWL equivalent? The parent type of the extended rdfs:Datatype is given in the owl:equivalentClass by the owl:onDatatype property.  (I don't know how to retain the correct formatting in the snippet below.)

  <rdfs:Datatype rdf:ID="Probabilitiy">
    <owl:equivalentClass>
      <rdfs:Datatype>
        <owl:withRestrictions rdf:parseType

[2020-09-11 23:58] kquick commented on #516
My expectation was based on two elements:

1) In working with OWL/RDF triples generated via SWI Prolog, the restriction values had accompanying `rdf:datatype` specifications, and when that `rdf:datatype` specification was not included, the values were interpreted as strings.

2) My reading of section 7.5 "Data Restrictions" (in https://www.w3.org/TR/2012/REC-owl2-syntax-20121211/#Datatype_Restrict

[2020-09-14 12:23] crapo commented on #516
Interesting. I'll look into this more, but just to be clear, the SADL implementation is not ambiguous nor a dynamic typing approach I don't believe because the type (float) is clearly indicated by the owl:onDatatype property, which is float.

[2020-09-14 12:35] crapo commented on #513
This seems to be functioning as expected.

[2020-09-14 12:35] #513 closed, assigned to crapo

[2020-09-14 13:39] crapo commented on #516
@kquick , this is clearer to me now. You are looking at OWL 2 documentation. SADL uses Jena and hence is primarily using OWL 1 with limited OWL 2 support. Hence the syntax will be different. However, the type of the range limits can be typed so I'll look at doing so. That way their type would not have to be inferred from the owl:onDatatype value.

[2020-09-14 13:56] crapo commented on #516
@kquick , I've changed the code to include the rdf:datatype of the minInclusive and maxInclusive values. Good call! Thanks for following through on this. This will be in the next release. Is there any urgency for this to be released right away?

[2020-09-14 15:12] kquick commented on #516
Thank you for taking a look, @crapo, I hadn't considered that it was an OWL version-related change.  There's no urgency on this, so add it in to a release whenever it's convenient, and thanks for looking into this with me.

I don't know your policy on closing issues (if you close when the code is updated, or when there is a release), but please feel fre to close this issue when you are ready.

[2020-09-14 15:16] crapo opened #519 "Templates"
Version 2 used templates, integrated with quick fix, to make creation of models easier. Consider updating V3 with this capability.

[2020-09-14 17:52] crapo commented on #515
I couldn't figure out any way to get the InputStream that the IFileSystemAccess2 wanted to write binary from the Jena OntModel. Finally just used the OwlModel folder path and the OWL filename to write the output, if in RDF-THRIFT format, using the Jena RDFDataMgr.

[2020-09-14 17:52] #515 closed, assigned to nobody

[2020-09-14 17:53] crapo commented on #516
This will be in the next release.

[2020-09-14 17:53] #516 closed, assigned to nobody

[2020-09-16 13:03] crapo opened #520 "Implement rule partitioning using new grammar rule levels"
Version 2 used default values primarily to partition rules. This can be done explicitly in the grammar of V3, but hasn't been implemented in the reasoner.

[2020-09-16 13:17] crapo opened #521 "Default reasoning"
Version 2 had default reasoning in the proprietary reasoner. Implement default reasoning in an Open Source reasoner?

[2020-09-17 15:44] crapo opened #522 "Move repo to an organizaton"
@kthoms , can you please delete you "sadl" repo? I'm trying to reduce the name conflicts. Thanks!!

[2020-09-17 16:12] kthoms commented on #522
Done.

[2020-09-17 16:19] GEGlobalResearch commented on #522
Thanks!

[2020-09-17 18:21] crapo commented on #522
@kittaakos , please accept invitation to new organization. Otherwise assignments will be lost when I move my personal repo to the new organization.

[2020-09-18 09:41] crapo commented on #522
@kittaakos , also I'm not sure if any thing in the CI integrations will break. Will you be around next week to help repair if they do?

[2020-09-18 09:49] kittaakos commented on #522
Unfortunately, I don't. I am starting my two weeks vacation today.

I looked into the build configs now, they do not reference the repository, so if you do not change anything in the folder structure but just move the repo, we do not have to change the configs for the CI. However, someone might have to re-register the new repo link on AppVeyor and Travis CI.

[2020-09-21 05:39] amarbanerjee23 commented on #501
Hi Andrew,
Sorry I am bugging you again on this. But has there been any modification to support the form `... <subj> has <prop> (<obj1> and <obj2>) ?`

[2020-09-21 19:51] GEGlobalResearch opened #523 "Mappings when one project depends upon another"
When one project depends upon another, the OwlModels/ont-policy.rdf mapping file does not contain the mappings necessary to handle imports correctly. It currently works (at least in some cases) because Jena caches models and provides them. But other things that depend on correct dependencies (e.g., import graph) will not be correct.

[2020-09-21 20:44] GEGlobalResearch commented on #501
Hi Amar,
No, I'm sorry. I haven't had a chance to work on this. It is unlikely that I will get to it until after Nov 1. It's a nice improvement but not a high priority. There is a workaround that fits the current grammar, just make the conjunction between triples for now.

[2020-09-22 20:49] crapo opened #524 "PropertyWithoutRangeException in console"
When preferences for type checking are set to require property ranges, and a property doesn't have a range, the following exception ends up in the console window in red. It should be a marker in the editor window.
`com.ge.research.sadl.jena.PropertyWithoutRangeException: Property does not have a range
	at com.ge.research.sadl.jena.JenaBasedSadlModelValidator.getType(JenaBasedSadlModelValidator.jav

[2020-09-22 21:44] crapo commented on #524
sometimes the error or warning is placed on the declaration, even though the model element being processed might be in another structure, e.g., a Rule. This would be very difficult to sort out and would likely introduce errors. So for now, error/warning comes out somewhere--OK.

[2020-09-22 21:44] #524 closed, assigned to crapo

[2020-09-24 12:29] crapo opened #525 "OWL files generated from CSVImporter don't have correct mappings, aren't loaded as imports"

[2020-09-29 17:25] crapo opened #526 "Logging issue: Log4j v1 and v2 both in use"
Upgrading to Jena 3.16 caused log4j to go to v2. However, Eclipse is still using v1. This may be the cause of logging not working as expected.

[2020-09-30 17:02] crapo commented on #525
Extensive set of fixes to setting aliases and xml:base in OWL files, setting global prefixes in ConfigurationManager, reprocessing external OWL files, creating OWL files from CSV files.

[2020-09-30 17:02] #525 closed, assigned to crapo

[2020-10-01 21:09] crapo opened #527 "ThereExists issue"
ThereExists built-in reporting erroneous duplicates, not performing correctly in complex rule.