[2020-10-01 21:10] crapo commented on #527
Resolved. Duplicate check wasn't returning all matches and was erroneously reporting duplication on partial comparison.

[2020-10-01 21:10] #527 closed, assigned to crapo

[2020-10-01 21:11] crapo opened #528 "Rule referencing properties defined after error"
References in a rule to properties defined later in the file were incorrectly handled.

[2020-10-01 21:12] crapo commented on #528
added condition to preprocessing of EObjects.

[2020-10-01 21:12] #528 closed, assigned to crapo

[2020-10-05 07:22] kittaakos commented on #522
@crapo, let me know if you still need assistance with the CIs.

[2020-10-05 13:48] crapo opened #529 "Filtering out a subclass in a rule"
In a rule, if one has var cls and class SomeClass:

if cls .... and
 cls != SomeClass

or
not(cls is a type of SomeClass)

these do not translate to
noValue(cls, rdfs:subClassOf, SomeClass)
as expected.

[2020-10-05 13:59] crapo commented on #522
Hi @kittaakos , welcome back! I hope you had a great vacation.
I waited until you are back to do the change. I will do it in the next couple of days. Also, I anticipate approval so that you can upgrade to newer APIs in Xtext 2.22.

[2020-10-05 14:45] crapo commented on #506
@kittaakos , a question that the funding project has for doing this work is one around compatibility. We didn't anticipate that we would need such an upgrade in the API to get to Xtext 2.22 so their question is what is the Xtext commitment to backwards compatibility, i.e., are we going to have to do this again in the foreseeable future? Maybe this is a question for @svenefftinge ?

[2020-10-05 15:06] kittaakos commented on #506
I did not expect such a breaking change either, but semantic coloring is tricky; it's not an LSP standard.

I would expect that bumping up the Xtext versions will most likely not cause such an issue in the future, but I would expect at least one more breaking API change for the coloring in the future.

The very first `IColoringService` service, which has been removed from Xtext, was introduced way

[2020-10-05 16:23] crapo commented on #523
@kittaakos , to fix this error I would need to get the inter-project dependencies in the SADL backend, com.ge.research.sadl.jena, either in JenaBasedSadlInferenceProcessor, or get it in the JenaBasedSadlModelProcessor and store it for inference. Is this possible?

[2020-10-06 06:37] kittaakos commented on #523
Sure, it is possible. We can come up with a solution but such an out of the box project dependency thing does not exist in Xtext (`xtext-core`).

[2020-10-06 12:08] crapo commented on #523
I'm thinking that if we can simply detect the project dependency we can put it into the configuration.rdf file and then inference as well as possibly SadlServer (eclipse, web independent) can use the information as needed.

[2020-10-06 20:18] crapo commented on #522
Completed successfully.

[2020-10-06 20:20] crapo commented on #506
@kittaakos , finally got approval to resolve this issue. Please let me know in advance if it looks like the money on the open PO is not going to be enough. When will you be able to do this?

[2020-10-06 20:21] crapo commented on #523
@kittaakos , setting up meeting to discuss this. It this time doesn't work please suggest a time.

[2020-10-08 12:39] kittaakos opened #530 "Cannot built the project"
@crapo, I might have missed a step, but I could not build the project from a fresh Git clone. Steps to reproduce:
[code]

Have the build steps changed? What are the steps I have to do to be able to clone the project, build it, and import it into Eclipse? Thank you!

Error:
[code]

Java version:
[code]

Full console output:
[code]

-----
Required for #523

[2020-10-08 13:18] crapo commented on #530
The reference to DataSource in JenaBasedSadlInferenceProcessor was unused, removed and pushed update.
That doesn't really address the issue. I'm using Java 8 and javax.activation.DataSource is in the JRE System Library in rt.jar. I believe that in Java 11 it is in a different location. I built with Java 11 on my home Linux machine a few days ago and don't remember exactly what I did but it had to

[2020-10-08 14:19] kittaakos commented on #530
I can confirm, it works with Java 8.

It used to work with Java 9+ (including 11). See [here](https://github.com/SemanticApplicationDesignLanguage/sadl/commit/a9b3db6eccd3a5927ebd2bc29c2c25d8c51de0c5#diff-b3633508ad291af63395596f99fd215a).

----

So I could build it with Maven from a terminal, but I cannot import it into Eclipse:
 - I cannot import them as a general existing project, as the `.proj

[2020-10-08 15:37] tuxji commented on #530
I've pushed commit aac30671 which fixes the Java 11 compilation error, but there are more left.  Since JenaBasedSadlInferenceProcessor.java uses javax.activation.DataSource indirectly due to calling result.setDerivations(getInitializedReasoner().getDerivations()), we must add javax.activation to com.ge.research.sadl.jena's MANIFEST.MF.  These calls (setDerivations/getDerivations) were added to SAD

[2020-10-08 19:37] crapo commented on #530
It took a while--my laptop is slow and I had proxy issues--but I did succeed in building after pulling @tuxji 's commit. I followed the instructions at http://semanticapplicationdesignlanguage.github.io/sadl/developer/Sadl3BuildInstructions.html quite exactly with a freshly cloned repo, a new installation of OpenJDK 11.0.04, a new installation of Eclipse for Java Developers 2020-03, and a new work

[2020-10-11 14:49] kittaakos commented on #530
Me too. I started from scratch from my personal mac, and it worked now. Thank you so much!

[2020-10-11 14:49] #530 closed, assigned to nobody

[2020-10-12 15:02] kittaakos commented on #522
FYI: I do not see the build running for the PRs. For example https://github.com/SemanticApplicationDesignLanguage/sadl/pull/531.

[2020-10-14 13:03] amarbanerjee23 opened #538 "Not able to import a OWL file in SADL file."
Hi Team,
I am trying out the following. I have an external OWL file and I wish to import it in the SADL description using the
**import "http://sadl.org/custommodel.owl" as custommodel.**

But I still get error on the import statement as `Couldn't resolve reference to SadlModel 'http://sadl.org/custommodel.owl.` I am following this link [](http://sadl.sourceforge.net/ImportingOWLintoSADL.html)[]

C

[2020-10-14 14:21] crapo commented on #538
The external OWL model needs to have content that identifies the URI of that model, the URI appearing in the import statement. In RDF/XML syntax, this would normally be like this:
`xml:base="http://www.isi.edu/~pan/damltime/time-entry.owl#"`
In N3 sytnax it would be the "@base" statement.
If the OWL model does not have an identifiable URI then the import cannot be resolved.

[2020-10-14 14:33] crapo commented on #523
@agabaldon , @weisenje , I'd like to move the conversation around this to this github issue. I'm going to put some of my notes here and invite you to comment, collaborate as we work out a solution.
The capability to handle imports from a referenced project is needed for Inference, Graphing, anything that doesn’t use Xtext linking to handle imports. Possible approaches include:
a) Just add mapping

[2020-10-14 15:23] amarbanerjee23 commented on #538
No Success yet.
The ont-policy config is

`  <OntologySpec>
    <publicURI rdf:resource="http://brickschema.org/schema/1.1/Brick"/>
    <language rdf:resource="http://www.w3.org/2002/07/owl"/>
    <altURL rdf:resource="file:///home/amar/Documents/Work/Projects/runtime-SADL/Externals/OwlModels/Brick.owl"/>
</OntologySpec>`

Attaching the OWL and SADL file screenshots.
![owl](https://user-images.git

[2020-10-14 18:34] crapo commented on #538
I don't see anything wrong with the mapping or the import statement, given the OWL model content. Is there an error on the import statement that it can't resolve the import? (Not just on the "brick:Building".)  I can't tell from the screenshot for sure. Please attach an exported (archive) project with content to produce the error.

[2020-10-15 07:30] amarbanerjee23 commented on #538
The error is on the import statement. `Couldn't resolve reference to SadlModel`. The error on the brick:Building is because it is not able to import the OWL model.

[2020-10-15 12:04] crapo commented on #538
If you will upload an archive export of a minimal case and tell the version of SADL, I will be happy to try to identify the problem.

[2020-10-15 14:13] dahvid commented on #538
I have the same issue.  I'm importing the RadLex.owl ontology. It imports fine in both protege and owlready.   I created a project called "TestRadl" and added a file called "TestRadl.sadl".  I then used the SADL Model URL list file wizard.  The first problem is what url to put in to download?  Also why do I need to download, I have the file itself?  The second is that the wizard doesn't update so

[2020-10-15 15:04] crapo commented on #538
Just to clarify, the purpose of the SADL Model URL  List editor and wizard is to identify existing OWL files, local to your filesystem or on the Internet, that you wish to be able to use in your knowledge base. The requested URL will be where the OWL file is actually located, file://... if on the local file system, http://... if on the Internet. When you switch to the Download tab and click Downlo

[2020-10-15 15:15] crapo commented on #538
I went a little further and replaced all of the unparsable chars in the RadLex.owl file and then it was able to be "downloaded". Then I looked in the mapping file where I observed that it found "http://radlex.org/RID/" as the URI of the external model. Creating a .sadl file and adding the statement
`import "http://radlex.org/RID/".`
I then got this error on that statement:
`Unable to import indire

[2020-10-15 18:40] crapo commented on #523
@kittaakos , when I try to build on this branch I get this error:
`[ERROR] Failures:
[ERROR]   SadlRenameTest.testRenameConflict:254->testRename:359 Expceted a failure with message: 'Refactoring cannot be performed'.
[ERROR]   SadlRenameTest.testRenameDecl_MultiFile:229->testRename:382->assertEquals:259->AbstractLanguageServerTest.assertEquals:1398 expected:<changes :
[    Other.sadl : Bar [[2, 11

[2020-10-16 07:25] dahvid commented on #538
Hi Andy,
I fixed the parsing error in my version, there are extra blank characters
that are not being parsed, the RadLex.owl file I sent you parses OK.  But I
didn't know that about the OwlModels directory. I'll try this again and get
back to you.
Regards,
David

On Thu, Oct 15, 2020 at 6:04 PM Andrew Crapo <notifications@github.com>
wrote:

[2020-10-16 08:08] dahvid commented on #538
OK, I got it too work. The trick was to put the RadLex.owl file outside the project for import. and to fix the non-parsing blank characters in the .owl file.  Since both Protege and owlread parse this file fine you should probably consider the rejection of these blank characters as a bug.

[2020-10-16 10:46] amarbanerjee23 commented on #538
Which are the non parsing blank characters ??
Can anyone show me an example ?? I have everything correct. The URL approach works for one OWL file but dosent work for another OWL file.

[2020-10-16 12:17] dahvid commented on #538
Every place there was a url of the format
"rdf:resource="http://radlex.org/RID/RID1117; RID1095"
I needed to take out the space after the semi-colon

On Fri, Oct 16, 2020 at 1:46 PM Amar Banerjee <notifications@github.com>
wrote:

[2020-10-19 09:32] kittaakos commented on #523
I am not sure which branch did you try, but if you are referring to the [`GH-523--project-dep`](https://github.com/SemanticApplicationDesignLanguage/sadl/tree/GH-523--project-dep) for https://github.com/SemanticApplicationDesignLanguage/sadl/pull/531, then it works for me if I omit (`git reset --hard HEAD~2`) your changes.

See the steps:
[code]

Output:
[code]

[2020-10-19 13:30] crapo commented on #523
@kittaakos , the failure was caused by the added call to projectHelper.getReferencedProjectURIs from a JUnit test case. Since there is no .project file in the project (.../c.om.ge.research.sadl.tests\test-data\test-project\.project) an exception is thrown that I wasn't catching. This isn't a synthetic Resource URI. Just catch and ignore FileNotFoundException from SadlIdeProjectHelpfer.getReference

[2020-10-19 13:36] crapo commented on #522
@kittaakos , @agabaldon : I guess more needs to be done here. Currently the CI runs (or doesn't run as it should?) on accounts on appveyor.com and travis-ci.org that are in my name. I suppose those could stay so that I can see results of CI, but we should also create accounts for GE. Does that make sense?

Also, I don't understand your last comment, @kittaakos . I manually ran on appveyor.com just

[2020-10-19 14:06] kittaakos commented on #522
It's a must, I think. Once we have the new account, we have to add it to npmjs and docker as a collaborator. The same way as we did with your personal account, @crapo.

npmjs:
![Screen Shot 2020-10-19 at 15 56 58](https://user-images.githubusercontent.com/1405703/96461262-72dada00-1224-11eb-8e08-a6ff509b47c6.jpg)

Docker:
![Screen Shot 2020-10-19 at 16 00 01](https://user-images.githubusercontent.

[2020-10-20 17:40] crapo commented on #522
@kittaakos , if I understand correctly, we can do CI entirely within github now. Is there a reason why we would want to set up accounts and do it on ci.appveyor.com and travis-ci.org? What about the automatic building of new docker images for hub.docker.com? Are those independent of the CI WebHooks? @tuxji , do you have an opinion on the best way to do CI now that SADL is moved to an organization?

[2020-10-20 17:42] crapo commented on #523
I think this is now working although there aren't any JUnit tests and I'm not sure how to create such...

[2020-10-20 17:42] #523 closed, assigned to nobody

[2020-10-20 17:55] kittaakos commented on #523
We [have JUnit Plug-in tests](https://github.com/SemanticApplicationDesignLanguage/sadl/pull/531/commits/bddf242608ed98462defa1281d9a7b0650b9dd40#diff-84ea7a7c747650a895a836f76a8ed83128810e0ec424c3eecc791cdc564f4e6c). In headless mode, projects cannot be handled as-is. If we want to have headless tests with project support, we have to implement it through the LS.

[2020-10-20 18:13] crapo commented on #529
This is fixed, at least for the narrow case of "is not a type of". It seemed to already work correctly for "not(is a type of...)".

[2020-10-20 18:13] #529 closed, assigned to nobody

[2020-10-20 18:26] crapo opened #539 "Bug in ambiguous name checking"
defns1.sadl:
 uri "http://sadl.org/defns1.sadl" alias defns1.
 SomeClass is a class.

defns2.sadl:
 uri "http://sadl.org/defn2.sadl" alias defn2.
 import "http://sadl.org/defns1.sadl".
 SomeSubClass is a type of SomeClass.
 defn2:SomeClass is a class.

Without the prefix on the last line of defns2.sadl, there is an ambiguous reference error. But once the prefix is added there, the reference in the

[2020-10-20 20:53] tuxji commented on #522
I agree with @kittaakos that we could run the CI entirely within GitHub and that it'd probably be better to do it that way so that you don't have to set up two other CI services (AppVeyor, Travis) all over again.  I hope Akos can do it since I have a lot to do the next two weeks, though.

[2020-10-21 15:43] kittaakos commented on #522
No, I would go with GH Actions only.
We had to set up a Travis and AppVeyor account/CI in the past because Travis did not support the Windows image. So we needed AppVeyor for running the build on Windows and Travis for the Linux version.

Yes.

[2020-10-21 16:44] kittaakos commented on #522
It's free for opensource, but please check https://github.com/pricing.
If we decide to use it, here are the steps for adding the secrets: https://docs.github.com/en/free-pro-team@latest/actions/reference/encrypted-secrets#creating-encrypted-secrets-for-a-repository

[2020-10-22 13:32] kittaakos commented on #522
@crapo, do you want me to work on this?

[2020-10-22 16:59] crapo commented on #522
Not sure, will get this answered and let you know.

[2020-10-22 20:11] agabaldon opened #540 "CSV import as OWL fails (possibly related to issue #530)"
Attempted to do an import from CSV file into OWL and it fails to generate an owl file. Console shows
   javax/activation/DataSource
in red. I'm on MacOS with SADL release 3.4.1.202010211718 installed.
@crapo was able to reproduce on Windows.

[2020-10-22 20:17] agabaldon opened #541 "Browse button on "Import CSV file" wizard pops up a "Save As" window on Mac"
On Mac, clicking on Browse buttons to select a file on the Import CSV file wizard results in a "Save As" pop up window.

[2020-10-22 21:11] crapo commented on #540
Still didn't have MANIFEST.MF files right. Needed to be exported from com.ge.research.jena (3rd party jars) and imported by all projects using but NOT as a Required-Bundle as that  referenced the javax.activation package in Eclipse, leading to duplicate resolutions.

[2020-10-22 21:11] #540 closed, assigned to nobody

[2020-10-23 12:06] crapo commented on #541
@agabaldon , this is not reproducible on Linux. I think you or Akos will have to debug on your Macs.

[2020-10-26 12:48] GEGlobalResearch commented on #522
@kittaakos , @tuxji will do this task but will require some support from you to understand what the CI was doing before. Please talk to each other to resolve any questions. Thanks!

[2020-10-26 13:05] kittaakos commented on #522
As you wish, thanks for the heads-up.

1. Build the SADL p2 and the LS:
https://github.com/SemanticApplicationDesignLanguage/sadl/blob/7c246b2f8e85642126587bad6ab3372b64373da0/.travis.yml#L22-L23

2. Build the Theia app. Note, it uses the LS that we build in `1.`:
https://github.com/SemanticApplicationDesignLanguage/sadl/blob/7c246b2f8e85642126587bad6ab3372b64373da0/.travis.yml#L39

3. Publish to

[2020-10-26 14:58] tuxji commented on #522
Thanks, that helps.

@kittaakos - if you know what the values of the following secrets are, will you please store corresponding GitHub secrets in the sadlos2 repository to make them available to the GitHub actions as well?

- DOCKER_USERNAME
- DOCKER_PASSWORD (or DOCKER_TOKEN which might be preferable)
- NPM_AUTH_TOKEN

[2020-10-26 15:14] kittaakos commented on #522
I do not know them. @crapo configured it with his personal credentials.

[2020-10-26 16:16] crapo commented on #522
@kittaakos , @tuxji , do we need an organizational account on docker.com? Or maybe a GEGlobalResearch account? There is theaide organization with a theaide/sadl repository. How do transition this so that it doesn't involve my personal account?

[2020-10-26 16:30] kittaakos commented on #522
You register an account for npmjs and Docker and we add it as a collaborator. See https://github.com/SemanticApplicationDesignLanguage/sadl/issues/522#issuecomment-712180709

[2020-10-27 12:51] sanandsasidharan opened #548 "Implement ability to import data from a relational database"

[2020-10-27 18:57] crapo commented on #548
I've refactored CsvImporter.java to create the base class TabularDataImporter (implementing ITabularDataImporter) with extension classes CsvImporter and DBImporter. The DBImporter class has the following methods that need to be fleshed out:

- setImportDatabaseSource: this method is meant to have arguments that set the database connection info and the query necessary to generate a ResultSet. It sh

[2020-10-28 12:30] crapo opened #549 "Errors when mappings for implicit models are missing"
JBSMP only checks that implicit models like sadlbasemodel.owl, sadllistmodel.owl exist, not that they are in the mappings in ont-policy.rdf. Checking for mappings in onGenerate would resolve this issue.

[2020-10-28 12:34] crapo opened #550 "ServicesConfig.sadl metamodel isn't being resolved so that it can be imported"
Creating a ServicesConfig.sadl model causes SadlServicesConfigurationConcepts.owl to be put in the OwlModels folder and added to the mappings file (but only if no errors, which is a bit self-defeating) but it cannot be imported. (Because isn't indexed? Not and exception like sadlbasemodel.owl?)

[2020-10-29 13:56] crapo commented on #548
@sanandsasidharan , I implemented the method sendDataObject in ISadlServer and SadlServerImpl, pushed in this commit: https://github.com/SemanticApplicationDesignLanguage/sadl/commit/8d17df7af68103b634ee63db8f4d91ecc5a8f77b

[2020-10-29 13:57] sanandsasidharan commented on #548
Thanks Andy, adding few items which we both discussed internally

1. setImportDatabaseSource will take ResultSet as input parameter so that it is independent of DB and Connection details. This will also eliminate the need for cleanUp call. It will additionally take a boolean parameter 'includesHeader' which when set to true will make getNextLine return column headers on the first call (this is int

[2020-10-29 20:46] crapo opened #551 "javax.activation.DataSource still giving errors"
@tuxji , while what we did to change the target and change access rules for javax.activation/** seemed to work for me, both in the dev environment and when I updated from a zip in Eclipse for Java dev 2020-03, @AbhaMoitra gets the same error still (multiple javax.activation.DataSource classes, she will provide the exact message. I'm at a loss as to how to fix this problem, which keeps reappearing.

[2020-10-29 20:52] AbhaMoitra commented on #551
@tuxji  For VERDICT-STEM run in eclipse using SADL update of 10/29/2020, I see the following error, let me know of you need additional info.

![image](https://user-images.githubusercontent.com/28540315/97631158-f22b9300-1a06-11eb-8947-cf12102dbda1.png)

[2020-10-29 20:56] crapo commented on #551
I've pushed the changes to target. The changes to access rules don't appear in anything that's tracked so I'm not sure how those are supposed to be propagated to other developers.
I built the update with a command-line maven install (mvn install -U), so I'm not sure how the changes that we made in eclipse were supposed to propagate to the maven build, or maybe they didn't and that's the problem? A

[2020-10-29 21:40] tuxji commented on #551
Oh, we ignore Eclipse files (.classpath, .project, .settings) in our `.gitignore`, so that's why your access rule changes didn't appear in anything tracked by git.  I just updated my sadl checkout, ran mvn clean followed by mvn install, and confirmed that SADL builds successfully.  I'll install SADL in Eclipse to try to reproduce Abha's error message later.

[2020-10-30 18:38] tuxji commented on #551
OK, I have troubleshooted this issue and something in Abha's Eclipse must be causing the issue.  I have verified that if I do the following steps with a fresh Eclipse install, I will not get a SADL error:

1. Download and unpack Eclipse IDE for Java and DSL Developers 2020-03 ([Windows](https://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/2020-03/R/eclipse-dsl-2020

[2020-10-30 20:58] tuxji commented on #551
Upon further investigation, Abha and I have realized that running SADL with Java 8 causes these javax.activation.DataSource SADL error messages.  These SADL errors go away after switching to Java 11.  Unfortunately, Java 8 still has a copy of javax.activation.DataSource in the JRE while Java 11 has stopped including javax.activation.DataSource in the JRE.  When we run SADL with Java 8, the loader

[2020-11-02 13:01] crapo commented on #551
I did a little looking around to see if there is a good alternative to using javax.activation.DataSource, but didn't find anything that looks promising.
I suppose one approach would be to build separate updates for Java 8 and Java 11. That would be a pain. Also, the setting of the access rules looks to me like something that every developer building a target for Java 11 will have to do, right?

[2020-11-02 13:25] crapo commented on #522
Adding @tuxji to assignees as he is completing the re-implementation of the CI.

[2020-11-02 14:38] tuxji commented on #522
@kittaakos Where do we need to register a new organizational account?
- Docker Hub has already been done (https://hub.docker.com/orgs/sadl)
- npmjs too?

[2020-11-02 15:01] kittaakos commented on #522
Yes.

[2020-11-02 17:08] AbhaMoitra opened #552 "SADL import templates issues"
Using SADL update dated 10/30/2020,  Java 11, eclipse DSL; I am able to run a project that imports CSV data using templates. However, when I use the template to import the CSV file as a SADL file I get an error. This issue can be replicated using the VERDICT-STEM project on GIT (https://github.com/ge-high-assurance/VERDICT/tree/master/tools/verdict-back-ends/STEM). Note that I do not have this iss

[2020-11-02 18:22] crapo commented on #552
@AbhaMoitra , what is the error exactly?

[2020-11-02 18:33] AbhaMoitra commented on #552
@crapo I restarted eclipse and now I do not have any issues. Not sure what happened. I am closing this issue as I think it should not have been entered.

[2020-11-02 18:33] #552 closed, assigned to nobody

[2020-11-03 12:56] crapo opened #553 ""same as" sufficient to define new class"
Currently the statement "Father is the same as {Man and Parent}." (Quick Start Tutorial) requires a separate definition of "Father". This could be relaxed so that the statement becomes the definition of "Father".

[2020-11-03 14:10] tuxji commented on #522
@kittaakos I've created an individual account (tuxji) on npmjs.com and I've created an organization (sadl) in case we need one.  I see we're already using another organization (typefox-team) for publishing the npm package but can we add an organization (sadl) as a collaborator or will it have to be my individual account?  Either way, then I will create a new NPM_AUTH_TOKEN and save it as a GitHub

[2020-11-03 14:17] kittaakos commented on #522
👍

Great. Yes, we need one.

I do not know. I guess, both works. It is up to you whether you need an individual or organization npmjs account.

Sounds good. Let me know when you have finalized both the npmjs and Docker accounts creation and the secrets are also configured. I will add the two new accounts as a contributor, we start the build, and hopefully, it will be green. 🤞

[2020-11-03 18:29] crapo opened #554 "NPE"
java.lang.NullPointerException
	at com.google.common.base.Preconditions.checkNotNull(Preconditions.java:878)
	at com.google.common.base.Optional.of(Optional.java:103)
	at com.ge.research.sadl.ide.editor.contentassist.SadlOntologyContextProvider.getOntologyContext(SadlOntologyContextProvider.java:304)
	at com.ge.research.sadl.ide.editor.contentassist.ProposalProviderFilterProvider.getCrossReference

[2020-11-03 19:23] crapo opened #555 ""No type is declared" error"
In the QS Tutorial, the following gives a "No type is declared" error  on line 9 as long as line 7 is present. Not a helpful error.
![image](https://user-images.githubusercontent.com/1186278/98031151-18bf4480-1de0-11eb-99a2-d6ba0f5ba595.png)

[2020-11-03 19:26] crapo opened #556 ""Can't create an unnamed instance with no class given" error"
In the QS Tutorial, line 10 gives a "Can't create an unnamed instance with no class given" error. Not helpful.
![image](https://user-images.githubusercontent.com/1186278/98031517-9be09a80-1de0-11eb-9826-a4853d1ae2b8.png)

[2020-11-03 20:56] crapo opened #557 "Unexpected error in SADL query"
From QS Tutorial, given "George is a Man." and "Man is a type of Person.":

Ask: select x where George is an x.

creates an unexpected error.

[2020-11-03 20:58] crapo commented on #551
@tuxji , @AbhaMoitra , @agabaldon , @weisenje , can we just no longer support Java 8, require that SADL users install Java 11?

[2020-11-03 21:03] tuxji commented on #551
I'm fine with requiring Java 11.

[2020-11-03 21:31] AbhaMoitra commented on #551
I am also fine requiring Java 11.

[2020-11-04 15:18] crapo opened #558 "First inference of a new or newly imported project"
If I create or import a new project and ask for inference (Test Model), the following error occurs. It no longer happens after I go into project properties, reasoner settings, and save. Missing configuration file?
`com.ge.research.sadl.reasoner.TranslationException: Invalid format:
	at com.ge.research.sadl.model.SadlSerializationFormat.getRDFFormat(SadlSerializationFormat.java:64)
	at com.ge.resea

[2020-11-04 15:19] crapo commented on #558
configuration.rdf file is there, so it isn't that. Also, just going into workspace preferences and setting a few things and saving resolves issue. No need to edit project properties.

[2020-11-04 15:22] crapo opened #559 "No derivation file, no feedback"
If there are no derivations, then no derivation file is created but there is no explanation as to why, given that derivations were requested in preferences, none were provided.

[2020-11-06 08:56] ymy530 commented on #558
Hi Crapo, I am new to SADL and starting explore this tool today. I encountered exactly the issue you ran into. And you mentioned above that "just going into workspace preferences and setting a few things", can you please be more specific about the step you took to solve this issue? Many thanks in advance!
![Screen Shot 2020-11-06 at 4 55 34 PM](https://user-images.githubusercontent.com/17860388/98

[2020-11-09 12:17] crapo commented on #558
Type Checking Settings would be a possibility. Unless you want to be very exacting you might change to this:
![image](https://user-images.githubusercontent.com/1186278/98540232-9f01dd80-225b-11eb-8ad0-fb1e05a3d24c.png)

[2020-11-09 12:48] crapo opened #561 "Improved/updated documentation and training material"
Creating an issue for subject objectives. @agabaldon , could you please ask Anne Walley about her review of for proprietary content and possible approval of the recordings of the Gas Power training sessions? I believe that she has given approval for use of the training outline, which is contained in 2 files, part 1 and part 2. These have no proprietary content and would be useful to me. Both the c

[2020-11-09 20:43] AbhaMoitra opened #562 "Alias in graphing when a project references another project"
Very minor issue: Consider project P2 that references project P1. The SADL files in P1 have aliases but when graphing project P2, the alias for P1 SADL files is not used in the graph. An example can be found with RACK-Ontology and Turnstile-Ontology in https://github.com/ge-high-assurance/RACK (this is now open project).

[2020-11-10 00:34] ymy530 commented on #558
Thanks！

[2020-11-11 22:31] crapo commented on #562
@AbhaMoitra , while looking at this I note that in CounterApplicationRequirementsSpec.sadl, lines 33 and 41, "mitigates" is ambiguous, which is an error. Presumably should be "Rq:mitigates"?

[2020-11-12 11:36] crapo commented on #562
Note also that All.sadl does not have an alias.

[2020-11-12 14:03] AbhaMoitra commented on #562
@crapo : I had noticed the error markings and we had put in a "hot fix" - maybe that got dropped somehow. I'll investigate. (These error markings are present in windows environment but were not visible in a Linux environment where this model extension was developed.) Thank you for pointing this out!

[2020-11-12 22:04] crapo commented on #562
I observed the errors in a Linux environment. I don't have a Windows environment.

[2020-11-12 22:26] AbhaMoitra commented on #562
Thanks for update. Dan Russel was using a VM to run and update SADL models for RACK, and I believe he did not see the errors.

[2020-11-13 20:25] #562 closed, assigned to nobody

[2020-11-16 13:24] crapo commented on #558
PR for this fix has been merged into development branch. Will be in next release.

[2020-11-16 13:24] #558 closed, assigned to nobody

[2020-11-16 15:37] crapo commented on #551
@tuxji , I'm currently in the situation (using Java 11) of having to go through and add an access rule to com.ge.research.jena for javax/activation/** in each project that uses javax.activation each time that I change branch or restart Eclipse. I haven't seen any way to make this rule persist. How should this be handled?

[2020-11-16 15:47] AbhaMoitra opened #568 "Graphing issue"
I have updated SADL with release corresponding to #565 and observed some warnings / errors. Specifically, for RACK Release 3.0, I see the following error
![image](https://user-images.githubusercontent.com/28540315/99275129-21107a00-27f9-11eb-8175-16604d279535.png)

[2020-11-16 16:55] tuxji commented on #551
Ouch.  Here's my suggestion.  Since we have decided to drop Java 8, we could move javax.activation from Import-Package to Require-Bundle in each MANIFEST.MF which imports javax.activation.  According to <https://stackoverflow.com/questions/49781697/how-to-specify-access-rules-in-plugin-project-dependency-outside-of-eclipse-user>, this should work around the Eclipse access warning by changing the d

[2020-11-16 16:58] tuxji commented on #551
P.S. @crapo is there any reason why we haven't merged pull request <https://github.com/SemanticApplicationDesignLanguage/sadl/pull/532> yet?  Could we merge it after the activation problem is fixed?

[2020-11-16 17:53] crapo commented on #557
Issue seems a little more general than just a query. The rule

`Rule sameThing: if George is an x then print("George is an ", x).`

also generated an error, although not quite the same. Note that in each case the declaration of "x" seems possibly wrong. Wouldn't the declaration of all variables in a query be in the where clause? And the declaration of all variables in a rule in the rule head?

[2020-11-16 22:21] crapo commented on #568
@AbhaMoitra , I have no visibility into what "release correspoinding to #565" means. Did someone build you an internal release? On what branch? And "RACK Release 3.0" corresponds to what in the RACK Ontology repo?

[2020-11-16 22:25] crapo commented on #551
@tuxji , as far as I know the activation issue is the only possible reason to not merge #532 and I'm not sure that there is actually a dependency between them. I'm pursuing a process where @agabaldon  (or you) merges PR but I do not merge PRs.

[2020-11-16 22:27] agabaldon commented on #568
@crapo, yes, it is an update built on development branch after the fixes for issue #565 were merged in.

[2020-11-16 22:41] crapo commented on #559
Seems to be a disconnect in that the JBSIP has a map of eclipse preferences, but not until processing gets down into the JenaReasonerPlugin are the preferences from the project configuration.rdf file retrieved and used to initialize the reasoner. However, those preferences never get put into the preference map  of the JBSIP so it doesn’t reflect what is actually used for reasoning. So the display

[2020-11-16 22:43] crapo commented on #559
Possible soln: getInitializedReasoner could get the configuration for the reasoner, once the reasoner is obtained, and add those to the preference map. Note that this would have to be done after we know what reasoner it is as the configuration in configuration.rdf is reasoner-specific and can be different for different reasoners.

[2020-11-17 12:24] crapo commented on #568
@AbhaMoitra , this has been reproduced and resolved with PR #569. Awaiting review by @agabaldon .

[2020-11-17 19:56] crapo commented on #568
@AbhaMoitra , can you please confirm that this fixed the problem and if so close this issue?

[2020-11-17 21:54] crapo commented on #568
@AbhaMoitra has confirmed that this error is fixed.

[2020-11-17 21:54] #568 closed, assigned to nobody

[2020-11-18 16:02] #555 closed, assigned to nobody

[2020-11-18 18:33] crapo commented on #556
Fixed by PR #570 .

[2020-11-18 18:33] #556 closed, assigned to nobody

[2020-11-18 18:43] crapo commented on #522
@tuxji , @kittaakos , do we have CI and WebSADL docker image generation working? If so then I think this can be closed.

[2020-11-18 18:56] tuxji commented on #522
Yes, the CI workflow successfully generates the WebSADL docker image now.  We may want to write a CI release workflow that builds a SADL zip file and updates a SADL update site, but this issue can be closed and another issue created for that.

[2020-11-18 18:56] #522 closed, assigned to crapo, tuxji

[2020-11-19 21:43] agabaldon opened #572 "Import of http://com.ge.research.sadl/sadlserver/Services in ServicesConfig.sadl shows error"
Created a ServicesConfig.sadl file which resulted in the generation of a SadlServicesConfigurationConcepts.owl file in OwlModels. Then adding
 import "http://com.ge.research.sadl/sadlserver/Services".
to ServicesConfig.sadl shows error
  Couldn't resolve reference to SadlModel 'http://com.ge.research.sadl/sadlserver/Services'.

[2020-11-20 12:30] crapo commented on #572
Just realized this is duplicate of #550. It is also related to #549 .

[2020-11-20 22:40] crapo opened #574 "Difficulty generating JavaDoc for SadlServer"
@tuxji , when I try to generate JavaDoc for the com.ge.research.sadl.server project, and select the two subprojects, I get these errors and nothing is generated. I suppose that something somewhere indicates Java 1.3? But I don't find it. I do not find any solution that makes sense googling the errors. Ideas?

error: Source option 1.3 is no longer supported. Use 6 or later.
error: Target option 1.3

[2020-11-21 14:57] crapo commented on #549
Fix to this issue added to GH-572 branch.

[2020-11-21 16:40] tuxji commented on #574
@crapo , here are some [instructions](https://www.codejava.net/ides/eclipse/how-to-generate-javadoc-in-eclipse) that will show you how to generate javadocs in Eclipse (which I assume is where you are getting your errors).  You can also google how to run javadoc from the command line and that should work fine too.

[2020-11-23 12:49] crapo commented on #574
@tuxji , those instructions are better than the ones I was using, but the result after carefully following them is exactly the same error. I also tried running from cmd line. Can you create JavaDocs for the com.ge.research.sadl.server subprojects (sadlserver-api and sadlserver-impl together)? I wonder if this has something to do with using OpenJDK. I've not had this problem in the past, but it's b

[2020-11-24 17:05] crapo commented on #548
@sanandsasidharan , how's this going? I'm interested in adding documentation if this is going to be Open Source.

[2020-11-24 17:37] tuxji commented on #574
@crapo I've made changes to the poms and fixed some of the javadoc comments so that Maven can generate javadocs for the com.ge.research.sadl.server subprojects.  Please read the description in my pull request #575 (I already merged it) for more details.  If you would like to generate javadocs for other subprojects, you may need to fix some more errors.  Please close this issue when you verify you'

[2020-11-24 22:42] crapo opened #576 "Meaning of "a single value of type Seat""
@AbhaMoitra , in looking at #509 , I realized that this expression in SADL:

`Bicycle is a class,
	described by component with values of type Wheel,
	described by component with a single value of type Seat.`

is creating a cardinality restriction on component:

`  <owl:Class rdf:ID="Bicycle">
    <rdfs:subClassOf>
      <owl:Restriction>
        <owl:cardinality rdf:datatype="http://www.w3.org/200

[2020-11-25 01:47] AbhaMoitra commented on #576
I agree that cardinality restriction makes no sense and needs to be altered.

[2020-11-25 12:24] crapo commented on #509
Here's an export of a project with a modified file that does validation of qualified, max qualified, and min qualified property restrictions. It also illustrates using concepts from OWL and RDF explicitly in rules. A modification to SADL model processing should also be implemented so that the OWL and RDF fragments are imported into the generated OWL file as they a) are not needed, and b) might cau

[2020-11-25 13:40] AbhaMoitra commented on #509
@crapo : yes, I do not think this affects my current projects. I'll take a look at exported project at a later point.

[2020-11-25 19:13] AbhaMoitra commented on #509
@crapo: we were just in the process of revising cardinality restrictions in RACK (and we have a code freeze this weekend). Earlier by default we were using "with values of type". So right now should we use
     p1 describes A1 with values of type A2.
     p1 describes A1 with at most 1 value.
 or should we use
    p1 describes A1 with at most 1 value of type A2.

I think we should use the first al

[2020-11-25 22:01] crapo commented on #509
@AbhaMoitra , that depends on what you want to say. The issue identified in #576 is only with "p1 describes A1 with a single value of type A2."

"p1 describes A1 with values of type A2." gives p1 the domain A1 and range A2.

"p1 describes A1 with at most 1 value." sets a maxCardinality restriction on property p1 for class A1.

I agree that this combination is probably the safest for now.

"p1 desc

[2020-11-30 20:43] crapo commented on #576
This will be closed when PR #578 is merged.

[2020-11-30 22:18] crapo commented on #574
JavaDocs for SadlServer generated and added to documentation. How to generate for documentation also documented.

[2020-11-30 22:18] #574 closed, assigned to nobody

[2020-11-30 22:23] crapo commented on #572
@agabaldon , I think that this issue can be closed with the merging of PR #573 . Do you agree?

[2020-11-30 22:25] crapo commented on #559
This issue can be closed when PR #571 is merged.

[2020-12-01 14:53] agabaldon opened #579 ""Bundle org.jsoup cannot be resolved" after clean install"
I did a clean install (reinstall Eclipse 2020-03, cloned SADL dev branch, built SADL successfully on console, etc). After importing into Eclipse and doing a maven update and clean/build, Eclipse is still showing "Bundle org.jsoup cannot be resolved" error and 10 other Xtext errors probably consequence of not finding jsoup.

![Screen Shot 2020-12-01 at 9 52 25 AM](https://user-images.githubusercont

[2020-12-01 15:18] agabaldon commented on #579
Never mind. The target platform switched back to default or I forgot to set it to com.ge.research.sadl.target

[2020-12-01 15:18] #579 closed, assigned to nobody

[2020-12-01 18:11] #506 closed, assigned to kittaakos

[2020-12-02 18:49] crapo commented on #553
This turned out to be a bug. The desired behavior was already otherwise implemented. This now works with a minor bug fix only.

[2020-12-02 18:49] #553 closed, assigned to nobody

[2020-12-02 22:30] crapo commented on #557
@kittaakos , I think I've tracked this down to something that I don't understand. I've added a couple of tests to SadlLinkingTest, which I haven't pushed but I can put the essence here for a thought question and I'm hoping you can answer without resorting to actual code.
In the case that works, the SelectStatement is `"select <i> where [i] is a Foo" `
while for the case that does not work it is `"

[2020-12-03 11:40] sanandsasidharan commented on #548
@crapo we have the go ahead for open sourcing the DBImporter and REST-wrapper pieces since they are generic functionality which need to be carried over to future versions of SADL. I will push the DBImporter changes to the dbimporter branch in 1-2 days.

[2020-12-03 12:53] crapo commented on #557
@kittaakos , @agabaldon , @weisenje : to make this explicit, I've pushed code branch GH-557 with a test added, SadlModelProcessorBasicsTest.testModelContents. The simple model is:
[code]

Getting all contents:
[code]
Gives the following output. Note that the SadlResource which is the "type" of the SadlSimpleTypeReference is not found for each instance of SadlSimpleTypeReference in the tree iterato

[2020-12-03 18:23] crapo opened #581 "Template grammar and editor fixes"
The CSV import template grammar doesn't match the expected file syntax. Also, hyperlinking to the SADL/OWL models is not fully functional.

[2020-12-03 18:34] crapo commented on #581
Made some minor modifications to the processing so that a template grammar that allows "replace" is followed by pairs of comma-separated replacements, each consisting of colon-separated quoted strings will produce expected results. Fixed some tests to conform. Found bug in importing to OWL--looks like OWL file isn't being loaded by Xtext ExternalResource processor.

[2020-12-03 18:53] crapo commented on #581
Can't reproduce the errors using the OWL import at the moment....

[2020-12-03 21:30] agabaldon commented on #572
This and #549 ?

[2020-12-03 21:40] agabaldon opened #582 ""or" in body of rules translates as "and"?"
From the old SADL documentation, it seems "or" is not allowed in the body of rules. I wrote a simple rule to check anyway:
AC is a class described by acprop with values of type boolean.
BC is a type of AC.
Rule testr: if x is a AC or x is a BC then x acprop true.

Turns out:
1) SADL does not complain about the "or"
2) The "or" is translated as "and":

[testr: (?x rdf:type http://sadl.org/test.sadl

[2020-12-03 22:22] crapo commented on #572
yes, I believe so

[2020-12-04 14:23] crapo commented on #582
@agabaldon , disjunction in rules is not invalid in SADL. It is supported by the SWI-Prolog reasoner. The error should come from the JenaTranslatorPlugin, as Jena rules do not support "or". I've thought about allowing "or" in rules and translating to multiple rules, one for each element of the disjunction. That would lead to complexity for the user as there would not be a single rule to debug. I'l

[2020-12-04 21:06] tuxji commented on #551
I tried my suggestion (Require-Bundle) but unfortunately it doesn't work.  See #583.

I confirm I encounter the same Eclipse access rule errors when importing SADL projects into my Eclipse workspace. The simplest way to resolve these errors is to use the quick fix "Configure problem severity" and configure the workspace to turn these errors into warnings instead. You need to do that only once for

[2020-12-04 21:06] #551 closed, assigned to nobody

[2020-12-04 21:15] tuxji commented on #576
Closing now that #578 is merged.

[2020-12-04 21:15] #576 closed, assigned to nobody

[2020-12-04 22:12] crapo commented on #572
With all outstanding PRs merged, I believe this is resolved.

[2020-12-04 22:12] #572 closed, assigned to nobody

[2020-12-04 22:13] #559 closed, assigned to nobody

[2020-12-04 22:14] crapo commented on #550
PR now merged with development.

[2020-12-04 22:14] #550 closed, assigned to nobody

[2020-12-04 22:15] #549 closed, assigned to nobody

[2020-12-04 22:17] crapo commented on #538
@amarbanerjee23 , @dahvid , can this issue be closed? I believe that some of the causes of confusion have been improved in the latest version of SADL.

[2020-12-04 23:09] crapo commented on #582
I see the regression error. Will resolve and improve error handling.

[2020-12-07 20:49] crapo opened #584 "Bogus CircularDependencyException on intersection class"
When an instance is belongs to an intersection class a bogus CircularDependencyException is thrown. Use case:
		 uri "http://sadl.org/Test1.sadl" alias Test1.
		 CodeElement is a class described by beginsAt with values of type int.
		 CodeVariable is a type of CodeElement described by varName with values of type string.
		 {ClassField, ConstantVariable} are types of CodeVariable.
		 Mach.Q is a {C

[2020-12-07 20:55] crapo commented on #584
Checking for circular dependencies has been fraught with difficulties for some time. Propose reporting this as a type checking error which, if type checking errors are reported as warnings, will not prevent models from being saved. This provides a way out if there are additional errors found in circular dependency detection.

[2020-12-08 07:21] kittaakos commented on #557
I will take a look later today.

[2020-12-08 12:38] crapo commented on #584
@agabaldon , PR #585 is step 1 and a minor change. I recommend merging that immediately. @AbhaMoitra , this would allow you to get past your ASKE bogus error (if type checking errors preferred as warnings). A subsequent PR will actually fix the issue. I want to create a good set of test cases to make sure the solution is robust.

[2020-12-08 15:39] kittaakos commented on #557
@crapo, I am not sure if I understood the request/question, so let's see.

Given your model:
[code]

Are you asking why a `SadlSimpleTypeReference` instance does not (EMF-)contain the `type` SADL resource? If so, it was always like this, it's a reference. See here:
https://github.com/SemanticApplicationDesignLanguage/sadl/blob/431df2fbaf3901969cfe6cfe10ded29e163ff8c0/sadl3/com.ge.research.sadl.par

[2020-12-08 15:47] crapo commented on #584
Detailing logic for checking type compatibility between a "subject" rdf:Resource and the domain of a property. Requesting review and comment from @agabaldon , @weisenje , @AbhaMoitra . This envisions three possible outcomes from the type check:
    1) MATCH (do nothing, type checking passes),
    2) NOT match (issue a type checking error which could be shown as a warning if preference so indicates

[2020-12-08 16:01] crapo commented on #557
@kittaakos , thanks for looking at this. I thought it might be something like this but didn't know what exactly. So the allContents method return will not include the the actual SadlResource referenced, but I can, in doGetLocalVariableScope, when the SadlSimpleTypeReference is encountered give special handling to get the type SadlResource to make the scoping do the right thing. Does that make sens

[2020-12-08 16:03] kittaakos commented on #557
Correct.

Yes, it absolutely makes sense. Please ping me if you need a review.

[2020-12-09 17:39] crapo commented on #557
@kittaakos , when I check for expression content of type SadlSimpleTypeReference in method doGetLocalVariableScope and then call getType to get the SadlResource instance which is the type, it recursively comes back to the same, see image of call stack. So it doesn't appear to be quite that easy.... Suggestions?
![image](https://user-images.githubusercontent.com/1186278/101665750-62243480-3a1b-11eb

[2020-12-09 17:41] crapo commented on #557
Just to reiterate the bigger picture, in this particular case the SadlResource which is the type of the SadlSimpleTypeReference is variable and it is the declaration of the variable so I need to find it and add it to the scope as such.

[2020-12-10 13:29] crapo commented on #557
I think the answer is that “.. is an x” can’t be the declaration of x as it’s an explicit reference to x, implying that x must be declared elsewhere. Therefore, although illogical from the query perspective, since the reference in "select x" is only to say which variables to return, this x has to be the declaration. The  reference in the where clause must be a reference. Type checking will have to

[2020-12-10 15:44] crapo commented on #561
@agabaldon , just repeating the request to have access to the training outline, part 2, that was prepared for Gas Power. It would save me quite a bit of time and effort. It is on Box under KDL/SADL/Training or something like that.

[2020-12-10 15:54] agabaldon commented on #561
I'll check again. You still would like the videos reviewed right?

[2020-12-10 17:11] crapo commented on #561
@agabaldon , video review if Gas Power is willing, but the request for the outline is independent of that and more important to me The outline shouldn't have anything of concern in it.
I can redo the videos and maybe they need to redone anyway.

[2020-12-10 20:15] crapo opened #589 "Improve and document SWI-Prolog Reasoner/Translator pair"
Current SWI-Prolog reasoner is the SADL V2 code with whatever changes were made for ASKE TA2. Needs to be updated, made more robust and functional, and documented so that it can easily be used as an alternative to the Jena reasoner/translator pair. Hoping @agabaldon can indicate if the development branch version is the latest of if ASKE TA2 had an improved code base for this R/T pair.

[2020-12-11 20:01] agabaldon commented on #561
The outlines are approved.

[2020-12-12 12:18] crapo commented on #561
Great! Thank you. Please provide me with a copy. As noted above, I believe the outlines are on Box, KDL/SADL/Training or something like that. There are two of them.

[2020-12-12 12:21] crapo commented on #589
@agabaldon , the SWIPrologReasonerPlugin, startPrologService has hardwired paths for the swipl executable on Mac and Linux. At least on Ubuntu Linux, that is not the default installation location. Any reason to not simply use swipl (swipl-win.exe on Windows) and require that it be on the path? Alternatively there could be a reasoner configuration for the path....

[2020-12-12 23:35] varishm opened #591 "Unable to build SADL 3"
I am following the instructions here: http://semanticapplicationdesignlanguage.github.io/sadl/developer/Sadl3BuildInstructions.html

I am running into the following error at Step 2 during Build the Projects (mvn clean):

[code]

I am behind a corporate firewall and I have configured my proxies in setting.xml in the .m2 folder.

Any suggestions on how to resolve this?

[2020-12-13 01:22] crapo commented on #591
You have to install cacerts into your Java JDK and JRE. See the note at the end of step 4. @weisenje or @tuxji can help you if you have trouble.

[2020-12-14 13:28] crapo commented on #589
I've gotten a bunch of things working. One question to be addressed to get more working and that should be addressed in documentation is how to do transitive closure over class and property hierarchies. @agabaldon , do you have Prolog rules that do that?

[2020-12-18 16:54] crapo commented on #589
@agabaldon , forget prior questions. I think I have all those things working. Just need more testing, complete documentation.

[2020-12-20 23:39] AbhaMoitra opened #592 "Does SADL work with xtext 2.24"
@tuxji , @crapo.
A DARPA ARCOS performer is trying to use SADL and he see the following error in installing SADL.

![image](https://user-images.githubusercontent.com/28540315/102727163-28dca600-42f2-11eb-8f3f-6bd289308205.png)

He also reported "When I search explicitly in my Installed Software, “osgi” does not show up, but when I search for “osgi” in Plug-ins, I see “OSGi System Bundle” version 3

[2020-12-21 00:11] crapo commented on #592
@AbhaMoitra , the issue that pegged SADL to Xtext 2.21 was addressed in PR "Updated to Xtext 2.23.0 #532" by Akos, which was merged into development by @tuxji on December 1. However, there has not been a SADL release since Oct 21, so assuming that the DARPA ARCOS performer is trying to install from releases, this error is entirely expected. @agabaldon , @weisenje , @tuxji , my working assumption i

[2020-12-21 12:21] crapo commented on #592
@AbhaMoitra , of course the other approach to this problem is to have the person follow the installation instructions. "This release is only compatible with Xtext 2.21, which is included in Eclipse for Java and DSL Developers 2020-03. It is recommended that it be used with Eclipse 2020-03." Not clear why they presumably ignored this.

[2020-12-21 16:46] tuxji commented on #592
@crapo Making a release is easier to do now that I have written the following two GitHub Actions workflows:

1) Every push to a branch in the GithHub repository will run a continuous workflow which will build and attach an installable zip file built to that push's run in the Actions tab.  Anyone can download that zip file if they want to test the latest SADL on their machine; just look for the mos

[2020-12-21 22:23] AbhaMoitra commented on #592
@tuxji @crapo  I can do some testing. The latest zip file I found is : sadl-dependabot-npm_and_yarn-sadl3-com.ge.research.sadl.parent-theia-sadl-extension-ini-1.3.7.zip. Is that correct? I am not able to install SADL from this and I have Xtext 2.21 in my new eclipse so how do I get newer version of xtext?

[2020-12-21 22:44] crapo commented on #592
@AbhaMoitra , I don't know where the zip file is, but I recommend that you use a version of Eclipse newer than 2020-03 so that it doesn't have Xtext 2.21 in it. Since your user apparently had Xtext 2.24 in his, I'm assuming that he is probably using a version of Eclipse that is quite new.

[2020-12-21 23:47] AbhaMoitra commented on #592
@crapo : Thanks. I installed a newer eclipse and it has xtext 2.24.

[2020-12-23 15:42] crapo commented on #589
This work is completed pending merging of RP #593 .

[2020-12-23 21:10] tuxji commented on #591
I helped @varishm install cacerts into his JDK so let's close this issue as done.

[2020-12-23 21:10] #591 closed, assigned to nobody

[2020-12-24 14:32] crapo commented on #592
@tuxji , @AbhaMoitra , I updated version to 3.5.0. Incidentally, I believe that requires changes to 50+ files. All tests pass and I pushed to development.

[2020-12-24 17:08] tuxji commented on #592
SADL Version 3.5.0 is now available at <https://github.com/SemanticApplicationDesignLanguage/sadl/releases/tag/v3.5.0-20201224>.

[2020-12-24 17:08] #592 closed, assigned to nobody

[2020-12-24 19:18] AbhaMoitra commented on #592
@tuxji @crapo - just a note. I had eclipse with xtext 2.24; then when I then installed SADL Version 3.5.0, the xtext version became 2.23. My VERDICT-STEM project is working fine.

@crapo : Also, I am trying to install DARPA ASKE and the instructions in https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/wiki/Installation-Instructions-for-GE-ASKE-System-Eclipse-Plug-ins say "The latest release of SA

[2020-12-24 22:08] crapo commented on #592
@AbhaMoitra , I can build a new release of ASKE which will be compatible with the 3.5.0 release of SADL. I'll do that early next week.

[2020-12-28 21:33] AbhaMoitra opened #594 "Sub-property syntax question"
@crapo : Is the following allowed?

![image](https://user-images.githubusercontent.com/28540315/103244230-577a0280-492a-11eb-8921-53a9bebfe139.png)

I ran into this when converting https://github.com/yzhao30/PATO-ROSE/blob/master/ontology/c.owl to a SADL file. In this conversion, there were just a few errors and I am trying to understand them.

[2020-12-28 22:50] crapo commented on #594
@AbhaMoitra , these constructs generate no errors and the OWL translation looks to me to be correct. In that sense I think they are "allowed". Presumably this is not one of the "few errors" you encountered....

[2020-12-29 14:35] crapo commented on #584
solution merged with PR #585

[2020-12-29 14:35] #584 closed, assigned to nobody

[2020-12-29 15:24] crapo commented on #582
Immediate error on or to and is fixed. Messaging is reworked so that translator can do validation during onValidate and errors go to markers in editor. Substantial rework of how junctions are handled in IntermediateForm to allow differentiation of disjunction and conjunction.

[2020-12-29 17:08] AbhaMoitra commented on #594
@crapo -it is the root cause of the error I see in c.sadl. In a small snippet, when I use subprop1, it is not viewed as a property. So I have

![image](https://user-images.githubusercontent.com/28540315/103301051-7631d500-49ce-11eb-8db9-5398335cdca9.png)

And the error says
             'subprop1' is not a property

[2020-12-29 18:38] crapo commented on #582
When PR #593 is merged this issue should be closed.

[2020-12-29 18:39] crapo commented on #548
@sanandsasidharan , how the progress?

[2020-12-29 18:52] crapo commented on #594
@AbhaMoitra , I encourage you to use Discussions rather than Issues for non-issues, which this seems to me to be. When you are satisfied with the dialog please close this issue.

[2020-12-29 20:21] crapo commented on #594
This is a slightly different construct than in your first post. I do see the error now. Will look into it. I failed to notice the coloring of subprop1 in your first post.

[2020-12-29 21:10] AbhaMoitra commented on #594
@crapo : I will use Discussion in the future. Thanks.

[2020-12-30 12:37] crapo commented on #594
@AbhaMoitra , I misunderstood. Because I didn't notice the color error (subprop1 colored as class, not property) I thought this was just a question, not the reporting of an issue. This is where it belongs as it is an issue.

[2020-12-30 13:11] crapo commented on #594
@AbhaMoitra , I think you will get notification that PR #595 fixes this issue. @tuxji , where is the zip that is automatically created that Abha could use if she wanted this fix immediately? If I understood, there is an update zip automatically created when ?tests pass? on merge to development?

[2020-12-30 18:55] tuxji commented on #594
@crapo Yes, SADL's GitHub Actions workflow has automatically created an update zip twice: 1) while checking that the pull request builds successfully (SADL Continuous Integration Workflow [#18](https://github.com/SemanticApplicationDesignLanguage/sadl/actions/runs/452703104)), and 2) after merging the pull request into the main branch (SADL Continuous Integration Workflow [#19](https://github.com/

[2020-12-30 21:32] crapo commented on #594
Thanks @tuxji ! I've add instructions on installing the latest bleeding edge as a note in the installation instructions.

[2020-12-30 21:32] #594 closed, assigned to crapo

[2020-12-31 11:51] #582 closed, assigned to crapo

[2020-12-31 11:51] #589 closed, assigned to crapo

[2020-12-31 12:48] crapo commented on #557
This was a tricky one in that the grammar defies the desired solution, which is that the variable x in a query like "select x where MyInstance is an x." is defined in the where. This is because the reference to x in "is an x" is just that--a reference to a SadlResource, not an actual SadlResource. Therefore the declaration is in the select but the type of x must be determined in the where. This is

[2021-01-01 00:14] crapo commented on #557
Merged, so closing.

[2021-01-01 00:14] #557 closed, assigned to crapo

[2021-01-05 14:58] AbhaMoitra opened #597 "No warning when a property has another property as domain"
In the following snippet, there is no error / warning for the last line.

![image](https://user-images.githubusercontent.com/28540315/103660797-05456c80-4f3c-11eb-9ab6-c9d1e1e9d0c7.png)

I think the user had wanted to say the following:

![image](https://user-images.githubusercontent.com/28540315/103661040-46d61780-4f3c-11eb-951f-346f076c0b93.png)

I think SADL should show a error / warning, but i

[2021-01-06 14:34] crapo commented on #597
This can be closed when PR #598 is merged.

[2021-01-06 14:36] crapo commented on #509
@AbhaMoitra , can this issue be closed? The changes of #576 have been merged.

[2021-01-06 14:41] #509 closed, assigned to nobody

[2021-01-06 16:40] crapo commented on #437
Once PR #599 is merged this should be closed.

[2021-01-06 19:07] crapo commented on #430
This can be closed when PR #600 is merged into development.

[2021-01-06 20:41] #597 closed, assigned to nobody

[2021-01-06 22:24] crapo opened #601 "Improve Content Assistance"
This issue is a generalization of #407 and is admittedly open-ended. To try to make it SMARTer, this issue will focus on all of the constructions required for the tutorial series. All content assists for all exercises shall provide reasonable and correct results.

[2021-01-07 14:44] #430 closed, assigned to nobody

[2021-01-07 14:44] #437 closed, assigned to nobody

[2021-01-07 17:43] crapo commented on #407
While there is much work to be done on content assist, and it will proceed under #601 , this modification fixes the issue in #407, which had to do with the preference setting to show type checking errors as warnings interfering with the filtering of content assist proposals. When PR #603 is merged this can be closed.

[2021-01-07 21:18] #407 closed, assigned to nobody

[2021-01-07 21:22] crapo commented on #500
@amarbanerjee23 , the SWI-Prolog reasoner and translator have been significantly improved. See http://semanticapplicationdesignlanguage.github.io/sadl/SWI-PrologReasonerPlugin.html for documentation. If it is still of interest, please give it a try and let me know if there are any issues. If so maybe I can address them and we can get this issue closed. Thanks!

[2021-01-14 16:52] crapo commented on #601
PR #604 adds coverage to CA for a number of declaration situations.

[2021-01-20 15:02] BenHocking opened #605 "Quick Start Tutorial creation on GitHub"
The Quick Start Tutorial at the SourceForge location is almost, but not quite, compatible with this GitHub version. The two issues I encounter are:

1. The line `GeorgeWashington is the same as George.` yields an "Unknown" error message.
2. When trying to test the `Ask: "select ?x where {<George> <rdf:type> ?x}".` line using Jena (using `OWL_MEM_RDFS`), I get the result:
[code]

[2021-01-20 22:12] crapo commented on #605
I tried to reproduce the errors you describe in the latest release, Version 3.5.0.202012241659, but was unable to do so. If you are using the latest release please export and attach the project producing these errors. Thanks!

[2021-01-21 20:48] agabaldon opened #606 "Conflicting Xtext versions when installing SADL in Eclipse 2020-12?"
I installed Eclipse 2020-12 and then tried to install the latest SADL release (3.5.0) and I get the following:

![Screen Shot 2021-01-21 at 3 39 32 PM](https://user-images.githubusercontent.com/4990550/105409738-e4993a00-5bfe-11eb-90ce-1c85a740c8f1.png)

the error shows that Eclipse installed with Xtext 2.24 and SADL wants 2.23:

![Screen Shot 2021-01-21 at 3 43 37 PM](https://user-images.githubus

[2021-01-22 14:03] tuxji commented on #606
Hi @agabaldon did you try the other choice (Update my installation to be compatible with the items being installed)?  SADL bundles Xtext 2.23 so if you choose that option, both Xtext 2.23 and SADL can be installed together when necessary.  If that option doesn't work anymore (I thought it worked before), then yes, we will need to switch SADL to Xtext 2.24 or allow SADL to use a range of Xtext vers

[2021-01-22 15:53] crapo commented on #606
@agabaldon , @tuxji : At least on Linux, if I download Eclipse 2020-12 for Java  Developers, then the installation goes without a hitch. If you download Eclipse 2020-12 for DSL and Java Developers it will already have Xtext 2.24 installed, hence the conflict.
@kittaakos , other than by trial, is there any way to anticipate when a new version of Xtext is likely to be incompatible with SADL?

[2021-01-22 17:26] agabaldon commented on #606
@tuxji yes, I did. That seems to work fine.
@crapo I used Eclipse for DSL & Java. I expect that using Eclipse for Java would work on MacOS as well.
Once we know what's the best way to go, we should update the install instructions.

[2021-01-22 21:08] kittaakos commented on #606
@crapo, there will be a few breaking API changes such as [this](https://github.com/eclipse/lsp4j/pull/482), but I do not know much about the Xtext/LSP4J release cycles. Besides experimental (`@Beta`) language-server API changes, there should not be any.

[2021-01-23 20:20] crapo commented on #601
PR #607 further improves content assist for common statements.

[2021-02-02 21:17] crapo opened #610 "Make inference interruptible (able to be cancelled)"
While inference runs on a separate thread, cancelling does not work. This is a problem when inference "runs away".

[2021-02-04 16:00] agabaldon opened #614 "Duplicate instances in sadl file from OWL import"
When importing this owl:

<rdf:RDF
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:builtinfunctions="http://sadl.org/builtinfunctions#"
    xmlns:owl="http://www.w3.org/2002/07/owl#"
    xmlns:sadlimplicitmodel="http://sadl.org/sadlimplicitmodel#"
    xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
    xmlns:owlimp="http://sadl.org/testOwlimport.sadl#"
    xmlns:sadlbasemo

[2021-02-04 20:57] crapo commented on #614
@agabaldon , I assume on the 3rd to the last line you meant

<owlimp:description>sample instance</owlimp:description>

Otherwise it doesn't not parse. With that modification I get the translation you show.

[2021-02-04 21:36] crapo commented on #614
@agabaldon , also the rdfs:comment on the ontology shown in the SADL output ("(note "This ontology was created from a SADL file 'testOwlimport.sadl' and should not be directly edited.")") is not shown in the OWL model. I assume that you have removed it from the OWL?

[2021-02-04 21:44] agabaldon commented on #614
The html viewer was interfering with the rdf. Here it is as quoted code:

[code]

[2021-02-04 22:31] crapo commented on #614
@agabaldon , another issue with the OWL model I believe is that if you use "rdf:about", as is done for the instance declaration, and it is a relative URI, it should be "#aninstance". See https://www.w3.org/TR/rdf-syntax-grammar/#section-Syntax-ID-xml-base. The output to Other Statements is a bug, which is fixed in the forthcoming PR, but the output of the entire URI in that statement is on purpose

[2021-02-05 17:05] agabaldon commented on #614
@crapo: thanks for the fix!
The triple that uses rdf:about="aninstance" is Jena generated through the addDataProperty method. Looks like non-compliance?

[2021-02-05 19:14] crapo commented on #614
What were the arguments in the call to addDataProperty?

[2021-02-05 19:19] agabaldon commented on #614
They were objects of type Jena Individual, Property, and Literal.

[2021-02-05 20:20] agabaldon opened #617 "Data cardinality constraints show an error."
Object cardinality constraints work fine, but data cardinality constraints are showing an error:

![Screen Shot 2021-02-05 at 3 19 02 PM](https://user-images.githubusercontent.com/4990550/107084791-81460500-67c5-11eb-8701-f380a352c758.png)

[2021-02-06 11:48] crapo commented on #614
@agabaldon , what I'm really trying to ask you is what was the URI of "aninstance" that was used to create it. I'm suspecting a bogus URI at that point in the process.

[2021-02-06 12:31] crapo commented on #617
This is fixed with PR #618 . Good catch!

[2021-02-06 12:31] #617 closed, assigned to nobody

[2021-02-12 02:15] hawkinsw opened #619 "Building SADL From Source"
Hello everyone!

I am new to SADL development and was hoping that I could build it from source. I found the great instructions on the [website](http://semanticapplicationdesignlanguage.github.io/sadl/developer/) for building but I am having trouble getting everything working.

In particular, I get the following error:
![Screenshot from 2021-02-11 21-03-50](https://user-images.githubusercontent.com

[2021-02-12 16:31] crapo commented on #619
Not sure if you are using a different version of Maven, or if something went awry in importing as Maven projects, but it appears that within Eclipse the update of the Maven configuration is expecting a project structure that does not exist, namely a src/main and a src/test. For Xtext projects this is not the structure as there are entirely separate projects for test. Perhaps the classpath is incor

[2021-02-13 05:37] hawkinsw commented on #619
Thanks for the response. I tried several more times to repeat the process and make sure that I was following the instructions to the letter. I even went so far as to build a VM to go through the process. Unfortunately, I end up with thousands of build errors.

I am including some of them here in hopes that they give you a sense of the problem and perhaps a direction for the solution.

For context,

[2021-02-13 10:48] crapo commented on #619
@tuxji , do you have any ideas? @hawkinsw , let's set up an on-line meeting next week and see if we can get to the bottom of it. Please inform us also of you **Eclipse version** number. I'm running on Ubuntu 20.04, so Linux should not be a problem.

[2021-02-15 06:11] hawkinsw commented on #619
That would be such a great help, thank you! I would really like to be able to build so that, perhaps, I could contribute something more than just bug reports. I am not in a position to report the Eclipse version at this point, but I will do that as soon as I am back at my work computer. Thanks again for your willingness to help!

[2021-02-15 14:51] crapo opened #620 "In-line, unnamed, user-defined data types are supported by the grammar but not the model processing"
The question is whether to permit and process or to mark as an error. Does it make sense to have unamed (bnode) user-defined datatypes? Issue raised by @hawkinsw .

[2021-02-16 15:46] crapo commented on #620
Note that there is also a regression error in having Jena validate RDFDatatype values against the data type definition.

[2021-02-16 16:25] crapo commented on #620
We can lump the missing xsd datatypes previously raised by @hawkinsw in this issue.

[2021-02-16 19:26] crapo commented on #561
@agabaldon , you one suggested some slides for end-users of SADL. A first installment can be found as one option in the new tutorial Foundational Concepts in Semantic Modeling. It is also available as videos in a Youtube channel. Links:
http://semanticapplicationdesignlanguage.github.io/sadl/Tutorial/FCSM_Introduction.pdf
https://www.youtube.com/watch?v=E4VNBX7ytfo&list=PLkzKFnKjdsEs5XmdB2jPWHbQQ4

[2021-02-16 22:37] hawkinsw commented on #619
Eclipse DSL Tools
Version: 2020-03 (4.15.0)
Build id: 20200313-1211
OS: Linux, v.5.8.0-43-generic, x86_64 / gtk 3.24.20
Java version: 15.0.2

[2021-02-16 22:48] hawkinsw commented on #619
I also did an install under an alternate configuration:

Eclipse IDE for Java Developers
Version: 2020-03 (4.15.0)
Build id: 20200313-1211
OS: Linux, v.5.8.0-43-generic, x86_64 / gtk 3.24.20
Java version: 11.0.10

[2021-02-17 13:48] tuxji commented on #619
@hawkinsw I wish I had time to test the SADL build instructions myself, but I do know that SADL doesn't need to be built with Eclipse 2020-03 anymore.  SADL's target is now Eclipse 2020-12.  @crapo We need to update the Eclipse version in the SADL build [instructions](http://semanticapplicationdesignlanguage.github.io/sadl/developer/Sadl3BuildInstructions.html) and anywhere else you see 2020-03 me

[2021-02-17 19:17] hawkinsw commented on #619
Thank you! I will give it a try with the updated version! Thanks @tuxji and @crapo .

[2021-02-19 21:57] crapo commented on #620
Considerable difficulty working out how to create RDFDatatypes to register with the TypeMapper, but finally resolved with creation of new subclass SadlXSDDatatype.

[2021-02-19 21:57] #620 closed, assigned to nobody

[2021-02-19 21:59] crapo commented on #614
@agabaldon , I don't  see that we have resolved where the invalid URI came from in the first place. Do you want to pursue this? If not please close this issue.

[2021-02-19 22:02] crapo commented on #554
I believe this has long since been OBE.

[2021-02-19 22:02] #554 closed, assigned to nobody

[2021-03-02 04:10] hawkinsw commented on #619
Any chance that we could set a time for a video call sometime to try to walk through this issue and get it resolved?

[2021-03-02 12:27] crapo commented on #619
@hawkinsw , I've been wondering if you still wanted to do that. In preparation, please tell me exactly what version of Eclipse you are using and what version of Java. I will try to set up the same and work through it on my machine in parallel. Tomorrow (3/3/21) would be a good time for me. I'm not sure of your time zone but I'm EST. I will set up a Google Meet unless you have strong preference for

[2021-03-05 22:16] agabaldon commented on #614
The URI was also Jena generated. But I have lost track of the files so I'll close the issue.

[2021-03-05 22:16] #614 closed, assigned to nobody

[2021-03-05 22:31] agabaldon opened #625 "OWL to SADL with lists"
I tried to ingest a simple OWL file with a property that has list values. I generated the OWL file from this SADL:

 uri "http://sadl.org/list_test.sadl".

 LC is a class.
 B is a class described by p with values of type LC List.
 i1 is a LC.
 i2 is a LC.
 i3 is a B has p [i1,i2].

Then I took the OWL version of the above, and did an OWL import with it. The resulting SADL looks like:

uri "http://

[2021-03-08 07:56] NAVEENKUMARSKPN opened #627 "CSV to SADL relationShip mapping is not happening"
I have installed latest version of SADL and i was trying to import csv which has two classes and relationship for each class

Person,rel,role
A,has_Role,admin
B,has_Access,DB

the above csv is a sample and while importing it should be like "Relationship of A to role is has_Role ."

for this how will i need to generate a tmpl file ... as I am able to import classes as well instances from csv to sad

[2021-03-08 14:04] crapo commented on #627
@NAVEENKUMARSKPN , for starters, curious to know if you looked at this documentation linked to the topical index: http://semanticapplicationdesignlanguage.github.io/sadl/CsvDataImporter.html.

The purpose of the CSV Importer is to import instance data to a pre-existing meta-model. It kind of seems that you are trying to create that meta-model from scratch using the CSV file? Usually the properties

[2021-03-08 14:16] #625 closed, assigned to nobody

[2021-03-08 16:41] agabaldon opened #628 "Type SADL error with a list"
The following model causes SADL to issue an error which I think should not be even a warning.

 uri "http://sadl.org/list.sadl" .

 B is a class.
 C is a class.
 D is a class described by p with values of type B List .

i1 is a B.
i1 is a C.

i2 is a D has p [i1].

[2021-03-08 16:45] agabaldon commented on #628
If I change
  i1 is a B.
  i1 is a C.
to
  i1 is a {B and C}.

in addition to the error I also get a warning.

[2021-03-09 13:18] crapo commented on #628
@agabaldon, this issue uncovers a gap in implementation. Type checking of union and intersection classes  doesn't appear to be implemented--there are some "TODO"s in the code in this area. It will probably take some time and effort to correctly fill these gaps.
In the meantime, if this is something that you need to have working, you might try naming the intersection class.

`BC is the same as {B a

[2021-03-09 17:13] agabaldon commented on #628
Thanks @crapo. This is not blocking me for now, so not urgent.
I did find another example that gives unexpected results.

This SADL model:

uri "http://sadl.org/list.sadl" .

 B is a class.
 C is a class.
 D is a class described by p with values of type BC List .

BC is the same as {B or C}.

i1 is a B.
i2 is a C.

i3 is a D has p [i1,i2].

gives a warning that the list elements are not of the sam

[2021-03-12 04:41] NAVEENKUMARSKPN commented on #627
Thanks crapo

[2021-03-12 04:41] #627 closed, assigned to nobody

[2021-03-15 15:00] crapo opened #630 "Integrate SADL List grammar with Jena builtins"
See RuleWithList.sadl in TestSadl3Ide example project.

[2021-03-16 12:38] crapo opened #632 "Get built-in signatures from Java class"
The Jena Builtin class does not provide a means of specifying the signature of the built-in used by the JeanReasonerPlugin. This enhancement will allow built-ins to provide their owl signature, which will go into the SadlBuiltinFuncitons.sadl file and be used for type checking of built-in usage.

[2021-03-16 17:34] agabaldon opened #633 "translation of "is not a""
I wrote a simple ontology with three classes:

  B is a class.
  C is a class.
  D is a class.

I tried to write that i1 is a B but not a C:

  i1 is a B.
  i1 is not a C.

But I get an error at the "i1 is not a C" line:
"Multiple markers at this line
- Unexpect empty array in processSadlDifferentFrom
- mismatched input 'C' expecting 'same'

I also wanted to write the rule:
  Rule r:
   if x is a

[2021-03-16 18:32] agabaldon commented on #633
I just noticed that the query:
  Ask: select x where x is not a C.
is translated into:
Query: select ?x where {?x <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://sadl.org/neg_rule_test.sadl#C>}

[2021-03-17 12:42] crapo commented on #633
@agabaldon , the SADL grammar is bifurcated into statements that define classes, instances, and properties on the one hand and expressions that can be used in rules, queries, tests, etc. on the other. They are not entirely unified, but it was the best that could apparently be done in designing the SADL 3 grammar with some level of backwards compatibility. Plus, it's not entirely clear that one sho

[2021-03-17 15:48] crapo opened #634 "Erroneous warning on multiple variable type conditions in rule or query"
If a rule or query has a construct of the form "... x is a ClassB and x is a ClassC..." a warning is generated for the second type condition that x is a ClassB and therefore incompatible with ClassC.

[2021-03-17 15:50] crapo commented on #634
This is fixed in a commit added to branch GH-628.

[2021-03-17 15:51] crapo commented on #633
The erroneous type checking error is resolved with a commit to branch #628, which is added to PR #631.

[2021-03-19 11:09] crapo commented on #628
Closing as PR #631 has been merged into development.

[2021-03-19 11:09] #628 closed, assigned to nobody

[2021-03-19 11:12] crapo commented on #633
@agabaldon , hoping you'll tell me what you think "Ask: select x where x is not a C." should translate to in SPARQL....

[2021-03-19 15:14] crapo commented on #634
PR #631 has been merged.

[2021-03-19 15:14] #634 closed, assigned to crapo

[2021-03-23 20:43] agabaldon commented on #633
I think it should be translated into

  select ?x where { filter not exists{?x rdf:type ns:C} }

that will give an error but I think that's ok. "Ask: select x where x is a B and x is not a C" will work.

[2021-03-24 13:47] crapo commented on #633
@agabaldon , not sure what you mean by "that will give an error but I think that's ok." Here is my simple test case:

 B is a class.
 C is a class.

 i1 is a B.
 i2 is a C.

If I execute this SPARQL query, which I think is the expansion of what you are suggesting as the translation
`select ?x where {filter not exists{?x <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://sadl.org/gh633b.sadl

[2021-03-24 15:34] agabaldon commented on #633
I wasn't sure if it returned an error or just not work as expected. But the query:

`Ask: "select ?x where {?x a <B>. filter not exists {?x a <C>}}".`

does work as expected.

[2021-03-24 18:32] crapo commented on #633
This query against the model above with two classes and two instances, and given that it imports implicitly the SadlImplicitModel and the SadlBuiltinFunctions model, returns the following. Not sure what filters, if any, should be automatically included in the translation...
     "x"
     "i1"
     "C"
     "B"
     "http://sadl.org/gh633b.sadl"
     "http://sadl.org/sadlbasemodel"
     "06a21e1a-9

[2021-03-29 13:53] agabaldon opened #639 "META-INF/services folder is no longer there"
I added two builtins in com.ge.research.sadl.jena-wrapper-for-sadl/com.ge.research.jena.reasoner.builtin but the META-INF/services folder is gone. How do I do the equivalent of adding builtins lines to org.apache.jena.reasoner.rulesys.Builtin ?

[2021-03-29 14:01] tuxji commented on #639
The META-INF/services folder was redundant.  You don't have to do anything after creating the builtins because a plugin in the Maven pom finds the builtins, lists them, and generates the META-INF/services files automatically during the Maven build.  Please IM me if you want more details or have questions.

[2021-03-29 14:32] agabaldon commented on #639
Got it. That's good.

[2021-03-29 14:32] #639 closed, assigned to nobody

[2021-04-01 14:55] AbhaMoitra opened #642 "Extra and unneeded output in the console window"
I am running SADL version dated 3/26/2021 that I pulled from GIT. When I run my model I get a huge list of messages in the console window that seemed to be maybe related to debugging. Is there a way to turn them off? I was not getting these types of messages in earlier versions of SADL. Below is a screen capture of the initial output in the console window

![image](https://user-images.githubuserco

[2021-04-01 15:06] crapo commented on #642
@AbhaMoitra , is the model something you can share? I don't recall seeing this so a minimal case would be helpful.

[2021-04-01 15:45] AbhaMoitra commented on #642
@crapo : I think you should be able to replicate this issue with https://github.com/ml4ai/grasen-data/tree/master/SemanticModels/GraSEN. You only need the following 3 files from it: GrFNExtractionModel.sadl, PID—GrFN_grfn_jsonCombined.owl.sadl (these 2 files in ExtractedModels dir) and SemAnnotator.sadl which has rules and Ask etc. You can use OWL_DL_MEM_RULE reasoner or add the following 2 rules

[2021-04-01 16:01] crapo commented on #642
@AbhaMoitra , I am unable to access that repo.
![image](https://user-images.githubusercontent.com/1186278/113321806-f7587b00-92e1-11eb-8cb0-bf07a5abc0c5.png)

[2021-04-01 16:21] agabaldon opened #643 "Bundle 'org.jsoup' cannot be resolved"
Did a pull today and built successfully on the command line. But in Eclipse, I can't make the jsoup error go away.

![Screen Shot 2021-04-01 at 12 19 08 PM](https://user-images.githubusercontent.com/4990550/113324122-bc0b7b80-92e4-11eb-9971-0ab5e6d3118c.png)

[2021-04-01 18:07] AbhaMoitra commented on #642
@crapo you should now have access.

[2021-04-01 18:15] tuxji commented on #643
I'm using Eclipse Java 2021-03 with the following installed software:

| Name | Version |
| ---- | ------- |
| Buildship: Eclipse Plug-ins for Gradle | 3.1.5.v20210113-0929 |
| DevStyle (includes Darkest Dark Theme) | 1.11.0.202103191838 |
| EclEmma Java Code Coverage | 3.1.4.202012082030 |
| Eclipse IDE for Java Developers | 4.19.0.20210311-1200 |
| Eclipse Java Development Tools | 3.18.700.v2021

[2021-04-01 18:49] agabaldon commented on #643
A clean install of Eclipse to 2021_03 and the SADL project worked. The question is what fixed it: upgrading Eclipse or reinstalling from scratch. I will try reinstalling 2020_12 and SADL from scratch when I have a chance.

Are there any upgrade requirements for Dev install or User (SADL plugin) install?

[2021-04-01 19:08] tuxji commented on #643
SADL's target platform is Eclipse 2020-12.  Dev installs (importing SADL projects into an Eclipse workspace) can succeed in both Eclipse 2020-12 and 2021-03.  Even if the installed Eclipse platform is different than the target Eclipse platform, the errors will go away after you set the Eclipse workspace to the SADL projects' expected target platform.  User installs (installing the SADL plugin into

[2021-04-01 19:14] crapo commented on #642
@AbhaMoitra , I need the built-ins strafter, strbefore. @agabaldon I had some code for an earlier version of strafter, but that may be out-of-date and I didn't have strbefore.

[2021-04-01 19:26] agabaldon commented on #642
@crapo: I just checked the builtins in.

[2021-04-01 22:26] crapo commented on #642
@AbhaMoitra , I don't reproduce the problem. This is the total output that I see when running the last query:
Inference of '/home/camfe/andy/ws/sadl/runtime-EclipseApplication2/Abha20210401/SemAnnotator.sadl' requested.
Query: select ?x ?xn where {?x a <LHS>. ?x <vname> ?xn. filter not exists{ ?x <notconstant> ?y}}
     "x","xn"
     "VARIABLE19","speed"
     "VARIABLE26","SetSpeed"
     "VARIABLE

[2021-04-01 22:30] AbhaMoitra commented on #642
@crapo : Thank you for checking this out. Could you tell me where to look for properties.log4j?

[2021-04-02 11:59] crapo commented on #642
See http://semanticapplicationdesignlanguage.github.io/sadl/KnownIssues.html.

[2021-04-02 12:05] crapo commented on #643
I suddenly got this error out of the clear blue, unclear why it suddenly appeared. I reloaded the platform, did a Maven update project on all projects, then ran a Maven clean followed by a Maven install and the problem disappeared.

[2021-04-02 12:23] crapo opened #644 "New reasoner/translator pair not being found by service loader"
@tuxji , I'm stuck and really need some help. I've implemented a new reasoner/translator pair that extends the ones in the com.ge.research.sadl.jena-wrapper-for-sadl project. These are working and ready to create a PR except that they have stopped showing up in project properties dialog for choosing a reasoner and compatible translator. They were showing up and I can't seem to see any reason why t

[2021-04-02 14:25] tuxji commented on #644
@crapo , I checked out the DefaultValues branch and compared it to the development branch by running these commands:

[code]

I suspect your problem was caused by using the "git merge" command repeatedly and having to fix some conflicts manually, introducing potential for mistakes each time.  I didn't look at the Java source file changes very closely, but there was a gratuitous change to com.ge.re

[2021-04-02 17:00] crapo commented on #644
@tuxji , thanks for looking at this. I replaced the MANIFEST.MF and the feature.xml files with what is in development and rebuilt everything. This resulted in a failure to find the new reasoner/translator at all, even when the complete path and classname were known from the configuration.rdf file. Looking at MANIFEST.MF, it did not have the line

Eclipse-RegisterBuddy: com.ge.research.sadl

which

[2021-04-02 18:30] AbhaMoitra commented on #642
@crapo @agabaldon : The errors I was seeing were because I had been using strafter but did not see them when I updated from GIT and I had thought that strafter had been renamed to elementAfter. So I used elementAfter but that is for list. when I corrected this (now that strafter is also present) then the console output is as I expected.

[2021-04-02 18:30] #642 closed, assigned to nobody

[2021-04-02 20:12] crapo commented on #642
@AbhaMoitra , @agabaldon sounds like more information should be provided by the list functions when the input isn't a list so that the source of the output is clear. It isn't possible, with the current structure of Jena BaseBuiltin class, to do anything other than write info about the error to the console without completely aborting inference.

[2021-04-05 11:52] crapo commented on #644
Some problems are probably not worth solving. If I move the new reasoner/translator classes into the existing JenaReasonerPlugin project then everything works as expected. I guess there is no compelling reason to have them in their own plugin.

[2021-04-05 11:59] crapo opened #645 "Syntax coloring issue with property name same as imported External"
When a property name in a model is the same as an external equation name declared in an imported model, the property declaration coloring changes between correct (green) when the project is cleaned/built or the imported project is saved, but only in some statements, and incorrect (magenta bold) when the current model is changed or saved.
Example:
![image](https://user-images.githubusercontent.com/

[2021-04-05 13:25] crapo commented on #630
@agabaldon , @AbhaMoitra , I would like to make some changes to lists in SADL. I'm not sure how much you have used this recently implemented functionality or set of built-in functions, so I'm bringing it up for discussion before committing changes.
1. It was a mistake to call the JenaReasonerPlugin's list built-in "length" as that is a term that is a) a keyword in SADL, and b) a common term that m

[2021-04-05 15:05] tuxji commented on #644
Thanks for finding a way to load the reasoner/translator classes.  I shouldn't have removed that `Eclipse-RegisterBuddy: com.ge.research.sadl` line from com.naturalsemanticsllc.sadl.augmented-jena-wrapper-for-sadl/META-INF/MANIFEST.MF (it was the only place I removed that line, fortunately).  I was sure that the `Bundle-ClassPath: .` line wasn't necessary (you usually add only jars to a classpath)

[2021-04-05 15:57] crapo opened #646 "Can no longer create an update that installs in Eclipse 2020-12"
When I create an update and then try to use to update SADL in Eclipse 2020-12 (or other versions of Eclipse) or to install in a fresh Eclipse for Java Developers 2020-12, I always get an error now:
loader constraint violation: loader org.eclipse.osgi.internal.loader.EquinoxClassLoader @31d88eac wants to load interface com.google.common.base.Function. A different interface with the same name was pr

[2021-04-05 16:12] crapo commented on #644
@tuxji , making those changes seems to allow the new plugin classes to be found by the service loader. Strange.

[2021-04-05 16:49] tuxji commented on #646
How are you generating the update - from Eclipse itself, from the command line with a Maven command, or from GitHub Actions' continuous integration workflow?  If it's the last one, I can download the update (zip file) and try updating SADL in my Eclipse to see if I get the same error too.  I didn't get any error when installing updates generated by CI from the development branch.  You can download

[2021-04-05 17:50] crapo commented on #646
@tuxji , that is a point I hadn't considered. I'm generating the update by running a Maven install -U on the entire set of projects. I was trying to make sure that the service loader was working when the plugins are installed before pushing to github. Should an update so created still work?

[2021-04-05 18:29] AbhaMoitra commented on #630
@crapo : I am ok with these changes and they make sense.

@agabaldon : can you also take a look at this and share your views.

[2021-04-05 19:43] tuxji commented on #646
Yes, with a caveat.  You should use Java 11, clean first, and use the same Maven command that the CI workflow uses with an additional `-Dtycho.localArtifacts=ignore` option because you've been running `mvn install` in the past which means the Tycho build must be told NOT to reuse previously built artifacts from your .m2 repository:

[code]

Unless you have an application which uses some SADL jars

[2021-04-07 12:48] AbhaMoitra commented on #630
@crapo : I am trying to use 'length of a list" and I am not able to get it working. Maybe my syntax is in correct? I am using

and len = builtinfunctions:^length(n2)

I also tried

and len = ^length(n2)

[2021-04-07 14:51] crapo commented on #630
@AbhaMoitra , in my test case I use:
 Rule ListLength:
 	if l1 is a YooHooList and len is length of l1 then print("Length of l1: ", len).

which translates to the Jena rule:
[ListLength: (http://sadl.org/UsingListExpression.sadl#l1 rdf:type http://sadl.org/UsingListExpression.sadl#YooHooList), listLength(http://sadl.org/UsingListExpression.sadl#l1, ?len) -> print('Length of l1: '^^http://www.w3.or

[2021-04-07 15:10] agabaldon commented on #646
@Crapo, yes, I have that issue. I can no longer install SADL updates. I reported that
 here: https://github.com/SemanticApplicationDesignLanguage/sadl/pull/631

[2021-04-07 15:40] agabaldon commented on #630
@crapo: the change to listLength makes sense. I think the flexibility you describe in (3) would also be good to have in the future.

What branch should I install to test listLength?

[2021-04-07 16:49] crapo commented on #630
@agabaldon , I just created a PR on DefaultValues branch that has both default values and new "listLength".

[2021-04-07 16:54] AbhaMoitra commented on #630
@crapo : Here is my rule - rewritten to use your syntax style above (I am using https://github.com/ml4ai/grasen-data/blob/master/SemanticModels/GraSEN

Rule MeasuredSignalCandidate // error signal = reference signal - measured signal
if node is a Function
	and nodes of node is n1
	and children of n1 is n2
	and len is ^length of n2
then measuredSignalCandidate of node is true
and print("in Measured

[2021-04-07 18:36] crapo commented on #630
@AbhaMoitra , that syntax indicates that the translation is treating "length" as a property.

I'll restate my rule as I would expect it if the function name were "length" rather than "listLength".

[ListLength: (http://sadl.org/UsingListExpression.sadl#l1 rdf:type http://sadl.org/UsingListExpression.sadl#YooHooList), length(http://sadl.org/UsingListExpression.sadl#l1, ?len) -> print('Length of l1:

[2021-04-07 20:12] agabaldon opened #648 ""Missing Constraint: Import-Package: javax.xml.stream""
I have just started getting this popup:

![Screen Shot 2021-04-07 at 11 49 45 AM](https://user-images.githubusercontent.com/4990550/113922193-009b8900-97b5-11eb-98a2-fec57ffa4c80.png)

There may be an answer somewhere in this stackoverflow page: https://stackoverflow.com/questions/51094274/eclipse-cant-find-xml-related-classes-after-switching-build-path-to-jdk-10/53824670#53824670

[2021-04-08 15:30] agabaldon opened #649 "ClassNotFoundException firstElement"
I'm getting this error. It seems to be looking for firstElement in the wrong place.

java.lang.ClassNotFoundException: com.ge.research.sadl.jena.reasoner.builtin.firstElement cannot be found by com.ge.research.sadl.jena-wrapper-for-sadl_3.5.0.qualifier
	at org.eclipse.osgi.internal.loader.BundleLoader.findClass(BundleLoader.java:516)
	at org.eclipse.osgi.internal.loader.ModuleClassLoader.loadClass

[2021-04-08 16:16] agabaldon commented on #630
@Crapo: after pulling the most recent changes, using listLength is not working but length is. Are we missing some update?
Also, I see some message about "Derivations written to..." Should we turn some setting off?

[2021-04-08 22:26] agabaldon commented on #649
Now also getting an error about Length not found. Length has been replaced by ListLength.

java.lang.ClassNotFoundException: com.naturalsemantics.sadl.jena.reasoner.builtin.Length cannot be found by com.ge.research.sadl.jena-wrapper-for-sadl_3.5.0.qualifier

[2021-04-09 10:54] crapo commented on #630
@agabaldon , I'm going to guess that this is because the old SadlBuiltinFunctions.sadl has not been deleted and still contains "length" rather than "listLength". It is also possible that the configuration.rdf file, which contains the fully qualified names of built-in function classes for Jena-based rules might be causing an error message. Currently the SadlBuiltinFunctions.sadl file is replaced wh

[2021-04-09 11:00] crapo commented on #649
@agabaldon , the error about Length not being found is expected unless SadlBuiltinFunctions.sadl is deleted and the project is cleaned and rebuilt. The error about FirstElement not being found is inexplicable to me unless someone edited the configuration.rdf file and manually put in "com.ge.research.sadl.jena.reasoner.builtin.firstElement". I don't know how else that would have gotten there.

[2021-04-09 13:11] crapo commented on #649
@agabaldon , correction. I know exactly how "com.ge.research.sadl.jena.reasoner.builtin.firstElement" got into the SadlBuiltinFunctions.sadl file. I will fix this shortly.

[2021-04-09 14:58] crapo commented on #630
@agabaldon , @AbhaMoitra , just created a PR that addresses this and several other issues.

[2021-04-12 12:33] crapo commented on #644
The augmented default values reasoner/translator pair disappeared from the service loader results once again. Moved them pair to the same project as the regular Jena reasoner/translator pair (com.ge.research.sadl.jena-wrapper-for-sadl). Here the service loader inclusion seems robust.

[2021-04-12 12:33] #644 closed, assigned to nobody

[2021-04-13 15:01] agabaldon commented on #633
@crapo: I only get the expected result:

`Query: "select ?x where {?x a <B>. filter not exists{?x a <C>}}"`
`     "x"`
`     "i1"`

[2021-04-14 13:36] crapo commented on #633
@agabaldon , I don't think that was the original query in question. In your second comment you identify the SADL query in question to be:

Ask: select x where x is not a C.

The question is what this should translate to in SPARQL, and should it be:

Ask: "select ?x where { ?x <rdf:type> ?t . filter(?t != <C>)}".

This is what returns a lot of things besides i1, as I would expect because there are

[2021-04-14 20:43] crapo commented on #633
These two queries return exactly the same results. Is there some reason why one would be superior to the other?

 Ask: "select ?x where { ?x <rdf:type> ?t . filter(?t != <C>)}".
 Ask: "select ?x where {?x <rdf:type> ?t . filter not exists{?x <type> <C>}}".

One difference is that the second takes about twice as long to execute as the first (5 ms vs 2-3 ms, 2 runs).

[2021-04-14 20:56] crapo commented on #520
This is implemented in the Augmented Jena Reasoner.

[2021-04-14 20:56] #520 closed, assigned to nobody

[2021-04-14 20:56] crapo commented on #521
This is implemented in the Augmented Jena Reasoner.

[2021-04-14 20:56] #521 closed, assigned to nobody

[2021-04-14 22:45] agabaldon commented on #633
I was referring to the query before your long comment.
I find using 'not exists' cleaner than using disequalities. It also works with multiple triples, etc.

[2021-04-15 17:59] crapo commented on #633
These errors are believed to be fixed wtih PR #652 .

[2021-04-15 18:04] crapo commented on #632
This capability is implemented by the extension of the Jena BaseBuiltin class found in TypedBaseBuiltin. Extensions of this abstract class have the method getFunctionSignature. Custom built-ins to provide signatures should extend this class.

[2021-04-15 18:04] #632 closed, assigned to crapo

[2021-04-26 21:04] agabaldon commented on #633
@crapo: if the "is not a" condition is not the last one, an exception occurs caused by a lingering dot:

Ask: select x where x is not a C and x is a B.

Query 'select ?x where { . ?x <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://sadl.org/neg_rule_test.sadl#B> . FILTER (!EXISTS { ?x <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://sadl.org/neg_rule_test.sadl#C> })}' failed: Enc

[2021-04-27 18:03] agabaldon opened #655 "length keyword for lists works in rules but not in queries"
Using "len is length of xl" in rules works fine, but in a query like:
   Ask: select x len where x is a TList and len is length of x.
the results are empty and it outputs a message saying "Unhandled filter type: length".

[2021-04-27 18:04] agabaldon commented on #633
Thanks!

[2021-04-27 18:04] #633 closed, assigned to nobody

[2021-04-27 19:20] crapo commented on #655
Queries in SPARQL use different functions that rules. I don't know that the Jena ARQ query engine has a built-in function for length of a list. I suppose that one could construct a SPARQL query that would get the length? Then the JenaTranslatorPlugin could be modified to generate that kind of query. Or one could add a SPARQL function to ARQ if it doesn't exist--I haven't ever done that.

[2021-04-28 14:57] crapo commented on #655
@agabaldon , see for instance [https://stackoverflow.com/questions/9770807/getting-count-of-rdflist-using-sparql](https://stackoverflow.com/questions/9770807/getting-count-of-rdflist-using-sparql)

[2021-04-28 20:24] agabaldon commented on #655
Oh I see. I assumed the built-ins can be used in queries. :-) In that case, I will do something else. Thanks!

[2021-04-28 20:24] #655 closed, assigned to nobody

[2021-05-26 14:55] agabaldon opened #661 "Unexpected results with defaults"
I'm trying to use defaults and I'm getting unexpected results. Here's a simple example:

`Thing is a class.
p0 describes Thing with values of type int.
p0 of Thing has default 0.
p1 describes Thing with values of type int.
p1 of Thing has default 0.
i1 is a Thing.

Rule r1
if	x p0 0 then x p1 1.

Ask: select val1 where x is a Thing and x p1 val1.`

The answer I get is:

`"val1"
     "1"
     "0"`

[2021-05-26 15:51] agabaldon opened #662 "Boolean default translation"
It seems that defaults of type boolean are not translated using typed boolean values, so they don't work. For example,

`Thing is a class
described by p1 with values of type boolean.
p1 of Thing has default false.

i1 is a Thing.

Ask: select x  where x is a Thing and x p1 false.`

Returns no results. And the rule encoding the default is:

`[http://sadl.org/query.sadl#Thing_p1_default_lvl0: (?i rd

[2021-05-27 11:22] crapo commented on #661
@agabaldon , the problem here is that you have default values for both p0 of Thing and p1 of Thing at the same default level. So inference runs and rule r1 cannot fire. Then the first level defaults are applied and both p0 of i1 and p1 of i1 are given their default values of 0. Then rule r1 fires giving p1 of i1 value 1.

What you need to do is put the default values for p0 of Thing and p1 of Thin

[2021-05-27 11:23] crapo commented on #661
Note that I did see some anomalies where the correct translator wasn't initially being retained. That wasn't the issue you report here though so I'll address that separately.

[2021-05-27 11:37] crapo commented on #662
Issue reproduced, looking into it.

[2021-05-27 16:09] crapo commented on #662
Fix in PR #663.

[2021-05-27 16:36] #662 closed, assigned to nobody

[2021-05-27 17:45] agabaldon commented on #661
I see. That works. Looks like the first level defaults run before any rules, correct?

[2021-05-27 20:38] crapo commented on #661
No, inference is run with the first user-defined rules, if there are any. When all possible first-level inferences are drawn, the next level rules are added, be they from defaults or rule stages. See http://semanticapplicationdesignlanguage.github.io/sadl/DefaultValues.html.

[2021-05-27 21:46] agabaldon commented on #661
But the rule in the example fires, so it has to be applied after the default on p0?

[2021-05-27 22:19] crapo commented on #661
An reasoner is created which loads the user-defined rule. This rule's conditions aren't met so the rule does not fire. In the modified case where the two defaults aren't at the same level, the rule for the stage 0 default (p0 of Thing) is added to the rule set so now there are two rules. The default rule fires adding triple <i1 p0 0> to the kbase. Now the user-defined rule's conditions are met by

[2021-06-01 19:39] Ptival commented on #646
I'm also encountering the "loader constraint violation" error.

Has there been progress on figuring this one out? Or known workarounds?

[2021-06-02 12:05] crapo commented on #646
@tuxji , @Ptival , I just confirmed that downloading the latest update ZIP from the CI builds does not install into Eclipse 2020-12 Java. I get the error "loader constraint violation: loader org.eclipse.osgi.internal.loader.EquinoxClassLoader @78c24993 wants to load interface com.google.common.base.Function. A different interface with the same name was previously loaded by org.eclipse.osgi.interna

[2021-06-02 12:13] crapo commented on #646
@tuxji , note that I have the same error when I download the exact update that you linked to above. The error does not appear until I try to open a file in the SADL editor.

[2021-06-03 21:57] crapo commented on #646
@Ptival , I have confirmed that I can install the latest update (one that I built) successfully by doing the following.
1. Download and extract Eclipse 2020-12 for Java Developers.
2. Install Xtext 2.24 and its related components by installing new software and pasting in the URL http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.24.0
3. Install the latest SADL build by installing ne

[2021-06-05 12:20] crapo opened #665 "Handling of Numeric Constants"
This model has a number of tests, some of which should pass (6) and some of which should fail (9). (One is ambiguous, need clarification on meaning.) Results are far from  expected.

 Foo is a class described by fprop with values of type decimal.

 MyFoo is a Foo with fprop PI.

// MyFoo2 is a Foo with fprop PI * -1 .	// this should not work--it involves a computation

 MyFoo3 is a Foo with fprop

[2021-06-05 17:51] crapo commented on #665
8 or 16 now pass, which is correct. Results:
Inference of '/home/camfe/andy/ws/sadl/git/sadlos2/sadl3/Examples/TestSadl3Ide/UsingNumericConstants.sadl' requested.
Reasoner family: Jena-Based (com.ge.research.sadl.jena.reasoner.JenaReasonerPlugin), version date 12 April 2021.
Test failed: rdf(UsingNumericConstants:MyFoo3, UsingNumericConstants:fprop, PI)("Object"
-3.141592653589793
 Eq? 3.141592653

[2021-06-16 13:16] crapo commented on #665
Closed with PR #666 .

[2021-06-16 13:16] #665 closed, assigned to crapo

[2021-06-16 13:21] crapo commented on #548
@sanandsasidharan , I don't see that you ever pushed the DBImporter and REST-wrapper code. What is the status? I'd like to add documentation.

[2021-07-05 11:23] NAVEENKUMARSKPN opened #706 "Update query"
Hi Team I am trying  to use update query but i couldnt find the syntax  is there any example that would help me to move forward
 1. we were able to execute the query but its not getting updated

Model is
`uri "http://sadl.org/UpdateTests.sadl" alias UpdateTests.

 Person is a class described by name with values of type string, described by owns with values of type Thing, described by loves with va

[2021-07-15 14:01] crapo commented on #706
@NAVEENKUMARSKPN , when I create a SADL model exactly as you have shared it and run inference I get these results:

Inference of '/home/camfe/andy/ws/sadl/runtime-EclipseApplication2/GH-706/UpdateTests.sadl' requested.
Reasoner family: Jena-Based (com.ge.research.sadl.jena.reasoner.JenaReasonerPlugin), version date 12 April 2021.
Query: select ?s ?p where {?s ?p <http://sadl.org/UpdateTests.sadl#F

[2021-07-16 09:09] NAVEENKUMARSKPN commented on #706
Thanks Crapo

With Print: Model I were able to get the file in Temp Folder

But while translating it actually generates the owl for builtinsadl's also
   1. I have UpdateTests.sadl and I have update query and then Print: Model exactly the above sadl which i have mentioned.  yes it was updated in Temp folder but inside that UpdateTests.sadl.Model.owl.txt file it also had owl translation for SadlBui

[2021-07-16 15:58] crapo commented on #706
"Print: Model." puts all triples in the current model into the file so that you can see all triples available to the reasoner. It would be an easy enhancement to have an option to print only the base model (this model but not any imports). Using current functionality you might be able to write a SPARQL construct query that would filter results by namespace to get only what you want. I'm envisionin

[2021-07-26 13:15] AbhaMoitra opened #729 "Installation issues"
Here is the information that one of the ARCOS performers sent to me.  I myself have not verified this information.

First, simply installing it has been a challenge. I have what (I think) is a working install (see below) but following the instructions at: http://semanticapplicationdesignlanguage.github.io/sadl/TempInstallInstructions.html fail (using the suggested Eclipse 2020-12 and Java 11 on Ub

[2021-07-27 07:25] NAVEENKUMARSKPN opened #730 "how to deploy sadl in webserver"
HI Team ,

Is it possible to deploy SADL into webserver or not? We would like to know how to expose our sadl to rest api instead of eclipse UI

Thanks

[2021-07-27 12:28] crapo commented on #730
@NAVEENKUMARSKPN , interpreting your question to be can you deliver reasoning over and querying a knowledge base via a webserver, the answer is yes. Please see the documentation for [Knowledge as a Service (KaaS)](http://semanticapplicationdesignlanguage.github.io/sadl/KaaS.html), linked from the [Topical Index](http://semanticapplicationdesignlanguage.github.io/sadl/TopicalIndex.html). Currently

[2021-07-27 12:42] crapo commented on #729
I have verified in an incognito window that the artifact is not downloadable, although it is if I am logged into github as myself. @tuxji , is there any way around this? Perhaps we need to do a release a bit more often? @AbhaMoitra , I've kind of been hoping that the installation issues would be resolved by @tuxji as he seems much more knowledgeable about these issues. These temporary instructions

[2021-07-27 17:27] tuxji commented on #729
Discussion [here](https://github.community/t/public-read-access-to-actions-artifacts/17363) confirms you must be logged into GitHub as a user to download a workflow artifact.  Empirically, I've tried to download a workflow artifact without logging into GitHub as a user and no way seems to work.  My conclusion is that we need to do a release more often as well as fix any installation issues install

[2021-07-28 12:24] NAVEENKUMARSKPN commented on #730
Thanks Crapo

[2021-08-03 02:50] NAVEENKUMARSKPN opened #758 "NumericConstant creation"
Hi Team ,

is it possible to create a numeric constant without creatin a class.

Eg:
Threshold has a single value 450.

[2021-08-05 04:28] #758 closed, assigned to nobody

[2021-08-05 04:38] NAVEENKUMARSKPN commented on #730
Hi Crapo ,

with the KaaS I were trying to import a csv data using loadCsvData method in sadlSeverImpl

I followed the steps mention in Kaas Documents but while executing i am getting malformedUriException

This is how i have did in java spring boot

[code]

and this is the exception i got

[code]

Did i did any thing wrong in the java?

I have added library  com.ge.research.jena and sadlserverimp

[2021-08-05 12:40] crapo commented on #758
@NAVEENKUMARSKPN , I forgot to respond to this. Maybe you've worked out a solution? I would create a class NumericConstant, subclass of sadlimplicitmodel:UnittedQuantity. Then you could say
Threshold is a NumericConstant, has ^value 450.
To use it in an expression you would say "^value of Threshold".
You could give it units if appropriate. Or you could create your own class and give it a property

[2021-08-05 14:05] crapo commented on #730
@NAVEENKUMARSKPN , the problem is the periods after the "uri ..." statement in the template. The template grammar did not originally have periods after statements and while they are ignored  for the body of the template, they aren't in all statements. The error message gives you a clue: MalformedURLException: '"http://sadl.org/Objects".'  So the URL being used is

"http://sadl.org/Objects".

where

[2021-08-05 18:45] agabaldon opened #760 "Errors in Eclipse SADL dev environment"
SADL built without problems on command line, but Eclipse shows 26 errors saying:

Plugin execution not covered by lifecycle configuration: org.eclipse.tycho:target-platform-configuration:2.4.0:target-platform (execution: default-target-platform, phase: initialize)

[2021-08-06 03:33] NAVEENKUMARSKPN commented on #758
Yes  @crapo  I got a solution exactly what you mentioned with UnittedQuantity I am able to create a constant

Thanks!!!

[2021-08-06 07:36] NAVEENKUMARSKPN commented on #730
Thanks Crapo !!!

[2021-08-06 07:36] #730 closed, assigned to nobody

[2021-08-06 11:12] crapo commented on #760
I get the same thing. However, it still runs in the development environment.

[2021-08-06 22:05] agabaldon commented on #760
I tried it and it runs, but the buitins defined in jena-wrapper-for-sadl are missing from the implicit model.

[2021-08-06 22:27] agabaldon commented on #760
The missing builtins problem is fixed with today's update from @tuxji so I think we can close this one.

[2021-08-06 22:28] #760 closed, assigned to nobody

[2021-08-17 10:28] NAVEENKUMARSKPN opened #768 "Translating Rules to owl"
Hi Team,

Is there a possibility of translating rules into a owl? or it can be done only by SWI-Prolog Resoner

Thanks

[2021-08-17 11:53] crapo commented on #768
When you say OWL, what do you mean specifically? SWRL? As rules aren't part of the OWL recommendation and are specific to the reasoner, the rules must match the reasoner. Thus .rule files for the Jena reasoner, .pl files for the Prolog reasoner. An earlier version of SADL supported the Pellet reasoner with rules translated to SWRL. To support rules in OWL one must have a reasoner/translator pair a

[2021-08-19 03:11] NAVEENKUMARSKPN commented on #768
Thank you for the Reply Crapo

Yeah I want to translate into SWRL ..But I have to look at reasoner/translator so let me come up with a use case so that it would be more clearer

[2021-08-21 11:44] crapo opened #773 "Scoping issue with External referenced before defined"
Given this model:

[code]
the scoping is incorrect, assigning the declaration to the first occurance of "getCp".

[2021-08-21 11:52] crapo opened #774 "CsvImporter template issue when the "uri" line has a period at the end."
At least when using SadlServer to import tabular data using the CsvImporter, a period at the end of the "uri" line causes an error.

[2021-08-23 18:02] Ptival commented on #646
I am trying this again now and the given solution does not work for me.

When installing the latest SADL build, it claims to be incompatible with Xtext 2.24 and wants to uninstall it (reverting to 2.23).

<img width="920" alt="image" src="https://user-images.githubusercontent.com/478606/130494849-b76d1fcf-b395-4387-9340-c1921fc024a3.png">

[2021-08-23 19:12] crapo opened #777 "Property has no domain or range in generated OWL"
### Discussed in https://github.com/SemanticApplicationDesignLanguage/sadl/discussions/772

<div type='discussions-op-text'>

<sup>Originally posted by **AbhaMoitra** August 20, 2021</sup>
I am using SADL version 3.4.1.202010012108 and here is a snippet of SADL (the entire project is available at https://github.com/ge-high-assurance/RACK (navigate to https://github.com/ge-high-assurance/RACK/blob/

[2021-08-23 19:31] crapo commented on #646
@Ptival , I redid my test of the above and it worked without complaint or error in my Linux environment. If, when you install SADL, it wants to revert to Xtext 2.23, then I expect that you are not using a new build of the SADL installation ZIP file.
@tuxji , @agabaldon , @AbhaMoitra : someone needs to build a new release and add it to releases or Robert will have to build his own. I believe that w

[2021-08-23 20:03] AbhaMoitra commented on #646
@agabaldon : could you build a new release? I know @tuxji is busy on something.

[2021-08-23 20:19] agabaldon commented on #646
How come the update zip file name now is com.ge.research.sadl.update-3.5.0-SNAPSHOT.zip instead of something like com.ge.research.sadl.update-3.5.0.202104011344.zip ? It is also 3X the size of old updates. Am I looking in the wrong directory? I'm looking in com.ge.research.sadl.parent/com.ge.research.sadl.update/target

[2021-08-23 20:34] tuxji commented on #646
I'll build a new release once I finish some changes to dockerize a command-line SADL.

Yes, the update zip file has changed its name and become 3X bigger due to recent changes.  We now include all Eclipse features/plugins used by SADL in the update zip to make it easier to install SADL in any Eclipse IDE (even those which don't have Xtext or other things needed by SADL).

[2021-08-23 20:47] agabaldon commented on #646
I added a (pre)release before I saw your message.

[2021-08-25 18:32] tuxji commented on #646
@Ptival I've enhanced the SADL GitHub release workflow so it also builds ready to run out of the box SADL-Eclipse products for Linux, MacOS, and Windows platforms as well as the zip file archive of the SADL update p2-repository.  I've just used this automated workflow to build a new SADL release ([SADL Version 3.5.0 build 20210825](https://github.com/SemanticApplicationDesignLanguage/sadl/releases

[2021-08-25 19:45] tuxji commented on #729
I've modified the SADL codebase and the GitHub workflows so they also build and upload ready to run out of the box SADL-Eclipse products for Linux, MacOS, and Windows platforms as well as the SADL update p2-repository. I've built a new SADL release with this automated workflow. People can install a functional SADL IDE simply by unzipping the appropriate Eclipse product for their platform, running

[2021-08-26 07:28] NAVEENKUMARSKPN opened #779 "Is there a tool for creating SADL instead of Eclipse"
Hi Team,

I would like to know is there any other tool that allows me to create sadl from web (UI) instead of going with Eclipse IDE

Thanks

[2021-08-30 11:51] crapo commented on #779
There is a browser-based UI for SADL. The documentation hasn't been updated yet, and it is experimental. Older documentation is on this file: https://github.com/SemanticApplicationDesignLanguage/sadl/blob/c3e867b5ff8e4e6873e58f47aecb1b7609e0811f/sadl3/com.ge.research.sadl.parent/com.ge.research.sadl3.documentation/WebSite/sadl3/WebSADL.html.

[2021-08-31 03:07] NAVEENKUMARSKPN commented on #774
Hi Crapo one more query i am having while calling loadCsv in sadlServer will it automatically generates sadl file with respect to csv?

[2021-08-31 11:59] crapo commented on #774
The CsvImporter always generates OWL. In the IDE, you can choose to generate SADL instead of OWL, and what happens is that the generated OWL is then sent to the OwlToSadl class to be converted to SADL. The SadlServer doesn't support this, but you can use OwlToSadl to do that conversion in your client as a postprocessing step.

[2021-08-31 14:15] tuxji commented on #729
A new SADL release is available now.  This release corrects SADL's explicitly versioned dependency on Xtext 2.24.0. SADL should now install in any recent Eclipse version, not only Eclipse 2020-12, and use any recent Xtext version compatible with that Eclipse version, not only Xtext 2.24.0.  This release should fix this issue's installation problems, I believe.

[2021-08-31 14:16] tuxji commented on #646
A new SADL release is available now. This release corrects SADL's explicitly versioned dependency on Xtext 2.24.0. SADL should now install in any recent Eclipse version, not only Eclipse 2020-12, and use any recent Xtext version compatible with that Eclipse version, not only Xtext 2.24.0. This release should fix this issue's installation problems, I believe.

[2021-09-01 04:38] NAVEENKUMARSKPN commented on #774
Thanks Crapo !! it works

[2021-09-07 17:26] agabaldon opened #783 "Build error"
Pulled and tried to build the latest in development branch by running mvn install -Dtycho.localArtifacts=ignore

I'm getting this error:

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-install-plugin:3.0.0-M1:install (default-install) on project com.ge.research.sadl.product: NoFileAssignedException: The packaging plugin for this project did not assign a main file to the project but

[2021-09-07 18:45] tuxji commented on #783
Fixed in commit [0fafd52c08c3b9bf5e9c7dea9d936ce8de64c46b](https://github.com/SemanticApplicationDesignLanguage/sadl/commit/0fafd52c08c3b9bf5e9c7dea9d936ce8de64c46b).

[2021-09-07 20:25] agabaldon commented on #783
Still not working for me. Getting:

[INFO] Computing target platform for MavenProject: com.ge.research.sadl:com.ge.research.sadl.product:3.5.0-SNAPSHOT @ /Users/alfredo/Documents/git/sadl/sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.product/pom.xml
[INFO] Resolving dependencies of MavenProject: com.ge.research.sadl:com.ge.research.sadl.product:3.5.0-SNAPSHOT @ /Users/alfredo/Documents/gi

[2021-09-08 19:28] #783 closed, assigned to nobody

[2021-09-09 15:21] crapo opened #785 "Developer documentation needed for Jena ModelGetter, ModelGetterPutter role in interfacing to repositories"
Also need to sort out duplicate classes in ...sadl.jena project and reasoner projects.

[2021-09-09 15:21] crapo opened #786 "WebSADL documentation needed in gitpages"

[2021-09-10 00:27] crapo commented on #777
This, and a number of possible related errors, are fixed with PR #787 .

[2021-09-10 00:27] #777 closed, assigned to crapo

[2021-09-10 14:08] crapo commented on #706
@NAVEENKUMARSKPN , I was taking a closer look at this and realized that I don't apparently understand the issue. In the IDE, an implementation of "Print: Base Model." would print to a file the same model that is already created in the OwlModels folder when you save a SADL model. So it would have no purpose. What is it exactly that you would like to do?

[2021-09-14 16:23] crapo commented on #786
Added at http://semanticapplicationdesignlanguage.github.io/sadl/WebSADL.html.

[2021-09-14 16:23] #786 closed, assigned to crapo

[2021-09-14 16:47] crapo commented on #779
@NAVEENKUMARSKPN , I've added the documentation of WebSADL at http://semanticapplicationdesignlanguage.github.io/sadl/WebSADL.html. Note that there are some know issues with the latest docker image but the one tagged 0.2.0-next.b2c251dd seems to work OK.

[2021-09-14 16:47] #779 closed, assigned to nobody

[2021-09-15 11:57] crapo opened #788 "WebSADL broken in current code base"
The latest version of WebSADL on https://hub.docker.com/ is not fully functional. In particular, running inference (as in the short exercise described in http://semanticapplicationdesignlanguage.github.io/sadl/WebSADL.html) does not work. Note that it does work using the docker image tagged 0.2.0-next.b2c251dd, from about a year ago. The error in the latest version is:
'''[Error - 7:54:08 AM] java

[2021-09-15 21:42] crapo opened #791 "User-defined data type translation to OWL"
### Discussed in https://github.com/SemanticApplicationDesignLanguage/sadl/discussions/789

<div type='discussions-op-text'>

<sup>Originally posted by **AbhaMoitra** September 15, 2021</sup>
@glguy brought this to my attention.

I am using a user-defined data type in SADL as follows
      Range is a type of float [0,1].
The OWL that is generated is as follows

  <rdfs:Datatype rdf:ID="Range">

[2021-09-16 01:04] crapo commented on #791
@AbhaMoitra ,  @glguy, this is fixed in PR #792 .

[2021-09-16 01:04] #791 closed, assigned to crapo

[2021-09-16 11:56] AbhaMoitra commented on #791
@crapo : thank you very much!

[2021-09-17 15:29] crapo opened #794 "Fix TDB persistence, consistency of use of SadlJenaModelGetter, SadJenaModelGetterPutter"
After discussions with @agabaldon and some investigation, it appears that 1) TDB persistence is somewhat broken, and 2) use of the classes SadlJenaModelGetter and SadlJenaModelGetterPutter is inconsistent. Some of this probably stems from moving to Jena 3, which had some changes in model writing/reading that also allowed for more serialization formats. The objective is for all persisting and retri

[2021-09-21 12:29] crapo commented on #794
@agabaldon , I have started this refactoring and pushed progress to-date to branch GH-794. I've set up the Java Interface classes, the classes for getter/putter for Jena file-based, and am working on getter/putter for TDB. I have not yet deleted the old getter/putter classes and haven't worked on external OWL files yet. Feel free to take a look and comment.

[2021-09-21 14:09] agabaldon opened #796 "Long build time"
This is not really an issue per se, but with the addition of 'product', building SADL takes very long. Could we use "profiles" as described here: https://stackoverflow.com/questions/8304110/skip-a-submodule-during-a-maven-build to skip product when it's not a CI build? Maybe other modules can also be skipped when doing development, e.g. server?

[2021-09-21 16:06] tuxji commented on #796
I read your linked article and it seems profiles have a drawback: when you want to run Maven plugins such as maven-release-plugin on all submodules, someone said that maven-release-plugin doesn't update the version string of submodules that are hidden behind a profile switch, resulting in sub-modules with different version strings than the rest of the project.  Still, skipping `product` would inde

[2021-09-21 21:07] agabaldon commented on #796
That's too bad. It looked like a simple solution but it seems that even after the years since that post, profiles are still risky (https://maven.apache.org/guides/introduction/introduction-to-profiles.html#profile-pitfalls). The alias approach works for me. Thanks!

[2021-09-21 21:15] agabaldon commented on #796
On my laptop (mvn install -Dtycho.localArtifacts=ignore -Dmaven.test.skip):
[INFO] com.ge.research.sadl.product ....................... SUCCESS [10:51 min]
...
[INFO] Total time:  17:51 min

Maybe I have some other additional problem in my setup or just a slow laptop.

[2021-09-22 12:56] tuxji commented on #796
I have a big and heavy laptop.  My laptop was faster than GitHub's CI runner, but GitHub's CI runner still took only a few minutes in its build SADL step:

[code]

Yeah, your laptop looks like it's unusually slow.

[2021-09-23 20:38] crapo commented on #794
@agabaldon , I have removed all references to the old getter/putter classes, but have not deleted them. I've updated all use of gettter/putter classes to use the new ones. All tests pass, but I'm not sure what isn't tested. I consider this refactoring complete and will now work on documenting the approach and on testing.

[2021-09-24 13:49] crapo commented on #794
@agabaldon , I renamed SadlSerializationFormat class to SadlPersistenceFormat, since triple stores aren't serialization. Moved to persistence package.

[2021-09-24 14:57] crapo commented on #794
@agabaldon , documentation has been added to Developer Resources, see [http://semanticapplicationdesignlanguage.github.io/sadl/developer/ModelPersistence.html](http://semanticapplicationdesignlanguage.github.io/sadl/developer/ModelPersistence.html).

[2021-09-27 09:52] NAVEENKUMARSKPN opened #797 "SadlToOwl"
Hi Team,
In Knowledge as a service is there a service to translate sadl to owl

Thanks

[2021-09-27 14:02] crapo commented on #797
@NAVEENKUMARSKPN , there are headless versions of SADL that will convert SADL files to OWL files. Since the processing of a SADL model to generate an equivalent OWL model uses the parse tree generated by Xtext and ANTLR, it does not run outside of an environment that includes this functionality.

[2021-09-27 19:49] agabaldon opened #798 "individualToSadl with external models"
I noticed that when OwlToSadl.individualToSadl is called with the URI of an instance defined in an external model (imported owl file), it returns null. But if the instance is defined in an imported sadl model, it does return the instance. How can we modify individualToSadl to return instances from an external model?

[2021-09-27 21:17] agabaldon commented on #794
Great! I'll trying using the new classes.

[2021-09-28 15:27] agabaldon commented on #794
@crapo, SadlJenaModelGetterPutter has been replaced by SadlJenaFileGetterPutter, correct?
What is the "format" string argument one should pass to the SadlJenaFileGetterPutter constructor? For example, in replacing the line:
  spec.setImportModelGetter(new SadlJenaModelGetterPutter(spec, getOwlModelsFolder()));
by
  spec.setImportModelGetter(new SadlJenaFileGetterPutter(getConfigurationManager(), ?

[2021-09-28 20:25] agabaldon commented on #794
The method
  public OntModel getOntModel(String publicUri, String serializedGraph, Scope scope, String format)
in ConfigurationMangaerforIDE is no longer there. It is called by the TextProcessor in ASKE. What should be used instead?

[2021-09-29 14:38] crapo commented on #794
@agabaldon , I think that it would be helpful to look at the code changes in SADL when considering how to update ASKE. The ConfigurationManager has new methods getSadlModelGetter and getSadlModelGetterPutter that can be called to create the appropriate getter/putter instances. These only take format as argument, where format is the string from the preference setting, which should also be one of th

[2021-09-29 21:38] crapo commented on #798
@agabaldon , can you provide a minimal use case? Is this call from ASKE or CsvImporter?

[2021-09-30 00:48] agabaldon commented on #798
It came from a "What is [instance]?" query in ASKE. When [instance] is defined in a SADL file, we get an answer. But if [instance] is defined in an external model, we get null. There wasn't anything special about the SADL file and the external model I used, so you can probably reproduce it with any ones, but I'll make a minimal use case.

[2021-09-30 12:49] crapo commented on #798
@agabaldon , I switched to SADL development and ASKE master branches. Using the project ASKE_P2 (as I have it, no idea how current it is), I created this dialog:
![image](https://user-images.githubusercontent.com/1186278/135457691-5c22923d-e736-40b3-af06-36dad15d61a5.png)
This appears to not have the fix pushed a while back to not treat "CM:" statements as declarations, but beyond that it clearly

[2021-09-30 16:08] agabaldon commented on #798
Right. The problem is something else. The owl file I used has instances defined by statements like:
`<MYClass rdf:about="http://semtk.research.ge.com/generated#bb5275db-a56e-40c8-b814-112f3f08090d">
...
</MYClass>`

and I was querying "What is bb5275db-a56e-40c8-b814-112f3f08090d?' and of course the query was translated using the the base model prefix and the instance is not found.

Is there a way

[2021-09-30 16:22] crapo commented on #798
Doesn't the OWL model that has the statement
'''
`<MYClass rdf:about="http://semtk.research.ge.com/generated#bb5275db-a56e-40c8-b814-112f3f08090d"> ... </MYClass>`
'''
define prefixes for the namespaces used within it? I would expect, if it were in RDF/XML format something like...
'''
<rdf:RDF
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:owl="http://www.w3.org/2002/07/owl#

[2021-09-30 16:28] crapo commented on #798
A URI in the SADL grammar is a quoted string, which is validated not by the grammar but by validation code. To allow a URI to be directly used everywhere that a SadlResource is allowed would be a major complication to the grammar. It would be more feasible to add a new SADL statement type that allowed additional prefixes to be defined other than those associated with model base URIs as identified

[2021-09-30 17:58] agabaldon commented on #798
I tried adding the line  xmlns:generated="http://semtk.research.ge.com/generated#" to the owl file but SADL doesn't recognize generated:bb5275db-a56e-40c8-b814-112f3f08090d

[2021-09-30 18:44] agabaldon commented on #798
"SADL has a somewhat pervasive assumption that a single OWL model (file) has a single namespace for concepts defined within it."  This assumption makes sense. The only case I think you'd want to violate it is if you wanted to split instance definitions into multiple graphs/owl files. But in that case I imagine the imports would include all the necessary namespace prefixes. It doesn't make sense to

[2021-09-30 20:26] crapo commented on #798
I didn't expect that adding that prefix definition by itself would work, but it's possible that it could be made to work. If I understand correctly, there is enough information in the OWL file to know that bb5275db-a56e-40c8-b814-112f3f08090d is an instance of class MyClass, using your statement above. I have encountered other OWL files where definitions in multiple namespaces were included in a s

[2021-10-04 09:04] NAVEENKUMARSKPN opened #804 "SADL build issue"
Hi Team ,

I was trying to build sadl code into my new workspace..while trying to execute SADL mvn clean install.launch it was throwing error while building com.ge.research.sadl.ide

I am sharing the exception

Eclipse - 2020-09 (4.17.0)
Maven  - 3.8,3
Java - 11
OS - Windows server 2012 R2

Please help me on this Thanks!!

[2021-10-04 11:32] NAVEENKUMARSKPN commented on #804
I got http://semanticapplicationdesignlanguage.github.io/sadl/developer/Sadl3BuildInstructions.html this docs .... And now its builded successfully

Thanks !!

[2021-10-04 11:32] #804 closed, assigned to nobody

[2021-10-04 21:10] tuxji commented on #804
Good.  The key is to run "mvn clean" and "mvn install" separately, not on the same command line.

[2021-10-05 14:28] crapo opened #805 "Differentiate variable declarations from variable references in rules, queries."
This suggestion is from @AbhaMoitra . Making variable declarations and references a different color or font would make it easier to detect typos that inadvertently create new variables and cause rules, queries to not behave as expected.

[2021-10-05 14:29] crapo opened #806 "Explanation of higher-stage staged rules doesn't work."
Reported by @AbhaMoitra .

[2021-10-05 16:29] crapo commented on #806
@AbhaMoitra , might need a little help with this as I'm not seeing what I expected. Running this model
'''
Thingy is a top-level class.
Color is a top-level class, must be one of {Black, White, Green}.
dp describes Thingy has values of type float.
op describes Thingy has values of type Color.

Stage 1 Rule StageOneRule
	given
		x is a Thingy
	if
		dp of x > 2
	then
		op of x is Black.

Stage 2 Rul

[2021-10-05 17:43] AbhaMoitra commented on #806
I’ll need to prune my model while still retaining the issue and then “simplify” it and then I’ll post it on GIT.

BTW the 3rd thing I had mentioned (no error but no rule generated), I have not been able to recreate. I did not capture the noValue construct I had used so lets forget about it until I observe it again.

From: Andrew Crapo ***@***.***>
Sent: Tuesday, October 5, 2021 12:30 PM
To: Semant

[2021-10-05 17:56] crapo commented on #805
@AbhaMoitra , I've created a PR for this so as soon as it is merged and you get an update you should have this functionality.

[2021-10-05 18:17] AbhaMoitra commented on #806
@crapo here is a small snippet (2 files) that shows the issue - see the comments in the code.

TestExplain.sadl is as follows
uri "http://sadl.org/TestExplain.sadl".

import "http://www.w3.org/1999/02/22-rdf-syntax-ns".

Temp is a class.
Temp2 is a class.

// If I keep rule Transitive2 then I do not get an explanation of rule Test;
// but if I comment out rule Transitive2 then I get an explanation

[2021-10-07 00:27] crapo commented on #806
@AbhaMoitra , I created the two models in a new project, copying the content from your comment above. When I run "Test Model" I get the following:
'''
Inference of '/home/camfe/andy/ws/sadl/runtime-EclipseApplication2/GH-806/TestExplain.sadl' requested.
Reasoner family: Jena-Based (com.ge.research.sadl.jena.reasoner.JenaReasonerPlugin), version date 12 April 2021.
  Explanation of Rule Test:
    R

[2021-10-07 00:29] crapo commented on #806
@AbhaMoitra , just for fun, I added the statement "InstOfTemp is a Temp." Then ran Test Model. Got this as I expected:
'''
Inference of '/home/camfe/andy/ws/sadl/runtime-EclipseApplication2/GH-806/TestExplain.sadl' requested.
Reasoner family: Jena-Based (com.ge.research.sadl.jena.reasoner.JenaReasonerPlugin), version date 12 April 2021.
  Explanation of Rule Test:
    Rule Test: Premise 1 of 1:

[2021-10-07 17:30] crapo opened #808 "Problems with initializeReasoner(Object kbase, String modelName, String rules, ...)"
JenaReasonerPlugin's initializeReasoner(Object kbase, String modelName, String rules, List<ConfigurationItem> preferences) does not work properly when the in-memory OntModel passed in SADL models that have rules. The extension JenaAugmentedReasonerPlug has the same problem plus the additional problem that any rules passed into this initializeReasoner will not be handled properly with staged rules.

[2021-10-07 18:40] crapo commented on #808
@agabaldon , I have implemented the 3rd option from our emails. Method initializeReasoner(Object kbase, ...), where kbase is an OntModel, will stash both a preloaded model and any preloaded rules (which must be stage 0). So the normal process should be followed. Just call initializeReasoner(yourOntModel, ...) and then use the reasoner. You should not have to worry about any loading of imports or r

[2021-10-09 00:16] crapo commented on #808
@agabaldon , I have fixed JenaAugmentedReasonerPlug.getInferredModel(true) to return aggregated deductions. Pushed to branch GH-808. In order to get deductions with staged rules, the configuration for derivations must be enabled. You can pass that configuration setting into JenaAugmentedReasonerPlugin.initializeReasoner(bject kbase, String modelName, String rules, List<ConfigurationItem> preferenc

[2021-10-09 00:36] crapo commented on #808
I also added documentation of how to do this to the Default Values and Staged Rules documentation.

[2021-10-28 06:57] AnjaliSankaran opened #813 "Issue in web UI [theia-sadl-extension]"
Hi Team,

Issue in web UI

In eclipse UI owl files are getting created when we save the sadl file, but when I am trying form web based[theia-sadl-extension] UI owl file are not generating.
I am running this project in windows.
It will be great if helping in fixing this.

Thanks

[2021-10-28 13:56] crapo commented on #813
@AnjaliSankaran , I'm afraid WebSADL has fallen into some disrepair, see #788 . If you run the docker version "0.2.0-next.b2c251dd" you will at least have the OWL files generated. @tuxji , @agabaldon , @AbhaMoitra , is there any GE effort to maintain WebSADL in a functional state?

[2021-10-28 13:59] AbhaMoitra commented on #813
I am currently not using WebSADL on any projects. In fact I had tried out WebSADL some time back but have not used it on any project.

[2021-10-28 15:39] tuxji commented on #813
@crapo , I'm not using WebSADL either even though I've merged dependabot bumps and fixed problems building WebSADL with GitHub Actions (that's why I didn't know that it wasn't working fully anymore).  I've been working on a [SADL-Eclipse](https://github.com/SemanticApplicationDesignLanguage/sadl/tree/development/sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.product) Docker image.  The pur

[2021-10-29 20:17] agabaldon commented on #808
I finally got to try these changes and I'm getting an error caused by the repoType not getting set before invoking getInferredModel. I guess that initializeReasoner should set repoType (the version  initializeReasoner(String folderName, String _modelName, List<ConfigurationItem> _preferences, String _repoType) of initializeReasoner sets repoType, but initializeReasoner(Object kbase, String modelNa

[2021-10-29 21:38] crapo commented on #808
@agabaldon , initializeReasoner(Object kbase, ...) gets a format from the ConfigurationManager's ISadlJenaModelGetter. If repoType is null it is set to this format, so I guess if the ISadlJenaModelGetter has a null format then repoType will be null. I don't think this happens in SADL. IReasoner method initializeReasoner(Object kbase, ....) could certainly have a repoType argument. Do you want me t

[2021-10-29 22:19] agabaldon commented on #808
Oh, I'm in a branch that merges GH-794 and GH-808 and in GH-794 the code where you get the format from the ConfigurationManager is commented out. I don't know what it is commented out, but I add it back and try that.

[2021-10-29 23:52] agabaldon commented on #808
Ok, so that block of code is commented out because it is incompatible with the new GetterPutter interface.

[2021-11-01 12:41] crapo commented on #808
@agabaldon , I've kind of lost track. Neither the branch for #794 nor the branch for #810 have been merged with development I think. Isn't this as simple as adding repoType as an argument to initializeReasoner(Object kbase, ...)? I can do that if you like.

[2021-11-01 17:56] agabaldon commented on #808
#810 has been merged. #808 and #794 haven't. I'll merge #794 into #808 and push it. The block of code that was commented out (on branch #794) used to get the repoType from the ConfigurationManager. I think the question now is: should a compatible version of that block of code be added back to initializeReasoner(Object kbase, ...)?

[2021-11-01 18:14] crapo commented on #808
No, I think not. I think it would be better to pass repoType as an added argument to the method, as I stated above.

[2021-11-01 19:01] agabaldon commented on #808
I added the argument and pushed the change to GH-808. Also fixed a bug where stage0Rules were not being loaded in getReasonerOnlyWhenNeeded()

[2021-11-01 19:08] agabaldon commented on #808
Well, I shouldn't have done that. There are now errors in OwlToSadl and JenaBasedSadlInferenceProcessor. Not sure how to get the repoType before the calls to initializeReasoner are made there.

[2021-11-01 20:11] agabaldon commented on #808
Ok, I fixed the errors and now it builds. But there are test errors, not sure if caused by these changes or earlier ones.

[2021-11-02 12:26] crapo commented on #808
@agabaldon , I'm about to take a look. Checking out GH-808 will give me the latest of everything, right?

[2021-11-02 12:32] crapo commented on #808
@agabaldon , I see more than test failures. Looks like incompatibilities in code from merging.

[2021-11-02 13:16] crapo commented on #808
@agabaldon , it looks to me like the issue in the failing test OwlToSadlTest.test06 is that we've removed the default repoType. But it doesn't seem that we should really need one as we already have the loaded OntModel that we're trying to translate to SADL. I'm going to pursue this line of thinking....

[2021-11-02 14:10] agabaldon commented on #808
Great! Yes, GH-808 has the latest.

[2021-11-02 14:21] crapo commented on #808
@agabaldon , just pushed a small fix, all tests now pass. Not entirely sure this is the best way ultimately--providing a default format. but it is very simple and solves the immediate problem. However its done, this test case has no associated project with other imported OWL models, so the format is really not representative of anything. The real test will be in actual projects that have a repoTyp

[2021-11-18 00:38] glguy opened #818 "Failures in Xtext validation step"
I'm regularly getting Xtext validation failures with backtraces that look like the quoted thing below. I know there's a lot of duplication in this paste, but I'm pasting it as I got it to avoid introducing any mistakes by editing it.

I get this error with version 3.5.0 released in August on macOS 12, Eclipse 2021-09. I'll be happy to add any additional system details that might be relevant.

[cod

[2021-11-18 13:35] crapo commented on #818
@glguy , useful information would include the following:

1. The last line says build process completed for 1 project. Were you building one project only or is this a premature end of build?
2. Do you know what project was being built? Upon what project(s) does this project depend? What is the folder structure of the two projects on disk relative to workspace location?
3. The big picture is that t

[2021-11-18 14:51] crapo opened #819 "Inefficiency in DeclarationExtensions.getOntConceptType?"
Not sure I have understood this correctly, but while investigating unexpectedly slow model processing I think I observe that when getOntConceptType in DeclarationExtensions is called with a SadlResource in a class definition a lot of redundant computing can occur.

Consider this case. a model states "Element as a type of ENTITY.", where ENTITY is defined in a different model (in a different projec

[2021-11-18 17:21] glguy commented on #818
@crapo

I get this error whether I'm clean building one or all of the projects, or if I'm just editing the file and saving changes.

The project I'm trying to build is http://github.com/ge-high-assurance/RACK , but while I'm getting these errors, other members of the team are not. I can build some other projects in the repository, but I can't build the Boeing-Ontology without an error. The error i

[2021-11-19 14:42] crapo commented on #818
@glguy , the top of the stack trace suggests that the error is due to some corruption of the ...OwlModels/ont-policy.rdf file (mapping file) for that project. However, I was thinking that this was caused by and the actual problem was the stack overflow, but maybe it's the other way around. Maybe the read exception causes the cyclic nature of the repeating calls leading to the stack overflow. What

[2021-11-19 15:50] glguy commented on #818
@crapo I was able to restore my ability to build the project by deleting the .settings for that directory that were local to my machine.

[2021-11-19 15:51] crapo commented on #818
Great! Can this be closed now?

[2021-11-19 16:17] #818 closed, assigned to nobody

[2021-11-22 16:39] tuxji commented on #819
@crapo , Xtend is a statically-typed programming language which translates to Java source code. Syntactically and semantically Xtend takes its root from the Java programming language with some improvements to make its syntax easier.  I haven't read the Xtend reference, but I could look at an Xtend method and understand its Java-like code well enough to make a simple change.  If the change wasn't s

[2021-11-22 17:09] crapo commented on #819
@tuxji , yes, the issue is in DeclarationExtensions.xtend. I've modified this and a lot of other xtend code and have some familiarity with Xtend. The problem, specifically, is that I think a reasonable approach is to cache the type with SadlResource as key, but to do that I need to intercept the returned value from the method getOntConceptType to add it to the cache. The switch statement starting

[2021-11-22 20:39] crapo commented on #819
@tuxji , actually, I probably do know how to do what I want to do. Don't worry about spending any time on this.

[2021-11-23 13:53] crapo commented on #819
@tuxji , the cache appears to significantly improve performance. I haven't pushed it yet, still exploring error collection. I wanted to run on a single project but it appears that getArguments (in SADLCli) has been modified so that any "-cleanBuild" or "-build" args will result in a fatal error as the next argument, the project name, causes an exception to be thrown. Do you only plan to support "-

[2021-11-23 14:43] tuxji commented on #819
If you want to build only one project, you can import only that one project (assuming you're using an empty workspace).  Our use case is that SADLCli will be running inside a Docker image with an empty workspace.  The workspace will be empty every time you start the Docker container, so you always need an "-import" arg followed by an individual project or an "-importAll" arg followed by a director

[2021-11-23 14:59] crapo commented on #819
@tuxji , I just wanted a faster processing to get to the error accumulation. I don't question your use case. Thanks!

[2021-11-23 23:07] crapo commented on #819
@tuxji , I haven't had any success getting the errors after the XtextBuilder.build returns. I'm starting to despair of finding a way to do that. I'm also wondering if it wouldn't be useful to have the errors and warnings come out earlier in the process. One approach would be to collect the ValidationAcceptors used during model processing and then retrieve them after the build completes and get the

[2021-11-24 00:20] tuxji commented on #819
Does the PrintProgressMonitor interface have an API for accumulating errors, are you talking about calling instanceof on the monitor and casting it to a specific implementation class, or are you simply talking about buffering any output printed, getting the output later, and displaying that output as errors and warnings?  I would think if the PrintPogressMonitor doesn't have an error accumulation

[2021-11-24 15:05] crapo commented on #819
@tuxji , I've pushed the caching in DeclarationExtensions. This is not ready to be merged into development. While this should be safe for use by SADLCli where presumably nothing is changing in the .sadl files, there may be situations in the IDE, when editing, when the cache will be invalid and should be cleared. This still needs to be investigated.

I'm thinking that we wouldn't accumulate errors,

[2021-11-24 19:23] AbhaMoitra opened #820 "Error with particular ordering of declarations"
I am using SADL Feature dated 05/10/2021 and I am seeing an error "Unexpected error checking value in range" for particular ordering of the declarations. Having the declaration prior to using it gives the error but the error goes away if the declaration is moved below the usage (which seems counter-intuitive to me). Note that a list is involved. Also, the Test.sadl file mimics what is coming from

[2021-11-24 21:59] crapo commented on #820
@AbhaMoitra , I believe that the particular error you describe has been fixed for some time. In current versions of the IDE you will get the same warning on the declaration of instance X1 whether it is at lilne 10 or at line 22. The warning will read,

"Multiple markers at this line
- Left class of intersection is a subclass of right class of intersection--using left class
- Right class of interse

[2021-11-28 21:18] AbhaMoitra commented on #820
@crapo : Thank you. I updated my eclipse and SADL so that I am using eclipse 2021-09 and SADL 3.5.0 build of 20210831 (the latest). I have set "Type checking issues as warning only".

If I comment out lines 10-12 but keep lines 22-24 then I have 5 warnings but no errors. 4 of the warnings are about "Cycle encountered" and 1 warning on line 15 is "Type comparison not possible...".

If I keep lines

[2021-11-29 16:15] crapo commented on #820
@tuxji , @agabaldon , what is our release strategy? @AbhaMoitra was working with a version from 5/10/21 and even with an update of 8/31/21 has pretty different editor markers than the current development branch. Some 7 issues have been closed since 8/31, and there are other issues that are still open but may have been resolved. Is there a need for more process around verification and closing of is

[2021-11-29 16:32] crapo commented on #820
@AbhaMoitra , the fix to this bug was checked in with [commit](https://github.com/SemanticApplicationDesignLanguage/sadl/commit/1f5f38a3edc4cb8e4a19f6c7925a4ab3b33dafbf#diff-36f400413ca96725bf7cc26724075e344a7a38312229a1059ebfd4229bf76e4f) on Oct 18. With your example using the current development branch, and after commenting out lines 10-12 and uncommenting lines 22-24, there are two warnings at

[2021-11-29 16:33] tuxji commented on #820
@crapo , I would appreciate your suggestion regarding SADL's release strategy.  I don't think any of us has a release strategy.

[2021-11-29 16:51] crapo commented on #820
@tuxji , I don't pretend to have a good answer. I doubt that any of us has the resources to "do it right." I would loosely characterize the strategy of the past as do beta releases often and alpha releases with a bit more verification less often. From a user's perspective, correct me @AbhaMoitra or @agabaldon  if you disagree, the strategy was to create a new release, either a beta release on gith

[2021-11-29 17:47] AbhaMoitra commented on #820
@crapo @tuxji @agabaldon : What Andy proposes sounds fine to me. Very often when I put in an issue, it is something that is blocking me and whenever that gets fixed in say an "unofficial release in a shared folder", I then to try it out and provide my feedback. Often the illustrative example I post is simplified from my actual project, so my testing of the fix may provide additional evidence.

[2021-11-29 23:03] crapo commented on #820
I used the term beta release, but I should have used the GitHub term pre-release. One can mark a release on GitHub with the flag pre-release.

[2021-11-30 01:46] tuxji commented on #820
OK, so we ought to do pre-releases whenever we fix a significant problem for a user and stable releases less often with more verification?  Let's do that, although the most difficult part will be writing release notes or changelogs since I don't know very well everything that's changed between SADL releases (especially from a user's viewpoint, not a developer's viewpoint).  Are you willing to make

[2021-11-30 07:19] kquick opened #823 "Possible invalid `owl:oneOf` output"
Given the following SADL input:
*  https://github.com/ge-high-assurance/RACK/blob/0b30cc8878485d2e902eee2021de993544e50562/RACK-Ontology/ontology/AGENTS.sadl#L26-L31
* https://github.com/ge-high-assurance/RACK/blob/182d0483a73cdc221c692c71e0d4e64f92f5079a/RACK-Ontology/ontology/SOFTWARE.sadl#L61

The output specifies:
* https://github.com/ge-high-assurance/RACK/blob/182d0483a73cdc221c692c71e0d4e64

[2021-11-30 19:24] crapo commented on #820
With respect to the List type checking bug, this should now be resolved.

@tuxji , I would be happy to write release/pre-release notes. I think it best if you create the release/pre-release after a significant merge. I will only create PRs, not push to development. One low-cost approach to releases is to turn a pre-release into a release after it has been used by at least some users for a while wi

[2021-11-30 21:06] tuxji commented on #820
@crapo I've made a pre-release ([SADL 3.5.0 build 20211130](https://github.com/SemanticApplicationDesignLanguage/sadl/releases/tag/v3.5.0-20211130)).  Will you please add some release notes mentioning any important [changes](https://github.com/SemanticApplicationDesignLanguage/sadl/compare/v3.5.0-20210831...v3.5.0-20211130) between the last release and this pre-release from a user's viewpoint?

[2021-12-01 14:04] crapo commented on #823
@kquick , this is a gap in validation and the statement should generate an error since, as you say, "one of" should only allow instances of classes.

The correct way to say what was presumably intended is:

`sw:performedBy of PACKAGE only has values of type {Ag:PERSON or Ag:ORGANIZATION}.`

which yields the OWL class definition:

    <rdfs:subClassOf>
      <owl:Restriction>
        <owl:allValues

[2021-12-01 20:17] crapo commented on #820
@tuxji , I've added release notes. The change list was very helpful! Not sure how you generated it, but thanks! @AbhaMoitra , I assume that this issue can now be closed once you've verified that you have the desired behavior for your use case.

[2021-12-01 21:12] tuxji commented on #820
Thanks, @crapo!  I simply went to the pre-release page ([SADL v3.5.0 build 20211130](https://github.com/SemanticApplicationDesignLanguage/sadl/releases/tag/v3.5.0-20211130)), clicked the "Compare" button on the right side of the release's title, and picked the previous release's tag to compare against.  Then I gave you that new page's URL.

I assume this issue can be closed too, but Abha opened it

[2021-12-01 21:17] AbhaMoitra commented on #820
@crapo @tuxji : I tried it out and the issue has been corrected. Thank you.

[2021-12-01 21:17] #820 closed, assigned to crapo

[2021-12-03 20:20] crapo opened #828 "Creation of instances without a known class membership"
This SADL model

Person is a class.
gender of Person must be one of {Male, Female}.

creates RDF Resources Male, Female that are not known to be of any identifiable type, nor is gender of a known type.

    <rdfs:subClassOf>
      <owl:Restriction>
        <owl:someValuesFrom>
          <owl:Class>
            <owl:oneOf rdf:parseType="Collection">
              <rdf:Description rdf:ID="Male"/>

[2021-12-03 20:36] crapo commented on #828
JBSMP line 10327: if values are SadlResources and the property is an RDF_PROPERTY, we could determine it to be an ObjectProperty, but Xtext would not know of its type so probably better to say the property is undefined and mark an error.
JBSMP line 10328: the call to sadlExplicitValuesToEnumeratedClass calls sadlExplicitValueToRdfNode, creating a rdf:Resource without a type. Probably should also b

[2021-12-06 20:17] tuxji commented on #819
Resolved in PR #827

[2021-12-06 20:17] #819 closed, assigned to nobody

[2021-12-08 15:42] crapo commented on #823
The PR for this issue has been merged. Closing issue.

[2021-12-08 15:42] #823 closed, assigned to crapo

[2021-12-08 15:46] crapo commented on #808
@agabaldon , is this issue resolved? If so, can we close it?

[2021-12-08 15:52] crapo commented on #806
@AbhaMoitra , I think I haven't been able to reproduce this error. Do you still see the issue with your updated version?

[2021-12-08 15:54] crapo commented on #805
This has been merged into development and appears to be working as expected.

[2021-12-08 15:54] #805 closed, assigned to crapo

[2021-12-08 15:58] crapo commented on #798
@agabaldon , this is from my perspective waiting for you to share the OWL file, if you can do so, so that I can explore whether this might be made to work for imported external OWL models, even though it appears irresolvable for importing OWL files into SADL models. WRT the latter, we could take the approach of creating multiple SADL files from a single OWL file import, which might be a solution t

[2021-12-08 15:59] crapo commented on #797
@NAVEENKUMARSKPN , can this be closed or is there some action to be taken?

[2021-12-08 16:01] crapo commented on #796
@agabaldon , @tuxji , is there some follow-up for this issue? I'm trying to see which issues need action to resolve....

[2021-12-08 16:02] crapo commented on #794
@agabaldon , can this issue be closed? If not, what action can be taken?

[2021-12-08 16:09] crapo commented on #785
This has been documented (the refactored approach using ISadlJenaModelGetter, etc., in developer/ModelPersistence.html.

[2021-12-08 16:09] #785 closed, assigned to crapo

[2021-12-08 16:11] crapo commented on #729
I think this issue can be closed, do you agree @tuxji ?

[2021-12-08 16:12] tuxji commented on #729
Yes, I agree and I will close this issue.

[2021-12-08 16:12] #729 closed, assigned to nobody

[2021-12-08 16:14] crapo commented on #706
@NAVEENKUMARSKPN , I'm trying to clean up old issues. Can you please take a look at this and let me know if there is something that you think could/should be done to address what you wish to accomplish?

[2021-12-08 16:17] crapo commented on #661
@agabaldon , is there still an issue here to be addressed?

[2021-12-08 16:22] crapo commented on #649
@agabaldon , I think that this issue is long since resolved. Do you believe otherwise?

[2021-12-08 16:23] crapo commented on #648
@agabaldon , I have not seen this or been able to reproduce. Is this still an issue?

[2021-12-08 16:28] crapo commented on #646
@tuxji , @agabaldon , I believe this should be closed as none of the issues remain. Do you agree?

[2021-12-08 16:30] tuxji commented on #646
I agree, closing now.

[2021-12-08 16:30] #646 closed, assigned to nobody

[2021-12-08 16:30] AbhaMoitra commented on #646
@tuxji @crapo @agabaldon : I agree that it can be closed.

[2021-12-08 16:32] AbhaMoitra commented on #806
@crapo : I will need to verify. Right now I am running into some issues with the SADL update of 11/30/2021 on one of my projects. I need to sort that out first.

[2021-12-16 16:27] crapo opened #837 "Error validating value of user-defined datatype which is a union of dateTime and duration"
Model:
When is a type of {dateTime or duration}.

Instance data:
...with when "12/15/2021"...

creates error but should not.

[2021-12-16 17:28] crapo commented on #837
Problem is that the string needs to be reformated to a valid XSD value for the type dateTime. If that is done then the rest follows.
How to decide? Iterate through union until something works?

[2021-12-17 13:56] #837 closed, assigned to crapo

[2021-12-17 15:11] crapo commented on #828
Created test case in TestSadl3Ide/Sandbox/GH828.sadl.

[2021-12-17 17:13] crapo opened #840 "Error in SadlUtils.classIsSubclassOf"
Model:

[code]

has warning on last statement, "committer, an object property with range  http://sadl.org/classIsSubclassOfBug.sadl#LegalEntity, cannot be compared (is) with China, an instance of type  http://sadl.org/classIsSubclassOfBug.sadl#Nation.".
Since Nation is a subclass of GeoPoliticalEntity and GeoPoliticalEntity is a subclass of the intersection of LegalEntity and Location, an instance

[2022-01-05 16:58] crapo commented on #828
This is fixed in PR #850.

[2022-01-05 17:05] crapo commented on #605
@BenHocking , is this still an issue? If not, can this please be closed. Thanks.

[2022-01-05 19:46] #828 closed, assigned to nobody

[2022-01-06 18:30] AbhaMoitra opened #851 "Issue in translation to OWL"
I am using SADL version 3.5.0.202111302056 and in the case when in a SADL file you have
      prop1: domain1 -> range1
      prop1: domain2 -> range2

The SADL properties have unchecked "Translate multiple-class domain or range as union class (owl:unionOf)"  then the OWL file has the following

  <owl:ObjectProperty rdf:ID="prop1">
    <rdfs:range rdf:resource="#range1"/>
    <rdfs:domain rdf:reso

[2022-01-06 19:32] crapo commented on #851
@AbhaMoitra , I'm unaware of any expressivity in OWL that would allow you to "pair up" subclasses of the domain class with subclasses of the range class, whether expressed as a single domain union class and single range union class or not.

If you want to do this you need to use property restrictions, e.g.,

prop1 of domain1 only has values of type range1.
prop1 of domain2 only has values of type

[2022-01-06 21:57] crapo commented on #773
Finally fixed this bug, documented for developers how SADL scoping works.

[2022-01-06 21:57] #773 closed, assigned to crapo

[2022-01-07 14:53] AbhaMoitra commented on #851
@crapo: thank you. I used the property restriction and then all the information was available in the OWL file.

[2022-01-07 14:53] #851 closed, assigned to crapo

[2022-01-07 19:57] agabaldon commented on #648
No, I think that was fixed/gone away. Closing...

[2022-01-07 19:57] #648 closed, assigned to nobody

[2022-01-07 19:59] agabaldon commented on #649
Haven't seen that in a while, closing..

[2022-01-07 19:59] #649 closed, assigned to nobody

[2022-01-07 20:13] agabaldon commented on #661
No. But a comment: the usual interpretation of a default is that the variable/predicate has the default value until at any point/level any other statement/rule explicitly assigns a different value. So, since I find it hard to remember what default means in SADL, I decided not to use defaults and only use staged rules, whose meaning is easier to remember for me.
So, closing this...

[2022-01-07 20:14] #661 closed, assigned to nobody

[2022-01-07 21:13] crapo commented on #661
@agabaldon , is SADL's behavior significantly different from this? A default value is specified for a given property of any instance of a given class. The implementation of default value is a staged rule that assigns a value to that property of any instances of that class. After inference has done what it can, the default rules assign a value if one isn't already assigned and then inference is run

[2022-01-11 16:58] #796 closed, assigned to nobody

[2022-01-11 18:20] agabaldon commented on #661
Roughly, the normal understanding of defaults is that the default value is overridden by any rule that explicitly assigns a different value at any point of the inference process. In my original example above, intuitively val1 should only have value 1. Even if rule r1 were level n it would still defeat the default if the rule fires. I'm not saying that how inference is currently done is wrong, I'm

[2022-01-11 18:25] agabaldon commented on #808
I think this is resolved, but the GH-808 branch has not been merged into development. We need to make sure the merge doesn't break things.

[2022-01-11 18:29] agabaldon commented on #794
I think so, but like with GH-808, we need to make sure things don't break after merging into development.

[2022-01-11 19:15] agabaldon commented on #798
The file was from an internal project. I think we can close this for now or keep it as a "desired feature" for the future.

[2022-01-11 20:54] crapo commented on #798
@agabaldon , I'd like to keep it open. It would be nice to have a minimal case that reproduces the problem. Perhaps sometime you could generate such a use case?

[2022-01-11 20:57] agabaldon commented on #798
Yeah, sounds good.

[2022-01-14 17:30] crapo opened #858 "Error in Rule post-processing"
When there are multiple nested built-ins in a Rule then statements, the moving of them to the if statements has a bug that occurs because GraphPatternElements are removed from the list over which iteration is processing.

Example:
 Rule R1: then print("Multiple built-in args: ", 1 + 2, 3 + 4).

The print should stay in the then and the two adds be moved to the if in the generated rule.

[2022-01-14 19:48] crapo commented on #858
Fixed with PR #859

[2022-01-14 19:48] #858 closed, assigned to crapo

[2022-01-18 01:02] crapo commented on #518
@agabaldon , @AbhaMoitra, I've started implementing this for External equations referencing methods of any Java class on the class path. It's looking pretty good I think. I've hit a little bit of a snag for methods with VarArgs (variable number of arguments). The SADL code and documentation doesn't seem to be entirely consistent WRT the use of "..." and "--" as an argument or return type of an equ

[2022-01-19 12:55] crapo opened #863 "Improve wording of type check failure"
Currently a type check error is of the form `"<left side type info>, cannot be compared (<comparison type, e.g., 'is') with <right side type info>"`.
Would it be better to say `"<left side type info> isn't comparable (<comparison type, e.g., 'is') with <right side type info>"`?

[2022-01-21 18:19] AbhaMoitra commented on #518
@agabaldon : are we using these in GraSEN? Other than that, I am not aware of anyone else being dependent on how these special arguments are being used.

[2022-01-25 14:01] crapo commented on #518
@tuxji , I'm hoping that you can shed some light on what I hope is a soluble problem. I've got this integration working so that you can simply define a SADL External equation so that it identifies a Java package, class, and method and then directly invokes the specified method as a Jena rule built-in function. That gives direct access to any method on the class path that takes primitive datatypes

[2022-01-25 16:09] AbhaMoitra commented on #518
@crapo @tuxji : for a project we will be making calls to python models. Will this solution also help in that?

[2022-01-25 16:56] crapo commented on #518
@AbhaMoitra , I'm not really familiar with the interface between Java and Python, so I'm interested to hear what @tuxji thinks about this. My guess is it can be done, but with a separate special Jena built-in. The current one handles wrapping Java class methods that have int, long, float, double, boolean, and string inputs and outputs. This is ready to consider merging. The documentation is at [ht

[2022-01-25 17:01] agabaldon commented on #518
@AbhaMoitra: We're not using Equations in GraSEN, so not for that. I'm not clear what the use case is for this feature. Probably forgot about it.

[2022-01-25 17:14] AbhaMoitra commented on #518
@agabaldon : I was not thinking of GraSEN project. Anyway, I wanted to understand how generic the solution can be. But at this point this was simply a question which @crapo has answered above.

[2022-01-25 17:44] tuxji commented on #518
@crapo You will have to modify your goal to fit OSGi semantics better (Eclipse makes calls between its bundles using OSGi).  In short, OSGi doesn't support reflective calls using only a single string argument (e.g., you can't use only Class.forName(name) to do what you want to do).  What does work in and outside OSGi is to give your code a class object instead of a class name or give your code the

[2022-02-02 22:07] #808 closed, assigned to crapo

[2022-02-02 22:07] #794 closed, assigned to nobody

[2022-02-04 20:44] crapo opened #874 "SADL Query Language Limitation"
Given this model and queries, the first query works, the second does not. Processing of the second query is inadequate.

 Part is a class
          described by partID with values of type string
          described by processing with values of type Process.

 Process is a class
          described by temperature with values of type Temperature.

 Temperature is a type of UnittedQuantity.

 p1 is a

[2022-02-07 16:50] crapo commented on #874
@agabaldon , I believe this is fixed with PR #875. Added tests for your case and more complex one with longer property chain.

[2022-02-07 18:47] agabaldon commented on #874
Great! Will try it now. Thanks.

[2022-02-08 15:20] #874 closed, assigned to crapo

[2022-02-08 15:24] agabaldon opened #876 "Queries not working when using TDB."
Just using a minimal project with model

B is a class.
i1 is a B.

Ask: select x where x is a B.

Output:

Reasoner family: Jena-Based (com.ge.research.sadl.jena.reasoner.JenaReasonerPlugin), version date 12 April 2021.
Query: select x where rdf(x, rdf:type, test:B)
Inference result 1 is empty

[2022-02-08 17:36] crapo commented on #876
Confirmed results.

[2022-02-08 19:39] crapo commented on #876
This appears to be an issue with beginning and ending transactions. The begin transaction code is commented out, but maybe there's an isInTransaction method that can be used to make it more robust

[2022-02-09 16:05] crapo commented on #876
Actually,  getter/putter for TDB interactions were never completed after refactoring in #794 .

[2022-02-10 16:02] crapo opened #878 "Manual build required after changing OWL serialization preference."

[2022-02-10 16:03] crapo opened #879 "Change of Reasoner/Translator pair doesn't keep new translator on first try"

[2022-02-11 13:58] crapo opened #882 "Incorrect rule translation"
uri "http://www.w3.org/2000/01/rdf-schema" alias rdfs.

^type is a property.

rdfs:domain is a property.

rdfs:range is a property.

rdfs:subClassOf is a property.

rdfs:subPropertyOf is a property.

rdfs:subTypeOf is a property.

rdfs:onProperty is a property.

rdfs:allValuesFrom is a property.

rdfs:onClass is a property.

uri "http://kdl.ge.com/Test.sadl" alias test.

import "http://www.w3.org/

[2022-02-11 17:50] #882 closed, assigned to crapo

[2022-02-15 14:19] crapo commented on #876
@agabaldon , I believe this is fixed with PR #880. Please close when you are satisfied.

[2022-02-15 15:06] #876 closed, assigned to nobody

[2022-03-11 11:04] amarbanerjee23 opened #900 "Enabling external datasources"
Currently, SADL only supports jena/semTK data store. Is is possible to plug-in external sources like graphdb/stardog and import ontologies in SADL project?

[2022-03-11 17:03] crapo commented on #900
OWL files in standard formats can be imported into any SADL project, see [Importing Files into SADL](http://semanticapplicationdesignlanguage.github.io/sadl/ImportFilesToSadl.html). To have an external triple store other than those currently supported act as the repository into which generated OWL files are inserted and needed OWL files are pulled would require additional development work, see [Co

[2022-03-14 05:12] amarbanerjee23 commented on #900
Thanks a lot Andrew. This helps a lot. Any idea if any demo implementation is available in the codebase?

Cheers,
Amar

[2022-03-14 15:02] crapo commented on #900
The Jena TDB and the SemTK getter/setters both provide examples of extending the base classes to support an external repository. @agabaldon  has implemented the SemTK connections.

[2022-03-22 14:14] crapo opened #904 "Abbreviated conjunction of properties and/or property chains in queries"
It is normal in English to abbreviate conjunctions in the following way:
- "temperature and volume of a part" instead of "temperature of a part and volume of the part"
- "temperature and volume of the processing of a part" instead of "temperature of the processing of a part and volume of the processing of the part"
The SADL model processing can handle this construct and it makes sense to do so at

[2022-03-23 21:01] crapo commented on #904
@agabaldon , this is implemented in branch GH-904. Please check it out and make sure it works as expected in SADL and Dialog.

[2022-03-28 17:05] crapo opened #906 "SADL-Eclipse exits without any error message when no JDK is installed"
@agabaldon , @tuxji , moving this discussion from email to github.
I decided to take a naive approach so downloaded https://github.com/SemanticApplicationDesignLanguage/sadl/releases/download/v3.5.0-20220210/sadl-eclipse-win32.win32.x86_64-v3.5.0-20220210.zip and unpacked it on a Windows 11 laptop that has not had Eclipse installed on it. When I run eclipse.exe nothing happens. From a cmd window e

[2022-03-28 18:39] agabaldon commented on #904
Thanks @crapo. My use case is slightly more complicated and has a subclass of Process. Something like:

Process is a class
 	described by processNum with a single value of type string 	.

 SubProcess is a type of Process
  	described by temperature with values of type UnittedQuantity
 	described by volume with values of type UnittedQuantity
 	described by pressure with values of type UnittedQuanti

[2022-03-28 23:25] crapo commented on #904
@agabaldon , that I have fixed (not checked in). You're aware that implied properties aren't implemented for queries? Just in case you expected

"Ask: temperature and processNum of the processing of part1."

to return the value and units of temperature.

[2022-03-29 13:05] agabaldon commented on #904
Great. Thanks!

[2022-03-29 13:27] crapo commented on #904
@agabaldon , do you expect/do you want the query in question to return the value and units of temperature, as opposed to what would be, in any instance data, the bnode that is the instance of temperature?

[2022-03-29 13:52] agabaldon commented on #904
Yes. I already have code in JBDIP to deal with that. It actually helps because this way, the pseudorules have a single then triple (in the case of a simple query) with the relevant property (e.g. temperature) in it.

[2022-03-29 15:05] crapo commented on #904
Interesting. Making implied properties work for SADL queries and tests is on my to-do list. Do you foresee a problem in the future when implied properties for queries and tests (as well as rules) are handled by JBSMP and the SADL IFTranslator?

[2022-03-29 15:34] agabaldon commented on #904
That will require changes in the current JBDIP but I think that extension makes sense. Not necessary for immediate project needs though.

[2022-03-29 17:42] agabaldon commented on #904
Is it checked in?

[2022-03-29 21:26] crapo commented on #904
I just pushed updates to handle more complex situation to GH-904 branch. I have not created a PR. I think we need to make sure it handles all of your cases first.

[2022-03-30 00:27] agabaldon commented on #904
I tried the query

what is temperature and processNum of the processing of (a Part with partID "123")?

and the thenObj I get after the call to processAsk in JBDMP (line 906 in SGH-784 branch) is:

select v0 v1 v2 v3 where and(rdf(v0, propchains:processing, v1), and(rdf(v1, propchains:temperature, v2), rdf(v1, propchains:processNum, v3)))

It is missing the triple rdf(v0, propchains:partID "123").

[2022-03-30 14:20] crapo commented on #904
@agabaldon , nice new variation! Do you have any other variations that you can give me now so I can create a better set of test cases?

[2022-03-30 14:31] agabaldon commented on #904
I think that's the most complex one I have right now. Combines abbreviated property chains and indirect reference to the object(s) through properties. Maybe another variation is just saying "a Part" to get answers for all the Part instances.

[2022-03-31 17:34] tuxji commented on #906
I downloaded the same zip, unpacked it on my laptop (which has had the JDK installed on it), and the usual Eclipse windows appeared when I ran eclipse.exe.  I don't have a machine to test what happens when no JDK is installed on the machine, but I'm surprised too that there is no error when no Java virtual machine is installed.  The SADL product configuration file probably needs some kind of chang

[2022-03-31 17:45] tuxji opened #907 "SADL cannot highlight a SADL file in Eclipse 2022-03 with Xtext 2.26.0"
Xtext 2.26.0 appears to have changed or removed some highlighting API used by SADL.  When SADL is installed in Eclipse 2021-12 with Xtext 2.25.0, it can open and highlight a SADL file.  When SADL is installed in Eclipse 2022-03 with Xtext 2.26.0, it encounters exceptions when trying to open and highlight a SADL file.

[code]

[2022-04-04 22:18] crapo commented on #904
@agabaldon , I've generalized a bit more to handle this more complex case. Added more test to verify behavior with different constructs, both with and without indefinite and definite articles used in translation. Pushed to GH-904

[2022-04-06 12:58] crapo commented on #904
@agabaldon , please let me know when you feel this can be proposed as a PR to merge with development.

[2022-04-06 13:14] crapo commented on #440
Expanding the scope of this slightly to include queries as well as tests. In a query, implied properties can be used under certain conditions (TBD) to return additional results. Expanded properties might apply to filters in queries? Both implied and expanded properties can be applied in test statements. Created branch GH-440 from branch #GH-904.

[2022-04-11 15:24] agabaldon commented on #904
I'm trying it and it looks good so far, but I ran into another problem that is preventing me from running a full test.

[2022-04-11 18:05] agabaldon commented on #904
Well, strange. After pulling this branch, the method getUniquePropertyRange stopped working. The method calls getTheJenaModel().listStatements which now returns an empty iterator. Very strange as this was working before. The Jena model is from a dialog file that imports a number of other models, but the in-memory model has no statements (from the imports).

[2022-04-11 18:06] agabaldon commented on #904
getUniquePropertyRange is in the ASKE dialog code, by the way. But the problem seems to be with the in-memory model.

[2022-04-11 21:41] crapo commented on #904
Do you happen to have a small case that reproduces this error?

[2022-04-11 21:41] crapo commented on #904
Do you happen to have a small case that reproduces this error?

[2022-04-12 14:50] agabaldon commented on #904
Never mind. After switching branches back and forth and rebuilding, the problem went away. No idea what happened. I will now try a couple of tests and let you know so we can move forward with the PR. Thanks!

[2022-04-21 21:33] crapo commented on #904
@agabaldon , any progress on whether this is resolved? I'm working on some new functionality that depends on what was implemented for this issue and would like to merge this branch with development before too long....

[2022-04-26 15:36] agabaldon commented on #904
Sorry about the delay. It's working fine so we can close this.

[2022-04-26 15:36] #904 closed, assigned to crapo

[2022-05-10 11:25] dhuebner commented on #907
I think it is because of changed dependency to lsp4j 0.12.0, which now uses lsp 3.16.
So you can either switch back to Xtext 2.25 or will need to migrate to the new Xtext 2.26 API

[2022-06-15 12:44] crapo opened #940 "Maven build error"
I can no longer do a build due to an error coming from Maven, "No versions available for org.osgi.service:org.osgi.service.prefs:jar:[1.1.0,1.2.0) within specified range".

There's a discussion of this here: [https://stackoverflow.com/questions/72625637/maven-build-failed-due-to-jdt-dependencies-no-versions-available-for-org-osgi](https://stackoverflow.com/questions/72625637/maven-build-failed-due

[2022-06-15 20:07] tuxji commented on #940
I like the last answer of the discussion (exclude the dependency like below), and I would try that approach if I were you to see if it works:

[code]

[2022-06-16 15:22] crapo commented on #907
@dhuebner , I'm having a hard time finding what has changed in the "new Xtext 2.26 API" that is relevant to this problem. I'm not finding anything about how to replace ISemanticHighlightingStyleToTokenMapper. Can you point me to something to help me identify what has changed and how to use the new API?

[2022-06-16 15:24] crapo commented on #940
Maybe I don't understand this last option, but I added the exclusion but it made no difference. If I'm understanding this problem, it should go away on its own when the newer version of jars gets propagated? So maybe just wait for it to go away?

[2022-06-16 15:57] crapo opened #941 "SADL enhancement validation and Integration with dependent DSLs"
@agabaldon , @AbhaMoitra , @tuxji , @kaggour , @weisenje :
I have been working for quite a number of weeks on bringing together and completing implementation of several SADL functionalities.
1. [Implied properties](http://semanticapplicationdesignlanguage.github.io/sadl/ImpliedProperties.html), which were used in ASSERT(TM)
2. [Expanded properties](http://semanticapplicationdesignlanguage.github.i

[2022-06-19 06:40] tuxji commented on #940
@crapo I'm traveling, so I can't test changes for a while (I also saw your comment just now). I would suspect that you made the exclusion incorrectly.  However, I also see that the top answer in your StackOverflow article has been edited and seems clearer now. Its suggestion to import a bomb (bill of materials) from ECentral also makes sense.

[2022-06-21 08:28] dhuebner commented on #907
@crapo
I think `ISemanticHighlightingStyleToTokenMapper` was just removed, I also need to reimplement semantic highlighting in an other project https://github.com/theia-ide/yang-lsp/issues/221, but still not looked into it.
I would probably start looking into `semanticTokens` changes made here https://github.com/eclipse/lsp4j/pull/446

[2022-06-28 15:48] dhuebner commented on #907
@crapo
I pushed a first working draft version for Xtext 2.26 + LSP4j 0.12.0 (LSP 3.16). Maybe it can help you to start in SADL
https://github.com/theia-ide/yang-lsp/commit/4428d196077402ec40f7ff43cd0c4c24d7629bb3

[2022-06-29 12:06] crapo commented on #907
@dhuebner . this is very helpful. Thanks for sharing!!!

[2022-07-19 12:33] crapo opened #951 "Rule error when variable is equivalent to an instance"
Given the rule "Rule R4: if x is chips then Sam likes x." (from an SWI-Prolog tutorial), it is incorrectly translated to "if x is Food then Sam likes x." One approach would be to replace all occurrences of the variable with the instance in the post-processing stage.

[2022-07-19 13:06] crapo commented on #951
@agabaldon , For the Jena reasoner, the approach of replacing the variable with the instance and removing identities gives Jena rule "[R4: -> (http://sadl.org/test.sadl#Sam http://sadl.org/test.sadl#likes http://sadl.org/test.sadl#chips)]", which works fine.
For SWI-Prolog reasoner, what I thought was equivalent, ":- holds('http://sadl.org/test.sadl#likes', 'http://sadl.org/test.sadl#Sam', 'http:/

[2022-07-19 18:22] crapo commented on #951
@agabaldon , I guess it's simplier than I thought:
"holds('http://sadl.org/test.sadl#likes', 'http://sadl.org/test.sadl#Sam', 'http://sadl.org/test.sadl#chips')."

[2022-07-19 19:44] agabaldon commented on #951
Not sure about the context, but yes, what you had was a rule with empty head, and you wanted a fact: holds(...). or holds(...) :- True. In SWI-Prolog, the empty head rule syntax is only used for compiler directives, import, etc.

[2022-07-21 11:03] #951 closed, assigned to crapo

[2022-07-21 11:07] crapo opened #957 "Add tests of SWIPrologReasonerPlugin and SWIPrologTranslatorPlugin"
The catch is that tests of the reasoner and translator plugins can only be successfully executed if SWI-Prolog is installed and on the path of the current development environment. The tests should not actually fail if it isn't installed.

[2022-07-21 11:11] crapo commented on #957
@tuxji , @agabaldon : it would be nice to detect the presence (or not) of SWI-Prolog without starting it. On Linux this is easily done with the method below. Can you suggest if there is a reliable way to do so on Windows and Mac?

[2022-07-22 13:40] tuxji commented on #957
Hi @crapo, your approach can work on Windows if you use "where" instead of "which" on Windows, but a faster solution is to check the existence of the program in the path using Files.exists(...), see https://stackoverflow.com/questions/934191/how-to-check-existence-of-a-program-in-the-path.  The accepted answer (the first one) was last edited in March 2021.

[2022-07-27 14:39] agabaldon commented on #957
The same approach should work on Mac, assuming the user has added swipl to $PATH, which doesn't happen if one just installs SWI-Prolog as an app.